[2016-11-10 14:52] alexkmbk commented on #259
Занятость

[2016-11-10 15:15] EvilBeaver commented on #259
Проклятая штука )

[2016-11-10 15:46] EvilBeaver opened #359 "Сломан COMОбъект в версии 1.0.15"
А = Новый COMОбъект("V83.ComConnector");

Падает с ошибкой Внешнее исключение (System.Runtime.InteropServices.COMException): Не удалось получить фабрику класса COM для компонента с CLSID {181E893D-73A4-4722-B61D-D604B3D67D47} из-за следующей ошибки: 80040154 Класс не зарегистрирован (Исключение из HRESULT: 0x80040154 (REGDB_E_CLASSNOTREG)).}

[2016-11-10 15:59] EvilBeaver commented on #359
версия 1.0.15 переведена в режим AnyCPU. И пытается загрузить 64-разрядный ком-объект 1С Предприятия. Его, действительно, в системе нет. Вот и падает.

@dmpas есть идеи, чо делать?

[2016-11-10 16:04] artbear commented on #359
@EvilBeaver Если компоненты нет в системе, тогда падение закономерно и бага нет! или что-то другое?

[2016-11-10 16:07] EvilBeaver commented on #359
Ну так-то как бы да, но если мы выкатим в поставке односкрипт x64, то все скрипты, юзающие ком-коннекторы 1С (а это, как минимум, наш деплой, если ты помнишь) сломаются.

[2016-11-10 16:08] nixel2007 commented on #359
@artbear клиент 1с по умолчанию грузит 32битную версию компоненты. 64битную версию использует только х64 сервер

[2016-11-10 16:09] nixel2007 commented on #359
@EvilBeaver погоди, если поставка односкрипта будет х64, то логично, что требоваться будут 64битные компоненты. Это вполне ожидаемое поведение

[2016-11-10 16:10] EvilBeaver commented on #359
да, только отдельной поставки 64 нет. Есть AnyCPU. И она единственная. Т.е. человек, поставивший версию 15 не сможет юзать КомКоннектор 1С под 32 бита. Т.к. поставить версию x32 не сможет, ибо ее нет.

[2016-11-10 16:19] dmpas commented on #359
Вот уныние-то. Видимо, придётся ставить "anycpu32bitpreferred".

[2016-11-10 16:21] EvilBeaver commented on #359
Блин, все проще
*.exe делаются под 32 бита, а dll-под anycpu. И всем щастье. Цель из задачи #300 не пострадает

[2016-11-10 16:28] #359 closed, assigned to nobody

[2016-11-11 08:22] EvilBeaver opened #361 "Литералы после точки не компилируются"
Не срабатывает ТипЗначенияJSON.Null.

Также надо проверить:
 * Неопределено
 * Истина
 * Ложь

и сравнить с поведением 1С

see #360

[2016-11-11 11:43] #361 closed, assigned to nobody

[2016-11-11 12:35] alexkmbk commented on #259
@EvilBeaver
"...Но то не лень, а занятость, она
В который раз тиранит нас, тиранит нас." (Чайф)

Приложу сюда ссылку на пулреквест по объекту ЧтениеJSON - #360

[2016-11-13 14:06] dmpas commented on #319
office365 и mail.ru уже отправляют, яндекс и gmail пока ни в какую :(

[2016-11-15 10:48] #356 closed, assigned to nobody

[2016-11-17 09:20] dmpas opened #362 "Неизвестный символ: Message"
[code]

https://github.com/EvilBeaver/OneScript/commit/c29f33f736ca42305e254ba0a1e46f34041e2f0a#diff-8c563a877d4ee9837fb92cdc5351c76fR150

[2016-11-17 09:30] artbear commented on #362
@EvilBeaver @dmpas А как же, блин, тесты?
Неужели все тесты прошли?

[2016-11-17 09:32] pumbaEO commented on #362
Тесты не гарантируют 100% работоспособность, а только уменьшают вероятность появления ошибки.

[2016-11-17 09:42] artbear commented on #362
Женя, про 100% я, конечно, знаю :(
Тут вопрос в том, что ошибка ИМХО достаточно критичная и нарваться на нее можно было быстро при запуске разных скриптов, в т.ч. и тестов.
Поэтому у меня и возник вопрос - а как же тесты? тесты где?

[2016-11-17 12:57] dmpas commented on #362
@artbear у движка с тестами своей внутренней кухни пока что плоховато. Вот легендарная 2.0 прям вся в лучших традициях ТДД :)

[2016-11-17 13:00] artbear commented on #362
@dmpas Про 2.0 слышу очень давно, неужели Андрей еще ее не забросил? :)

у нас полно **приемочных** тестов движка, как я уже писал, странно, что они не сработали.
Возможно, что их не запускали :)

[2016-11-17 13:01] dmpas commented on #362
@artbear насколько я помню, ни один приёмочный тест не заморочен на проверку всех возможных английских псевдонимов.

[2016-11-17 13:20] artbear commented on #362
@dmpas Но сейчас-то ты добавишь тест на Message ? в лучших традициях разработки :)

[2016-11-17 13:22] artbear commented on #362
@dmpas Увидел коммит, теста не увидел :( не гуд!

[2016-11-17 13:30] dmpas commented on #362
@artbear там сейчас не просто **тест** надо запилить, там сейчас вообще **тестирование** надо делать, так как оно там отсутствует. А с этим надо отдельно подумать.

[2016-11-17 13:34] dmpas opened #363 "Добавить тестирование в движок"
По мотивам https://github.com/EvilBeaver/OneScript/issues/362

Стоит добавить NUnit-проект с тестами внутренностей движка.

[2016-11-17 13:55] artbear commented on #362
@dmpas ИМХО ты не прав. Тестирование не отсутствует полностью.
Есть приемочные тесты, которые прогоняются через CI
А вот внутренних тестов (быстрых юнит, приемочных), которые прогоняются в среде сборки, не хватает, это верно.

[2016-11-17 13:58] dmpas commented on #362
@artbear я про внутреннее тестирование и говорю. Внешними тестами никак не проверить, что какой-то там `ContextMethodMapper` при каких-то там условиях делает не то, что нужно. Потому что это всё скрыто он внешнего мира. Инкапсуляция и разделение ответственности.

[2016-11-20 08:51] ghost commented on #243
@EvilBeaver пытались сегодня впилить в gitsync поддержку тэгов, чтобы тэгировал версии конфигурации находящиеся в Configuration..xml - вспомнил про эту задачу.
Нет новостей @CryptedSky ?

[2016-11-20 15:03] alexkmbk commented on #256
Приведу usecase: Объект ПараметрыЗаписиJSON может быть заполнен только через конструктор, у него все свойства только для чтения.
То есть без этого функционала, полнофункциональную реализацию объекта ЗаписьJson сделать просто не возможно.
О чем вообще думали разработчики, придумывая этот объект...

[2016-11-20 15:51] dmpas commented on #256
@alexkmbk разработчики нюхнули функционального программирования. Неизменяемые объекты - там эта концепция одна из основополагающих.

[2016-11-20 16:43] EvilBeaver commented on #256
@alexkmbk уточни, пожалуйста, как твой комментарий относится к теме данного issue? ПараметрыЗаписиJSON это же системный объект, а не скриптовый.

[2016-11-20 16:44] #362 closed, assigned to nobody

[2016-11-20 16:49] EvilBeaver commented on #363
😢 ну нетути его, нетути...

[2016-11-20 17:00] alexkmbk commented on #256
@EvilBeaver Значит я не так понял. Просто у меня сейчас возникли непонятные ошибки с передачей параметров в конструктор и увидев этот issue я подумал что поддержки нет в самом движке.

[2016-11-20 17:02] nixel2007 commented on #256
Нет поддержки передачи параметров в конструктор класса, объявляемого библиотекой или через ЗагрузитьСценарий. Парометры в системных конструкторах конечно же есть.

[2016-11-21 07:21] ghost commented on #363
я бы предложил арендовать speclog для OpenSource организации - тогда дело бы пошло быстрей.

[2016-11-21 08:18] nixel2007 opened #366 "Переопределение переменных среды в СоздатьПроцесс"
Если вкратце, то для Новый Процесс нам необходима еще возможность переопределения переменных окружения
именно для этого процесса.

Andrei Ovsiankin 15:12
А сейчас УстановитьПеременнуюСреды не устраивает чем-то?

Shenja Sosna 15:12
Сейчас приходится запоминать старое значение, переопределять его, делать выполнение процесса и потом возвращать старое значение.

Andrei Ovsiankin 15:12
Дочерний процесс

[2016-11-27 12:20] dmpas commented on #319
smtp работает: yandex, gmail, office365 и mail.ru поддались.
pop3 начал пилить.

ссылка на всякий случай: https://github.com/dmpas/oscript-mail.git

[2016-12-01 14:28] emakei opened #368 "Ошибка инициализации COMОбъект"
{Модуль <string> / Ошибка в строке: 2 / Внешнее исключение (System.Runtime.InteropServices.COMException): Не удалось получить фабрику класса COM для компонента с CLSID {181E893D-73A4-4722-B61D-D604B3D67D47} из-за следующей ошибки: 80040154 Класс не зарегистрирован (Исключение из HRESULT: 0x80040154 (REGDB_E_CLASSNOTREG)).}
Коннектор = Новый COMОбъект("V83.ComConnector")
Error detected. Exit code =

[2016-12-01 14:35] EvilBeaver commented on #319
Ждемс!

[2016-12-01 14:50] dmpas commented on #368
@mrDSide прям свежая ночная сборка? вроде ж это уже правили в начале ноября

https://github.com/EvilBeaver/OneScript/commit/5b65b40a4063744b64b90b33b49c61239fd29790

[2016-12-01 14:56] emakei commented on #368
Прям только что скачал ) Проверил буквально несколько функций и вот результат. Качал по ссылке [ночной сборки](http://oscript.io/downloads/night-build/exe). Система Win 8.1 x64

[2016-12-01 14:57] EvilBeaver commented on #368
Проверю. Это действительно, недавно фиксили

[2016-12-02 09:12] dmpas commented on #368
@EvilBeaver правда, не включилась 32-битка в exe-шнике
[code]

[2016-12-02 13:30] dmpas commented on #319
pop3 в первом приближении заработал. Берусь за IMAP.

[2016-12-03 13:48] #333 closed, assigned to nobody

[2016-12-03 23:11] ghost opened #369 "Бейджики и Sonar"
в целях популяризации

* добавить бейджик travis-ci со статусом
* добавить бейджик appveynor со статусом

а также - добавить SonarMSBuild к AppVeynor
и сделать

* бейджик Sonar Tech Debts

//cc @nixel2007

[2016-12-04 05:58] EvilBeaver commented on #333
@bambr1975 проблема ушла?

[2016-12-04 15:27] bambr1975 commented on #333
Не было проблемы. Все в порядке))) Нужно почаще перечитывать MSDN)))

[2016-12-09 11:30] dmpas opened #371 "ОдноСкрипт Неопределено === C# null"
Предлагаю внутри в коде не выделять отдельно `DataType.Undefined` и считать за Неопределено любое null-значение.

Основной посыл: когда разрабатывается функционал на языке C#, то на `null` проверка есть всегда, а на Неопределено обычно заб(ы|и)ваем. С другой стороны, проверка на Неопределено несёт в себе просто дублирование логики, ибо поведение ничем не отличается от `null`.

[2016-12-09 11:37] artbear commented on #371
+1

Добавлю, что из-за этого `заб(ы|и)ваем` в гитсинке появилась неприятная ошибка, которая еще 2 недели находилась в девелоп :(

[2016-12-09 11:47] EvilBeaver commented on #371
А можно подробнее, в каком месте в метод пришло неопределено вместо c#null?

[2016-12-09 11:51] artbear commented on #371
Обсуждение https://gitter.im/EvilBeaver/oscript-library?at=584a91a29ce5147013cd0817

[2016-12-09 11:59] dmpas commented on #371
@EvilBeaver  всё просто:
[code]

приходит Неопределено

[2016-12-09 12:22] EvilBeaver commented on #371
1C делает четкую разницу между не переданным параметром и Неопределено. И есть классы, которые не принимают Неопределено в качестве необязательного параметра. Т.е. у них, как и у нас, зависит от реализации класса контекста.

Я понимаю неудобство, но жестко делать эквивалент не хочу.

[2016-12-09 12:24] EvilBeaver commented on #371
Например, делаем хелпер-метод в utils, типа IsNullOrUnfefined. Кроме того, в маршаллере если параметр заявлен как Ivalye, то неопределено разрешаем, а если конкретный тип, то приводим к нулл

[2016-12-09 12:26] dmpas commented on #371
это какие? там, наверное, значение по-умолчанию есть какое-то определённое и простозначное?

[2016-12-09 12:29] EvilBeaver commented on #371
Да, там точно помню было необязательный аргумент и Неопределкно вызывало исключение, мол, неверный тип аргумента. Класс не помню, возможно хттпСоединение и параметр Прокси

[2016-12-09 12:31] EvilBeaver commented on #371
Я за хелпер-метод IsNullOrUndefined. Все таки, это не эквивалент с непереданным

[2016-12-09 13:16] awa15 commented on #371
Сорри что влезаю, я совсем не понимаю ваши сишарпные заморочки, но мне показалось, что вы все немного ошибаетесь. Null в 1С не есть непереданное значение, точно так же и Неопределено не есть непереданное значение. Андрей, я тебе как-то передавал коды операций виртуальной машины 1С. Есть 3 разных кода операций в виртуальной машине 1С. Код 8 - Загрузить на стек Неопределено, код 9 - Загрузить на сте

[2016-12-09 13:21] awa15 commented on #371
Хотя, сорри, ваше c#null, наверно и есть такое третье пустое значение.

[2016-12-11 08:44] dmpas opened #373 "Расширить `InvalidArgumentValue`"
Сейчас `RuntimeException.InvalidArgumentValue()` не принимает вообще никаких аргументов. Предлагаю расширить именем аргумента и условным пояснением.

[2016-12-11 08:46] EvilBeaver commented on #373
Принято

[2016-12-11 08:47] dmpas commented on #355
Эту, может, закрыть уже?

@EvilBeaver @fenixnow

[2016-12-11 12:41] dmpas commented on #319
Запилил получение через IMAP: https://github.com/dmpas/oscript-mail/releases/tag/1.0.1

[2016-12-11 16:06] #355 closed, assigned to nobody

[2016-12-11 19:35] dmpas commented on #103
@EvilBeaver @Pr-Mex закрываем?

[2016-12-11 19:37] dmpas commented on #50
@EvilBeaver может, ну её, эту задачу? два года никто не жалуется.

[2016-12-11 19:38] dmpas commented on #64
@EvilBeaver эту закрыть, наверное, надо?

[2016-12-11 19:59] dmpas commented on #259
Это ж запилили: и чтение, и запись. Да?

[2016-12-11 20:23] EvilBeaver commented on #50
Да пусть будет, как маячок

[2016-12-11 20:24] EvilBeaver commented on #319
Можно утаскивать в библиотеку?

[2016-12-11 21:11] artbear commented on #50
я жалуюсь, но я устал жаловаться :(

[2016-12-11 21:12] artbear commented on #259
Ага, меня также интересует, можно ли юзать в качестве полной замены пакета json ?

[2016-12-11 21:13] artbear commented on #64
+1 за закрытие

[2016-12-11 21:14] artbear commented on #103
ИМХО нужно закрывать, т.к. все выполнено. мой тест проходит.

[2016-12-11 21:49] dmpas commented on #319
Рано. Отправки через IMAP нет и зависимость от 15-й версии.

[2016-12-11 21:51] dmpas commented on #50
@artbear ты тогда почаще материализуй свои жалобы во всенародно читаемые примеры. :)

[2016-12-11 22:09] #103 closed, assigned to nobody

[2016-12-11 22:09] #64 closed, assigned to nobody

[2016-12-11 22:10] EvilBeaver commented on #259
Насколько я знаю, полной замены пакету json нет, есть только потоковое чтение. А чтения сразу в структуру или соответствие так и нет. Хотя можно закрыть и оформить другую задачу, про сериализацию объектов.

[2016-12-12 07:13] Pr-Mex commented on #103
:-)

[2016-12-12 16:49] alexkmbk commented on #259
@artbear @dmpas  Ну эта задача изначально не предполагала реализацию замены пакета json, задача была обеспечить совместимость с функционалом платформы, что и было сделано и для чтения и для записи (с некоторыми оговорками). А совместимость с пакетом json это другая задача.

[2016-12-14 07:14] EvilBeaver opened #375 "Объявить функцию Выполнить() как DEPRECATED"
Для совместимости с 1С и возможности в дальнейшем реализовать функционал оператора Выполнить требуется запретить компиляцию метода с таким именем.

Для начала, добавить предупреждение в системный вывод при компиляции такого метода.

[2016-12-14 07:25] nixel2007 commented on #375
Да, сонар вчера изрядно поругался на нее

[2016-12-14 07:31] dmpas commented on #375
гы, а чё, есть такая???

[2016-12-14 07:39] Alienjob opened #376 "Возможно объявить переменную после кода [old Странное поведение]"
Не работает, ругается что нет точки с запятой в строке 3

Сообщить("Привет мир!");
Перем ТекДата;
ТекДата = ТекущаяДата();
Сообщить(ТекДата);

Работает
*******************************
Перем ТекДата;
ТекДата = ТекущаяДата();
Сообщить(ТекДата);
**********************************
Сообщить("Привет мир!");
Перем ТекДата;
;
ТекДата = ТекущаяДата();
Сообщить(ТекДата);

[2016-12-14 07:44] dmpas commented on #376
@Alienjob какая версия движка? Вообще, нынешний движок не любит объявление переменных после того, как начались команды тела модуля. Но ошибка, правда, невнятная, странная.

[2016-12-14 07:46] dmpas commented on #376
Забавно, так тоже сработало:
[code]

[2016-12-14 07:49] Alienjob commented on #376
только что скачал актуальную, не ночную

[2016-12-14 07:50] dmpas commented on #376
Спасибо, поправим.

По логике должна выдаваться синтаксическая ошибка на второй строке.

[2016-12-14 07:50] EvilBeaver commented on #376
эээ, чуваки, так не должно быть. Объявление переменной после начала кода не должно работать вообще!

[2016-12-14 07:52] EvilBeaver commented on #375
@dmpas я могу объявить такую функцию в скриптах, но не в 1С. И эта функция уже сильно распространена в библиотеке. Нужно ее вытеснить оттуда.

[2016-12-16 10:19] dmpas commented on #183
тут всё глухо, как я понял?

@allustin @pumbaEO @EvilBeaver

[2016-12-16 10:25] artbear commented on #183
Так 1скрипт давно уже умеет ставиться и без шоколада.
Мой репозитарий https://github.com/artbear/OneScript-install

И Вин, и Линукс.
Проверено на travis-ci и appveoyor

[2016-12-16 10:30] artbear commented on #183
Упс, оказывается, я выше уже писал о репо :)

[2016-12-16 10:32] artbear commented on #183
Примеры развертывания 1скрипта на новых виртуалках
+ https://github.com/artbear/1testrunner/blob/develop/.travis.yml
+ https://github.com/artbear/1testrunner/blob/develop/appveyor.yml

[2016-12-16 10:33] dmpas commented on #183
@artbear

ну если задача сводится только к установке последней версии на целевую машину, то твои скрипты решают вопрос.

а если всё-таки заявитель хочет заиметь шоколадный пакет со всеми его шоколадными прелестями - это другой вопрос.

задачу надо закрыть либо как выполненную, либо как забитую.

[2016-12-16 14:37] ghost commented on #183
ну закрывайте

p.s. "заявитель" блин - прям напрягли

[2016-12-16 18:17] JohnyDeath commented on #183
Почему закрывать? Заявитель говорил именно о шоколаде

[2016-12-16 18:19] EvilBeaver commented on #183
Закрывать не надо. Забитые задачи должны мозолить глаза и мучить совесть. А ну как придет контрибьютор и возьмется?

[2016-12-16 18:21] JohnyDeath commented on #183
Так @pumbaEO пулял туда запрос уже очень давно. Но что там не так он не говорит почему-то

[2016-12-18 09:53] Infactum opened #377 "Бесконечный цикл при переборе строк текстового документа"
1Script Execution Engine. Version 1.0.15.250
Ubuntu 16.04.1 LTS

**data.txt**
[code]

**bug.os**
[code]
Уходит в бесконечный цикл. Пример взят из vanessa-runner.
Причина именно в `СтрЗаменить`

[2016-12-18 09:54] dmpas commented on #377
@Infactum а можно файл вложить, а не скопипастить?

[2016-12-18 10:09] Infactum commented on #377
СтрЗаменить() возвращает пустую строку. Баг переходит в vanessa-runner.

[2016-12-18 10:09] #377 closed, assigned to nobody

[2016-12-18 12:05] dmpas commented on #319
@gubanoff https://github.com/dmpas/oscript-mail/releases/tag/1.0.2

@EvilBeaver
Предлагаю здесь задачу закрыть и все остальные вопросы решать в соответствующем хоронилище.

[2016-12-21 09:05] nixel2007 opened #378 "В форматной строке перепутаны значения для булевых переменных"
Формат(Покрыто, "BF=false; BT=true")
если покрыто = истина, то выводится false

[2016-12-22 20:34] SergeyDjam commented on #342
пакет для ROSA Linux собрал.

[2016-12-22 20:42] dmpas commented on #342
@SergeyDjam там же вроде rpm? rpm можно и сейчас скачать с http://oscript.io/downloads

[2016-12-22 20:50] SergeyDjam opened #379 "отсутствие опций -run и -runall"
Версия oscript 1.0.14
OS ROSA Linux R8 x86_64
1C 8.3.9

В разделе OneScript-1.0.14/tests находятся скрипты запуска тестирования: start.sh и start_all.sh
где присутствует такая строка:
../src/oscript/bin/Debug/oscript.exe testrunner.os -runall $@ или ../src/oscript/bin/Debug/oscript.exe testrunner.os -run $@

Есть две проблемы:
1. при таком запуске oscript требует wine, наверное вернее строку указа

[2016-12-22 20:55] dmpas commented on #379
1. в частности в убунте работает и без вайн, но прописывать в начале mono - это всё равно правильно, согласен

2. опции -run и -runall находятся не в движке, а в скрипте testrunner.os

[2016-12-22 21:13] SergeyDjam commented on #379
тогда выходит такая штука:

./start.sh .
 Версия приложения 1.0.14.0
{Модуль /home/admin/rpmbuild/BUILD/OneScript-1.0.14/tests/testrunner.os / Ошибка в строке: 331 / Пока не умею обрабатывать каталоги тестов}
Tests failed

и

./start-all.sh .
Упали тесты. Количество 2 шт :
    тест №1 : ТестДолжен_ПроверитьПолучениеКаталогаВПолномПути : путь файла </home/admin/rpmbuild/BUILD/OneScript-1.0.14/tests

[2016-12-22 21:17] dmpas commented on #379
первый вариант запуска неверен - `start.sh` используется для запуска ОДНОГО файла теста.

второй вариант правильный и он честно сознаётся, что два теста не прошли. Почему - это уже надо разбираться. :) как вариант - попробовать ночную сборку.

[2016-12-22 21:18] SergeyDjam commented on #379
Понял. Спасибо

[2016-12-22 21:39] SergeyDjam commented on #342
Предложенный вариант под Fedora. Мною собран пакет для ROSA с учетом особенностей этой ОС. Также добавлены скрипты запуска для удобного использования в системе.
Также размещены пакеты в сборочной и подготовлен репозиторий для удобного управления пакетами и автоматического обновления.

urpmi.addmedia djam_personal http://abf-downloads.rosalinux.ru/djam_personal/repository/rosa2014.1/x86_64/main/rel

[2016-12-22 21:44] dmpas commented on #342
Спасибо, это здорово! А можно краткий ликбез, что там за особенности и что было добавлено?
Сейчас при сборках пакетов мы добавляем скрипты oscript и opm в $PATH, чтобы удобно было использовать.

[2016-12-22 21:48] SergeyDjam commented on #342
https://abf.io/djam/onescript/blob/master/onescript.spec тут подробнее

[2016-12-23 13:33] SergeyDjam commented on #342
не подскажите где посмотреть информацию об opm.

Я бы попробовал сформировать такие же пакеты для РОСЫ.

[2016-12-23 13:39] dmpas commented on #342
@SergeyDjam

этот скрипт добавляется в PATH
https://github.com/EvilBeaver/OneScript/blob/develop/install/builders/deb/oscript-opm

сам OPM входит в стандартную поставку: https://github.com/oscript-library/opm

[2016-12-23 13:50] SergeyDjam commented on #342
благодарю

[2016-12-26 21:20] #368 closed, assigned to nobody

[2016-12-26 21:24] #378 closed, assigned to nobody

[2016-12-26 21:52] nixel2007 commented on #378
о как, оно еще и именно для английского языка было. понятно, спасибо!

[2016-12-26 21:57] #376 closed, assigned to nobody

[2016-12-27 02:04] ghost commented on #369
и codecov

[2016-12-29 14:05] demidych opened #381 "ЗапуститьПриложение("git") открывает проводник"
При запуске скрипта с кодом
`
ЗапуститьПриложение("git");
`
открывается проводник с каталогом "D:\Tools\Git", в котором в папке "bin" лежит "git.exe".

Если изменить на
`
ЗапуститьПриложение("git.exe");
`
то запускается git нормально.

В 1С работают правильно оба варианта.

Т.к. ЗапуститьПриложение("git") часто встречается в скриптах, то получается я один с такой ошибкой. Видимо какие-то настройки

[2016-12-29 14:23] nixel2007 commented on #381
Как временный обходной путь - попробуйте СоздатьПроцесс. Или сразу библиотеку 1commands.

[2016-12-29 14:30] artbear opened #382 "Падает TestApp при нажатии Выполнить"
Только что скачал стабильную версию.
1.0.15.260

Написал в окне `ЗапуститьПриложение("git");`
получил вылет приложения

Пишу `f=1;`, запускаю и вылет.

Вин10 64

Заметил еще на ночниках текущей ветки девелоп - месяца два или даже более.

Кто виноват и что делать?

[2016-12-29 14:35] artbear commented on #381
Потроллю Никиту - или сразу гитраннер, чего уж :)

[2016-12-29 14:36] artbear commented on #381
@demidych в командной строке напиши `where git` и посмотри, какие там приложения стоят.

[2016-12-29 16:38] #259 closed, assigned to nobody

[2016-12-29 16:38] #264 closed, assigned to nobody

[2016-12-29 16:38] #265 closed, assigned to nobody

[2016-12-29 16:43] EvilBeaver commented on #382
подтверждаю.

[2016-12-29 16:53] nixel2007 commented on #264
я подниму внимание к цитате @awa15
@EvilBeaver @artbear @pumbaEO @Infactum

[2016-12-29 17:30] awa15 commented on #264
@nixel2007
Именно это извращение я и попытался запустить на новой версии оскрипт. Однако сразу уперся в нереализованность ЧтениеДанных. @EvilBeaver зачем закрыл задачу? Ведь до конца она не выполнена?

[2016-12-29 17:53] nixel2007 commented on #264
@awa15 вроде бы @EvilBeaver говорил, что реализация ЧтениеДанных почти полностью свопадает с БуферДвоичныхДанных. по крайней мере я так понял. это не так?

[2016-12-29 18:12] demidych commented on #381
@nixel2007
Как временный - работает ЗапуститьПриложение("git.exe")

[2016-12-29 18:17] demidych commented on #381
@artbear
where git
d:\Tools\Git\bin\git.exe

[2016-12-29 18:55] demidych commented on #381
Переименовал d:\tools\git в d:\tools\git2 (и в path поменял) и  заработало "ЗапуститьПриложение("git")"
Я так понимаю где-то прописана ассоциация на git и это приводит к открытию папки.

Но вообще это странный способ применения этого метода.
Я всегда считал, что ЗапуститьПриложение() необходимо использовать только для запуска ассоциированного приложения. Например, ЗапуститьПриложение("1.pdf") чтоб

[2016-12-29 19:13] EvilBeaver commented on #264
Я закрыл задачу, а доработку оформлю другой более конкретной задачей

[2016-12-30 02:40] Infactum commented on #264
Если все так любят переписывать v8unpack, то что мешало его в виде плагина к oscript оформить? Уж на C# все бы явно быстро работало, и никаких проблем с кроссплатформенностью.
Если очень хочется именно с использованием механизмов работы с ДД все сделать, то логично было бы в качестве плагина хотя бы работу с gzip добавить, т.к. очевидно это самая медленная часть.

[2016-12-30 05:57] dmpas commented on #264
@Infactum да ничего не мешало, просто выбор стоял - его переписывать или двоичные данные в движок запилить. Второе победило, ибо более широкий круг задач покрывает.

[2017-01-06 08:33] dmpas commented on #182
@EvilBeaver я тут взялся, не серчай :smiley_cat:

[2017-01-08 21:42] best-tech opened #384 "Запись текста без BOM"
ЗаписьТекста = Новый ЗаписьТекста ;
ЗаписьТекста.Открыть(ПутьНазначения,"UTF-8");

Записывает файл с BOM

Возможность указать без BOM отсутствует

[2017-01-08 21:52] dmpas commented on #384
[code]

[2017-01-08 22:09] nixel2007 commented on #384
Запись с bom - поведение, совпадающее с платформой.
Для записи без бом специально добавлена отдельная кодировка

[2017-01-09 15:40] nixel2007 opened #385 "oscript.cfg - читать из CWD"
Предложение добавить чтение oscript.cfg не только из КаталогаПрограммы() + месторасположения скрипта, но и из текущей рабочей директории.

Сценарий использования:
[code]

Библиотеки ставятся в oscript_modules от CWD, запуск oscript.exe зачитывает находящийся в CWD каталог с библиотеками и начинает работать с ними.

[2017-01-09 19:53] rsyuzyov commented on #385
+1

[2017-01-09 19:55] EvilBeaver commented on #385
Эм... Это все хорошо, но я не понял зачем...

[2017-01-09 21:17] nixel2007 commented on #385
Допустим у меня в репе лежат несколько скриптов. Да ещё и в разных каталогах. Сейчас для переопределения настроек oscript мне надо класть oscript.cfg рядом с каждым из скриптов. Если эти настройки будут забираться из CWD, то мне достаточно один раз из положить в корень проекта.

[2017-01-10 04:56] EvilBeaver commented on #385
Конфиг файл - это настройка приложения. И она должна лежать рядом с приложением (в данном случае со скриптом). А забор настройки из cwd для меня подозрителен. Я так и не понял, что за настройки движка ты хочешь переопределять и для чего?

[2017-01-10 06:42] nixel2007 commented on #385
Хочу переопределять lib.system и lib.additional

[2017-01-10 08:37] EvilBeaver commented on #385
Никит, я тя убью )
Ты можешь сразу сказать ЧТО ты хочешь делать, а не КАК ты предполагаешь это делать?

[2017-01-10 08:40] nixel2007 commented on #385
@EvilBeaver ^_^

Глобально - хочу отставить в Program files только opm + его зависимости. В идеале - его зависимости в opm/oscript_modules

Все остальные зависимости - в oscript_modules в корне проекта.

Причины все те же (если исключить мое "идеальное" видение мира, о чем со мной с удовольствием поспорит @dmpas ;) ) - максимальная изоляция скрипта/приложения от окружения.

[2017-01-10 08:44] dmpas commented on #385
@nixel2007  вот пусть в каталоге скрипта и лежит конфиг его окружения.

[2017-01-10 08:50] nixel2007 commented on #385
@dmpas знаешь, я в целом с тобой согласен. и согласен с @EvilBeaver о том, что забирать конфиг из CWD в обещм случае - это подозрительно.

Просто хочется иметь легкий способ переопределить поведение oscript не глобально навсегда (в программ файлс), а грубо говоря в рамках текущего окна cmd/проекта. Конфиг рядом с каждым скриптом это позволяет сделать, согласен, просто менее удобный способ.

[2017-01-10 08:53] pumbaEO commented on #385
А вот тут я напомнюсь, помните просил когда-то, что-бы путь к библиотекам, можно было переопределить в переменной окружения (так питон тоже позволяет сделать).

[2017-01-10 09:12] EvilBeaver commented on #385
@pumbaEO, это можно

[2017-01-11 06:22] dmpas commented on #231
@EvilBeaver

А можешь привести лёгкий сценарий такого лёгкого попадания?

[2017-01-11 06:35] best-tech commented on #384
спасибо за информацию
Кодировка UTF-8 без BOM называется "CESU-8".

[2017-01-11 06:35] #384 closed, assigned to nobody

[2017-01-11 07:37] Faithfinder opened #386 "Отсутствует ПолучитьCOMОбъект() из 1С"
Заголовок говорит сам за себя

[2017-01-11 07:49] EvilBeaver commented on #386
Добавлю, нужно для работы с WMI/ActiveDirectory и прочим таким.

[2017-01-11 07:55] EvilBeaver commented on #231
Да, есть статья в MSDN, краткая суть:

Есть два потока выхлопа: stdout и stderr. Если оба они будут читаться синхронно, то это потенциальный deadlock. Один из них должен читаться другим потоком в фоне.

У потока процесса есть некий буфер, куда он гадит. При переполнении буфера (если читающее приложение не вычитывает буфер), то ОС приостановит поток, ожидая, пока буфер вычитают.

Приложение читает

[2017-01-11 07:56] EvilBeaver commented on #182
Я только рад :)

[2017-01-11 10:51] dmpas opened #388 ""Символы" не перечисление, а набор значений"
https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/SymbolsEnum.cs#L14

В альма-матери они входят не в "Системные перечисления", а в "Системные наборы значений" и не создают нового типа значений.

По большому счёту нигде не мешает, но для справедливости надо переделать во что-нибудь иное.

[2017-01-11 12:57] EvilBeaver commented on #388
Согласный

[2017-01-12 07:08] dmpas commented on #183
@pumbaEO призовись!

[2017-01-12 08:21] pumbaEO commented on #183
Создаем шаблон:
[code]
редактируем onescript.nuspec и заменяем все что в _REPLACE_
и финальный после этого выполняем
[code]
после этого стандартно
[code]
но для отправки, Андрею надо зарегистрироваться и получить api для публикации.

[2017-01-12 08:24] dmpas commented on #183
@pumbaEO звучит вроде просто. а затык в чём был?

[2017-01-12 08:26] pumbaEO commented on #183
Просто год назад, было значительно проблемней.

[2017-01-12 15:12] #182 closed, assigned to nobody

[2017-01-14 09:20] EvilBeaver opened #390 "Свойство ProduceExtraCode компилятора бесполезно"
Код отслеживания покрытия (LineNum) всегда генерируется независимо от свойства ProduceExtraCode, поскольку в AddCommand никогда не передается последний добавленный параметр.

@dmpas, призовись.

[2017-01-14 11:05] dmpas commented on #390
Призвался. LineNum же не только для отладки, а для исключений ещё, потому он всё равно будет добавляться, просто не во всех случаях он нужен.

https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine/Compiler/Compiler.cs#L1503

Вот тут передаётся параметр, я не стал передавать его везде, потому что слишком много логики менять пришлось бы. Надо продолжить работу в этом направлении, сог

[2017-01-15 11:24] dmpas commented on #304
@EvilBeaver я тут поковырялся: https://github.com/EvilBeaver/OneScript/pull/391

[2017-01-16 14:01] khorevaa opened #392 "ЗаписьXML.ЗаписатьТекущий"
Работает не в соответствии со справкой 1С.
А именно выполняет чтение xml. Согласно справки не должно (выделено)

Из справки 1С:

ЗаписьXML (XMLWriter)
ЗаписатьТекущий (WriteCurrent)
Синтаксис:

ЗаписатьТекущий(<ЧтениеXML>)
Параметры:

<ЧтениеXML> (обязательный)

Тип: ЧтениеУзловDOM, ЧтениеFastInfoset, ЧтениеXML.
Объект чтения XML, текущее состояние которого будет использовано для записи очередных

[2017-01-16 15:12] EvilBeaver commented on #392
А справка не врет? ЕМНИП, чтение источника как раз выполняется и это гуд

[2017-01-17 10:12] 1cwin opened #393 "ЗаписьТекста ведет неадекватно описанию"
Не создается новый файл. А всегда записывается в конец.
Параметр append пишется как текст в виде Да/Нет...

13.12.2016 16:36:13         myRetail/ЗагрузитьКлассификатор.epfДа13.12.2016 16:54:31      myRetail/ЗагрузитьСоответствие.epfДа

[2017-01-17 10:12] 1cwin commented on #393
15 версия...

[2017-01-17 10:20] dmpas commented on #393
@1cwin пример кода можно? append должен быть четвёртым параметром, а тут складывается ощущение, будто он идёт третьим - как "РазделительСтрок"

[2017-01-17 10:21] dmpas commented on #393
http://oscript.io/syntax/page/%D0%97%D0%B0%D0%BF%D0%B8%D1%81%D1%8C%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D0%B0

в документации ошибка в описании конструктора "По имени файла и кодировке" :(

[2017-01-17 10:23] 1cwin commented on #393
ок.

[2017-01-17 10:28] khorevaa commented on #392
К сожаленью приходится тогда ставить костыли..  Пример вот здесь https://gist.github.com/Khorevaa/63ee23661878a7c03a115ce1f4a5545d

Переменная "НеНадоЧитать" - )) В общем править или нет вам решать )

[2017-01-17 10:30] nixel2007 commented on #393
не надо закрывать! :) надо пофиксить документацию

[2017-01-18 10:48] EvilBeaver commented on #382
@artbear у меня как-то самопочинилось на последнем коде в develop.... Можешь уточнить, работает или нет?

[2017-01-19 19:32] #390 closed, assigned to nobody

[2017-01-22 13:17] artbear opened #396 "Как выполнять доработку стандартных пакетов (Разработка, тестирование) ?"
У меня сложилась интересная ситуация при разработке/тестирования пакета 1commands

Прогоняю бдд-фичи проекта 1commands через другой проект 1bdd
код вызова `call 1bdd features -junit-out ./bdd-log.xml`
и получаю ошибку https://ci.appveyor.com/project/artbear/1commands/build/1.2.27#L352

Проблема в том, что в локальном коде и репозитарии проекта выполнено добавление указанного метода `УстановитьПрав

[2017-01-22 13:20] artbear commented on #396
Сейчас я выполняю обход следующим костылем: удаляю папку проекта из стандартной поставки и вместо этой папки создаю симлинк на папку репозитария проекта.

ИМХО так работает на локальной машине, но приходится вручную заморачиваться :(

И на CI из-за этой проблемы билды падают - https://ci.appveyor.com/project/artbear/1commands/build/1.2.27#L352

[2017-01-22 15:08] nixel2007 commented on #396
lib.additional?

[2017-01-22 15:36] artbear commented on #396
@nixel2007 Расшифруй.
Еще раз - сначала стартует 1bdd со штатными пакетами и их штатной реализацией, а уже потом доходит дело до моих тестовых шагов с новой реализацией

[2017-01-22 16:59] nixel2007 commented on #396
ты дорабатываешь 1commands в e:\git\1commands.
Указываешь lib.additional e:\git
Таким образом, когда ты запускаешь 1тестраннер, он подхватывает 1commands из гитового репо, а не из программ файлс.

[2017-01-22 16:59] nixel2007 commented on #396
возможно только надо будет package-loader положить в e:\git.
Надо проверитью

[2017-01-22 18:23] artbear commented on #396
Указываешь lib.additional e:\git
Таким образом, когда ты запускаешь 1тестраннер, он подхватывает 1commands из гитового репо, а не из программ файлс.

сейчас у меня на машине разработки так и сделано.
Выдается описанная выше ошибка :(

что за package-loader положить?

[2017-01-22 18:34] nixel2007 commented on #396
Который лежит в OneScript/lib.
 Мне еще два варианта в голову пришло.
1. Использовать локальные инстансы, как я сделал это в PackageDef самого opm
2. Подключать тестраннер не из командной строки, а изнутри скрипта, как это сделано в tasks/test.os в gitrunner.
Таким образом ты сможешь в test.os сначала подключить нужную тебе версию библиотеки, которую ты разрабатываешь (через использовать ../src),

[2017-01-22 18:36] nixel2007 commented on #396
Во втором случае тесты запускаются через opm test

[2017-01-22 19:39] artbear commented on #396
Таким образом ты сможешь в test.os сначала подключить нужную тебе версию библиотеки, которую ты разрабатываешь (через использовать ../src), следом использовать 1testrunner и уже запускать прогон тестов через интерфейс класса.

0. Вариант 0 не получился. Файл положил, ничего не поменялось
1. Локальный инстансы не очень хочется. Ведь я правильно понял про `Команда = ЗагрузитьСценарий(Файл, "Команда"

[2017-01-22 21:22] nixel2007 commented on #396
посмотри на это с другой стороны. единый интерфейс тестирования приложения, не зависящий от применяемого фреймворка. таски vsc нельзя запустить из консоли, они привязаны к VSC. таски опм можно запустить откуда угодно.

[2017-01-22 21:22] nixel2007 commented on #396
плюс я делал opm test как раз для того, чтобы он стал единой точкой тестирования для пакетов. единым стандартом разработки библиотеки.

[2017-01-22 21:22] nixel2007 commented on #396
унификация для CI туда же.

[2017-01-23 23:03] dmpas opened #397 "Непубличные классы в стандартной библиотеке"
https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/Json/JSONReader.cs#L14

https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/Json/JSONWriter.cs#L18

https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/Json/JSONWriterSettings.cs#L13

https://github.com/EvilBeaver/OneScript/blob/de

[2017-01-25 18:17] artbear opened #398 "При установке стандартной библиотеке создаются ли командные файлы согласно указаниям из packagedef пакетов?"
Сейчас при установке пакета через `opm install Пакет` создаются командные файлы, например, `1testrunner.bat` или `1testrunner.sh`

ИМХО но при установке движка OneScript этого не происходит.

Выполняется ли создание командных файлов или нет?

/cc @EvilBeaver @dmpas @nixel2007

[2017-01-25 18:18] dmpas commented on #398
нет.

[2017-01-25 18:21] nixel2007 commented on #398
Упс. Это к вообще к вопросу способа поставки библиотек с движком. Сейчас копируется репо целиком, а по сути нужны только файлы, которые включены внутрь пакета, собираемого опм

[2017-01-25 18:23] artbear commented on #398
Вот я и задаю вопрос, хочу исправления.
Например, пост-инсталл хук для запуска opm update -all

[2017-01-25 18:31] nixel2007 commented on #398
Имхо, архитектурно не верно. Лучше при сборке инсталлятора класть к нему собранные ospx, а пост инсталл хуком делать opm install -f

Остаётся вопрос как сам опм поставить, но и он решаемый

[2017-01-25 18:35] artbear commented on #398
Остаётся вопрос как сам опм поставить, но и он решаемый

Ага, меня вариант также устраивает.
Вопрос только - как и когда автоматом получать ospx-файлы?

[2017-01-25 18:48] pumbaEO commented on #398
Зачем потом вызывать, разве не проще сразу в песочницу поставить и потом уже готове запихнуть в инсталятор (rpm,deb,msi)?

[2017-01-25 19:07] nixel2007 commented on #398
@artbear ну, собрать ospx можно тем же опм. Мы же знаем, какие пакеты надо собрать - они в сабмодулях определены. Соответственно при сборке инсталлятора можно запустить сборку пакетов

[2017-01-25 19:07] nixel2007 commented on #398
@pumbaEO тоже хороший вариант

[2017-01-26 06:58] EvilBeaver commented on #398
Хотели же поставлять с движком только опм и его зависимости. Без приложений а-ля гитсинк. И тогда не надо ospx с дистрибутивом тащить

[2017-01-26 15:14] #319 closed, assigned to nobody

[2017-01-31 13:56] AdapterBatareev opened #399 "Ошибка в строке: 534 / Не найден путь к платформе 1С <8.3>"
#Использовать v8runner
Конфигуратор = Новый УправлениеКонфигуратором();

и сразу ошибка
{Модуль C:\Program Files (x86)\OneScript\lib\v8runner\src\v8runner.os / Ошибка в строке: 534 / Не найден путь к платформе 1С <8.3>}

была версия библиотеки 0.4.0, обновил на 0.6.0 и не помогло. Я что то делаю не так?

[2017-01-31 13:58] AdapterBatareev commented on #399
включил отладку

[code]

running command> oscript -encoding=utf-8 d:\Git\osTest\hooks\unpack.os
ОТЛАДКА - Читаю конфигурационный файл C:\ProgramData\1C\1CEStart\1CEStart.cfg.
ОТЛАДКА - Читаю конфигурационный файл C:\Users\Bahtyreev_AV\AppData\Roaming\1C\1CEStart\1CEStart.cfg.
ОТЛАДКА - Выполняю попытку поиска версии в каталоге C:\Program Files (x86)\1cv8
ОТЛАДКА - Выполняю попытку поиска версии в

[2017-01-31 13:59] EvilBeaver commented on #399
Это не относится к движку. Я закрываю здесь и продублирую в репо v8runner. Недавно что-то такое исправляли, возможно, коллеги подскажут.

https://github.com/oscript-library/v8runner/issues/26

[2017-01-31 13:59] #399 closed, assigned to nobody

[2017-02-01 06:43] artbear opened #400 "В случае циклических зависимостей библиотек выдавать подробный лог о причинах ошибки"
Довольно часто при разработке и использовании пакетов возникает ошибка циклической зависимости
Например, https://github.com/oscript-library/v8runner/issues/27
[code]

Хотелось бы получать более подробный лог о причинах ошибки.
Например, указание цикла библиотек Например, `источник - потомок - источник`

Подобный лог позволит быстрее понимать причину ошибки и упростить разбор полетов для разработчи

[2017-02-01 06:45] artbear commented on #400
400 !

[2017-02-01 06:49] dmpas commented on #400
тестраннер тестирует себя тестраннером???

[2017-02-01 06:50] nixel2007 commented on #400
@dmpas а я говорил...

[2017-02-01 06:56] artbear commented on #400
@dmpas
+ Да, тестирует, конечно.
  + Тестраннер сам себя отлично тестирует :)
+ В данном случае проблема при тестировании не тестраннера, а в8раннера через тестраннер :) oscript-library/v8runner#27
  + Т.е. это все-таки другая проблема.

[2017-02-01 06:56] EvilBeaver commented on #400
Стойте, "довольно часто" она возникать не может, это косяк разработчика 100%

[2017-02-01 06:57] artbear commented on #400
Разработчики косячат часто, мы все это знаем :) - между нами, мальчиками :)
Нужно как-то разбираться с этой проблемой.
Если будет четко написано, в какой цикл мы попали, будет НАМНОГО проще !

[2017-02-01 08:10] EvilBeaver commented on #400
Дык никто и не спорит. Запилишь? Там в загрузчике при выбросе этого исключения нужно просто Соответствие перебрать и ключи в строку вывести

[2017-02-01 08:31] khorevaa commented on #400
Дополнительно хочеться видеть откуда загрузилась та или иная библиотека. Допустим для режима отладки.

[2017-02-01 09:30] artbear commented on #400
+1

[2017-02-01 13:30] EvilBeaver commented on #400
Ну так запилите, корифеи опенсорса. Там реально легко. А вам скиллы в си-шарпе

[2017-02-04 09:52] alexkmbk commented on #344
Оказалось дело не в testrunner.os а в том, что при таком способе подключения библиотеки ошибка вылазит в случае, если какая еще либо библиотека используется, то есть например
#use dialogs
#use v8tunner

если подключить только dialogs, то ошибки не будет.
Всё опять уперлось в невозможность добавить глобальную функцию с помощью внешней компоненты :(

[2017-02-04 10:30] EvilBeaver commented on #344
Постараюсь сегодня вечером исправить глобалки в ВК

4 Фев 2017 г. 12:52 пользователь "Alexey Kostromin" <
notifications@github.com> написал:

[2017-02-08 10:36] dmpas opened #401 "`СтрЗаменить` и суррогаты"
По мотивам копаний в https://github.com/oscript-library/json/issues/2

Есть код (https://github.com/oscript-library/json/blob/develop/src/json.os#L677)
[code]

Код заменяет подстроку `"\\"` на слэш и несимвол.
Код ниже (https://github.com/oscript-library/json/blob/develop/src/json.os#L691):
[code]
ищет маскированные символы уникода. И!! `Найти()` **находит** последовательность `"<слэш><фигня>u"`,

[2017-02-09 12:09] EvilBeaver commented on #401
Да. конечно. Вешаю плашку баг?

[2017-02-09 12:12] dmpas commented on #401
Ага. Осталось подумать, везде ли надо Ordinal делать.

[2017-02-10 16:56] artbear opened #402 "Зависает Процесс.ПотокВывода.Прочитать при вызове "долгих" команд"
В результате расследования зависаний гитсинка с новым 1commands https://github.com/artbear/1commands/issues/14
я нарвался на ошибку движка :(

У меня есть тестовый гит-репо, в котором core.autocrlf = true (это сделано специально!!)

Запускаю тестовый скрипт для этого репо

[code]

Как видно из кода, до `Сообщить(50)` выполнение не доходит, т.к. скрипт зависает вместе с гитом!

При этом при ручном

[2017-02-10 16:58] artbear commented on #402
`Приостановить` можно убрать, он на зависание не влияет.

[2017-02-10 20:18] EvilBeaver commented on #402
До исправления задачи по апи потоков ничего 100% хорошего не выйдет. Могу порекомендовать использовать не Прочитать, а ПрочитатьСтроку

[2017-02-10 20:18] EvilBeaver commented on #402
А 100 вариант использовать перенаправление в файл

[2017-02-10 20:34] khorevaa commented on #402
А возможность перенаправить в файл есть?

[2017-02-10 20:46] nixel2007 commented on #402
ПрочитатьСтроку точно так же зависает. От него как раз и перешли Прочитать, чтобы реже вызывать чтение из буфера

[2017-02-11 05:49] EvilBeaver commented on #402
Бяда. Задачка на это есть, надо уже сделать. Там просто низкоуровневое все и тестировать тяжело.  Займусь

[2017-02-11 17:09] JohnyDeath commented on #402
Можно чуть проще и без гита:
[code]

ВыполнитьДинамически(10000); - выполняется
ВыполнитьДинамически(50000); - не дождался

Вообще я ожидал, что буду видеть процесс накапливания сообщений вида "Из процесса: Итерация №---"
Но в итоге все сообщения вываливаются разом в конце. Это какая-то особенность шелла/vsc.. ?

[2017-02-11 17:42] nixel2007 commented on #402
В всц 1.9 переделали терминал в сторону быстрого непосредственного вывода, но все равно такие вещи лучше тестировать прямо из консоли

[2017-02-11 18:13] JohnyDeath commented on #402
В консоли тоже самое (проверяю на 10000). Сначала висит, потом скопом выводит все строки

[2017-02-11 18:49] dmpas commented on #402
исторически сложилось, что stdout - буферизированный вывод, то есть приложение не обязано выдавать его сразу (да и выдавать вообще - в случае падения). Потому "вжух и сразу 10000" - это обычное дело.

[2017-02-12 15:19] #401 closed, assigned to nobody

[2017-02-12 15:34] #400 closed, assigned to nobody

[2017-02-12 15:37] #373 closed, assigned to nobody

[2017-02-12 15:38] EvilBeaver commented on #382
Закрываю, больше не воспроизводится.

[2017-02-12 15:38] #382 closed, assigned to nobody

[2017-02-12 15:44] EvilBeaver commented on #381
Не ошибка, закрываю.

[2017-02-12 15:44] #381 closed, assigned to nobody

[2017-02-12 15:45] EvilBeaver commented on #379
Я пока закрою, вроде проблема решена. Если будут возражения - пишите.

[2017-02-12 15:45] #379 closed, assigned to nobody

[2017-02-12 15:47] EvilBeaver commented on #341
Подниму тему. Чо как?

[2017-02-12 15:52] artbear commented on #341
Меня и @nixel2007 текущее положение дел устраивает, насколько я понимаю.
Каждый скрипт разруливает сам.

[2017-02-12 17:23] EvilBeaver commented on #402
@JohnyDeath а вот формировать в памяти построчную строку из 100500 конкатенаций - это жестоко :) В таких случаях лучше сразу писать в файл через ЗаписьТекста, а не мучить выделятор памяти.

[2017-02-12 19:00] EvilBeaver commented on #231
Реализовал неблокирующее чтение из потоков процесса.
Коммиты: 65f0c46b2 c4be395688

Особенность (возможно Breaking change):

Методы **ЕстьДанные** **Прочитать** и **ПрочитатьСтроку** возвращают результат немедленно, показывая "Срез" на момент вызова. Отсутствие данных не означает конца потока. Оно означает, что на момент вызова в потоке данных не было.

Данные в потоке появляются "построчно". Т.е.

[2017-02-12 19:00] #231 closed, assigned to nobody

[2017-02-12 19:00] EvilBeaver commented on #402
Закрываю:

Реализовал неблокирующее чтение из потоков процесса.
Коммиты: 65f0c46b2 c4be395688

Особенность (возможно Breaking change):

Методы **ЕстьДанные** **Прочитать** и **ПрочитатьСтроку** возвращают результат немедленно, показывая "Срез" на момент вызова. Отсутствие данных не означает конца потока. Оно означает, что на момент вызова в потоке данных не было.

Данные в потоке появляются "постр

[2017-02-12 19:53] #402 closed, assigned to EvilBeaver

[2017-02-12 22:13] nixel2007 commented on #402
По поводу breaking change - вроде у нас в скриптах всегда идёт дополнительная проверка на Процесс.Завершен, так что не должно поломать что-либо

[2017-02-12 22:14] nixel2007 commented on #402
А раньше было не так?

[2017-02-13 02:22] EvilBeaver commented on #402
Раньше блокировалось и ждало пока данные поступят. Сейчас моментально возвращает результат. Часто пустой.

[2017-02-13 02:26] EvilBeaver commented on #402
И по поводу Процесс.Завершен. Как только он завершен обязательно надо прочитать еще раз. Там хвост данных часто приезжает с задержкой уже после остановки процесса. Т.е. для длительного процесса цикл Пока Не Завершен () и потом еще раз Прочитать. Для короткого можно ждать щавершения и потом читать.

[2017-02-13 05:13] nixel2007 commented on #402
@artbear - обрати внимание на сообщение @EvilBeaver

[2017-02-13 07:51] artbear commented on #402
@EvilBeaver Проверил поведение на последнем ночнике.
Указанный мной код на указанном архиве стал проходить.

**Но когда в этом коде я вместо Если вернул Пока (закомментировано), баг остался :(**

Проверял варианты
+ `Пока НЕ Процесс.Завершен ИЛИ Процесс.ПотокВывода.ЕстьДанные Цикл`
+ `Пока НЕ Процесс.Завершен Цикл`

Висим :(

Посмотришь?

**PS предлагаю переоткрыть ишуз!**

[2017-02-13 14:17] EvilBeaver commented on #402
@artbear сбрось сюда конечный вариант кода, который зависает.
И на какой строчке

[2017-02-15 07:55] khorevaa opened #403 "Для режима отладки необходимо понимание откуда подключены библиотеки"
Как разработчику скриптов,  при установке режима отладки скрипта (в в движке oscript) необходимо понимание последовательно подключения библиотек, с указанием путей к файлам.

Для получение более прозрачной отладки использовая библиотек

[2017-02-15 08:31] Stepa86 opened #404 "Повторное подключение классов и модулей. Различное поведение"
Если какой-то класс подключается дважды из разных мест, то все проходит нормально и используется последний. Если же таким образом подключается модуль, то падает исключение.
Если в OneScript\lib\package-loader.os добавить вывод сообщений при подключении, то для копии логоса будет выглядеть так запуск теста

[code]
Хочется, чтобы поведение для модулей и для классов было одинаковым. Либо всем падать,

[2017-02-15 09:01] Stepa86 commented on #404
Вот этот кэтч есть в добавлении модуля и отсутствует в добавлении класса https://github.com/EvilBeaver/OneScript/blob/36c8480caaa342d2b827c210f49966be42ffcc34/src/ScriptEngine.HostedScript/LibraryLoader.cs#L116

[2017-02-15 09:39] EvilBeaver commented on #404
То, что классы из разных мест подключаются - это странно. Должны так же падать с ошибкой "Тип уже зарегистрирован". Это где-то в дебрях TypeManager.cs

[2017-02-17 08:10] best-tech commented on #353
а сейчас тоже добавлен? у меня ругается...

[2017-02-17 08:16] dmpas commented on #353
@1Cmobile `oscript -check -cgi script.os` - такой вызов ругается?

[2017-02-17 08:18] best-tech commented on #353
в такой интерпретации
System.IO.FileNotFoundException: Файл ..\os-cgi\-cgi' не найден.
Имя файла: '..\os-cgi\-cgi'
   в System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   в System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs,
 String msgPath

[2017-02-17 08:21] dmpas commented on #353
это надо как-то VSC настраивать. сам oscript не может распознать, cgi ему подсунули или обычный скрипт.

[2017-02-17 08:42] nixel2007 commented on #353
@dmpas причем тут VSC? Оо

[2017-02-17 08:42] nixel2007 commented on #353
Вообще странноватый путь :)
`Имя файла: '..\os-cgi-cgi'`

[2017-02-17 08:48] dmpas commented on #353
@nixel2007

там же где-то настраивается путь для линтера?

[2017-02-17 09:06] nixel2007 commented on #353
Погоди, так проблема-то в чем? в движок этот флаг добавили. В VSC могу его тоже добавить, если надо.

Если проблема в VSC - то надо перенести ишуз в 1c-syntax :)

[2017-02-17 09:12] dmpas commented on #353
@nixel2007 проблема в том, что надо VSC где-то указать, что сей файл есть CGI и проверять его надо не просто `-check`, а `-check -cgi`. То есть, это не проблема движка или VSC, это вопрос, куда как настроить.

[2017-02-17 09:15] nixel2007 commented on #353
@dmpas помешает ли флаг -cgi проверке обычных скриптов? если нет, то я могу его безусловно передавать всегда.

[2017-02-17 09:20] best-tech commented on #353
ну еще вопрос не в тему, скопилить для cgi можно или только запуском движка?
p.s. жаль по cgi документации маловато(

[2017-02-17 09:23] dmpas commented on #353
@1Cmobile CGI сейчас - костыль "шоббыло". Потому документации по нему больше, я думаю, не станет. Вчера решили прорабатывать ASP MVC для Односкрипта.

[2017-02-17 09:23] dmpas commented on #353
@nixel2007 да, можно так сделать. Но лучше, мне кажется, пользователю ручками указывать, что тут CGI, а что нет.

[2017-02-17 09:30] best-tech commented on #353
@dmpas мне от него не много нужно сейчас, получить запрос, обработать и вывести ответ
только вот все никак не запускается..
так все-таки комлилится или нет?

[2017-02-17 09:34] dmpas commented on #353
@1Cmobile нет, не компилится.
https://gist.github.com/dmpas/a095134238f3dae007eb13244b4b962b - пример, как у меня получается запрос, обрабатывается и выводится.

[2017-02-17 09:36] dmpas commented on #353
Кусок настройки апача
[code]

[2017-02-17 09:41] best-tech commented on #353
@dmpas то что нужно, спасибо

[2017-02-17 10:26] EvilBeaver commented on #353
В принципе, был вариант сделать отдельный exe типа oscript-cgi, чтобы в шебанге ключ не указывать.

[2017-02-17 10:28] dmpas commented on #353
@EvilBeaver ключ в шебанге - обычное дело, ничего страшного в этом нет.

[2017-02-19 17:28] artbear commented on #402
@EvilBeaver смотри TODO
[code]

[2017-02-19 17:28] artbear commented on #402
Для приложенного к шапке архива

[2017-02-19 21:34] artbear commented on #402
Итак, правильное решение - читать поток вывода и поток ошибок.
**Нужно задокументировать** анализ @EvilBeaver

Процесс не завершен. Он висит в процессах и ждет пока ты освободишь его от текста в stderr

Правильный код:

[code]

[2017-02-19 22:37] artbear commented on #402
Теперь эта магия :) запрятана в 1commands!

Управляется методом `ПоказыватьВыводНемедленно`, который и вызывает код, аналогичный коду выше.

[2017-02-20 12:07] EvilBeaver opened #407 "Режим -check падает в некоторых случаях"
При проверке возможен NullReferenceException, если идет обращение к библиотекам. Это из-за того, что в режиме проверки синтаксиса библиотеки компилируются до инициализации глобального контекста.

А вообще, есть более глубокая проблема: библиотеки начинают выполняться до старта основного процесса, что есть неверно. И даже порождало какой-то глюк (уже не помню). Идеологически, на выполнение ничего н

[2017-02-20 12:09] dmpas commented on #407
package-loader всю малину портит :) он меняет глобальный контекст, он должен исполниться. декларатив vs императив 1:0.

[2017-02-20 12:12] EvilBeaver commented on #407
Неа, он не портит. При чем тут он. Его как раз можно выполнять, но он не имеет права использовать библиотеки, которые сам же должен будет грузить. Это понятно и логично. Но исполняться он может. А вот загружаемые им библиотеки (которые попадут в контекст) - вот они работать не должны без команды.

Предполагается, что loader - это вообще отдельный oscript-процесс, системный.

[2017-02-20 12:28] dmpas commented on #407
package-loader тоже может использовать библиотеки и не те, которые сам загружает.
[code]

tempfiles должен загрузиться и исполниться, чтобы загрузчик загрузил библиотеку.

[2017-02-20 13:56] EvilBeaver commented on #407
Да, но если загрузка tempfiles приведет к вызову ПриЗагрузкеБиблиотеки, то вечный цикл весьма вероятен. Я бы это запретил.

[2017-02-25 12:35] dmpas opened #408 "Типизация в таблице значений"
После появления ОписанияТипов можно добавить:
 * приведение к указанному типу
 * значение по-умолчанию в колонке указанного типа

[2017-02-26 13:40] Dumsik opened #409 "ошибка при gitsync init"
выполняю gitsync init D:\1c_Dev\Arautom\_ХранилищеКонфигурации D:\1cGitSync\KA\SrcConfig выходит ошибка
GitSync v2.1
КРИТИЧНАЯОШИБКА - {Модуль C:\Program Files (x86)\OneScript\lib\gitsync\src\core\Классы\МенеджерСинхронизации.os / Ошибка в строке: 842 / Метод объекта не обнаружен (ДобавитьКоманду)}

oscript последний 1Script Execution Engine. Version 1.0.15.260
устанавливал все по инструкции с сай

[2017-02-26 15:48] EvilBeaver commented on #409
Перенаправил в https://github.com/oscript-library/gitsync/issues/52

[2017-02-26 15:48] #409 closed, assigned to nobody

[2017-02-26 16:28] EvilBeaver commented on #344
А чо за хрень я получаю при попытке загрузить эту dll-сборку?

[code]

Выдается на строке: ``` var assembly = System.Reflection.Assembly.LoadFrom(dllPath);```

Путь не сетевой, а файловый, приходящий из package-loader.os

[2017-02-26 16:34] EvilBeaver commented on #344
Ну прикольна... получается, что те dll, которые приехали из веба, (читай из opm) еще и грузиться не будут, т.к. недоверенные...

[2017-02-26 18:06] EvilBeaver commented on #344
В-общем, на данный момент обход такой: пакет, который меняет глобальный контекст - размещать самым последним в списке "Использовать". Разобраться что куда и как - не получилось.

[2017-02-26 18:11] EvilBeaver commented on #407
Отмечу, что все это еще и связано с #344

[2017-02-26 18:17] #407 closed, assigned to nobody

[2017-02-26 19:35] EvilBeaver opened #410 "Отладчик"
Собсна и чо тут говорить еще.

[2017-02-26 19:36] EvilBeaver opened #411 "Имена переменных в рантайме"
Обеспечить наличие информации о переменных в контексте времени выполнения

[2017-02-26 20:03] EvilBeaver opened #412 "Получение свойств объекта в рантайме"

[2017-02-28 15:43] EvilBeaver opened #413 "Документация на сайте не соответствует версии 1.0.16"
сабж. Документация не обновилась с релизом.

[2017-03-04 17:59] artbear opened #414 "В справке из командной строки нет описания ключа "-env" для команды "-check""
Две задачи:

1. Нужно доработать описание из http://oscript.io/docs/page/running
 ключ -env принимает параметр через пробел, а не через знак =
Правильный вызов `oscript -check .\src\Классы\КомандаVersion.os -env .src\main.os`
[code]
Неправильный вызов через = `oscript -check .\src\Классы\КомандаVersion.os -env=.src\main.os`
[code]

2. Нужно добавить доработанное указанное описание в справку команд

[2017-03-05 17:54] #413 closed, assigned to EvilBeaver

[2017-03-05 19:55] dmpas commented on #393
@EvilBeaver смотрю, исправил документацию? эту можно закрыть.

[2017-03-05 20:43] #393 closed, assigned to nobody

[2017-03-06 15:07] EvilBeaver opened #415 "Провайдер для отладки VSCode"
- [x] Изучить архитектуру отладчиков в VSCode
- [x] Подумать, как это связать с oscript runtime

[2017-03-06 15:09] EvilBeaver opened #416 "Поддержка остановок и входов в виртуальной машине"
Машина должна уметь останавливаться на точке, продолжать выполнение, входить и выходить из процедур

[2017-03-09 07:04] dmpas opened #417 "Исправить XmlDoc для Процесс.Завершен"
https://github.com/EvilBeaver/OneScript/pull/406#discussion_r105089474

Забываем, что XmlDoc - это XML со всеми вытекающими.

[2017-03-09 16:25] #417 closed, assigned to nobody

[2017-03-11 11:15] Dumsik opened #418 "Ошибка установки пакета all <404> при выполнении opm update all"
c:\Program Files (x86)\OneScript>opm update all
OneScript Package Manager v0.9.3

ИНФОРМАЦИЯ - Скачиваю файл: all.ospx
ИНФОРМАЦИЯ - Ошибка установки пакета all <404>
1Script Execution Engine. Version 1.0.17.44

Причем opm update opm корректно отрабатывает

[2017-03-11 11:55] EvilBeaver commented on #418
По-моему, all надо писать с черточками: --all

[2017-03-11 13:01] nixel2007 commented on #418
с одной черточкой - `opm update -all`

[2017-03-11 13:01] nixel2007 commented on #418
О чем, кстати, и написано в справке
[code]

[2017-03-11 13:13] Dumsik commented on #418
Упс. Извиняюсь, не досмотрел. Но если бы писал пакет all не найден на сервере я бы сразу понял свою ошибку, а так 404, понятно not found но не понятно что.

[2017-03-11 13:13] #418 closed, assigned to nobody

[2017-03-11 13:28] nixel2007 commented on #418
@Dumsik Регайте ишуз в репе opm. Понятные ошибки - это тоже очень важно :)

[2017-03-17 16:08] EvilBeaver opened #419 "Несовместимость с 1С при удалении файлов из несуществующего пути"
УдалитьФайлы("C:\нет такого пути", "*.txt");

Script started: 17.03.2017 19:03:55
{Модуль C:\distr_build.os / Ошибка в строке: 2 / Внешнее исключение (System.IO.DirectoryNotFoundException): Не удалось найти часть пути "C:\нет такого пути".}
  УдалитьФайлы("C:\нет такого пути", "*.txt");

[2017-03-17 16:10] artbear commented on #419
1скрипт ведет себя верно. Это правильное поведение для скриптового движка

пт, 17 Мар 2017, 19:08 Andrei Ovsiankin <notifications@github.com>:

[2017-03-26 15:46] dmpas commented on #183
тренируюсь на кошках (v8unpack). Если всё получится - доделаю и здесь.

[2017-04-02 11:15] dmpas commented on #183
на chocolatey.org модерацию уже неделю не могу дождаться, потому будем хоститься на myget.
[code]
Сейчас там 13, 14, 15 и 16 версии. Как по-правильному закидывать ночник, я ещё не придумал.

@allustin @artbear @pumbaEO @EvilBeaver

[2017-04-06 12:58] fishca opened #421 "Перенос стандартных коллекций С# в язык OneScript"

[2017-04-06 13:20] EvilBeaver commented on #421
А что имеется в виду? Соответствие и Массив и так на базе стандартных коллекций

[2017-04-06 13:23] dmpas commented on #421
Я так полагаю, Стэки какие-нибудь, ХэшСеты. Да, тут лучше на берегу список обговорить.

[2017-04-06 18:54] nixel2007 opened #422 "Лямбды"
Лямбда-функции решат все ваши проблемы (с)

Концепт
[code]

СП в духе
Массив.ДляКаждого(Лямда(Элемент)); --- процедура ДляКаждого принимает в качестве аргумента Лямбда-функцию с одним параметром. В качестве параметра передаётся элемент коллекции.

Аналогично для структуры и КлючИЗначение и прочих Соответствий

[2017-04-06 19:04] dmpas commented on #422
[code]
вот это не сработает. `МояЛямбда` - это имя переменной. такой вот затык в жёлтом синтаксисе

[2017-04-06 19:09] nixel2007 commented on #422
Почему нельзя расширить поиск по именам функций? Ты же не сможешь объявить переменную с именем, совпадающим с уже имеющейся процедурой

[2017-04-06 19:11] artbear commented on #422
Мне давно хочется вариант `МойМассив.ДляКаждого(МояЛямбда);`
но как отличить от переменной?
в 1С и 1скрипте вроде как разрешено иметь одно имя для переменной и метода

[2017-04-06 19:11] dmpas commented on #422
могу же

[2017-04-06 19:12] artbear commented on #422
Мне как раз больше нравятся функции высшего порядка.
ИМХО они лучше на язык 1С ложатся.

Хотя и варианты с лямбдой очень интересны.

[2017-04-06 19:12] artbear commented on #422
Как раз нужно избавиться от всяких обработок оповещения и т.п.

[2017-04-06 19:13] dmpas commented on #422
а мне нравятся обработки оповещения :) они код делают площе. Повидал я говногода, полюбил 1С за отсутствие всего на свете.

[2017-04-06 19:31] nixel2007 commented on #422
Да, дает объявить переменную и функцию с одинаковым именем...

[2017-04-09 20:46] EvilBeaver commented on #422
Уймитесь, нехристи! Пишите на ноде :)

А вообще, если вспомнить, что язык 1С - это Basic, переведенный промтом, то кошерный синтаксис должен выглядеть вот-так: https://msdn.microsoft.com/ru-ru/library/bb531253.aspx

[2017-04-09 20:50] nixel2007 commented on #422
@EvilBeaver если я правильно понимаю, то в 1с-варианте для многострочной лямбды это будет примерно так:

[code]

[2017-04-09 20:50] nixel2007 commented on #422
Либо надеяться на корректную расстановку скобок, тогда можно опустить КонецФункции

[2017-04-10 09:21] dmpas commented on #170
в работе
https://github.com/dmpas/oscript-ftp

[2017-04-10 12:20] EvilBeaver commented on #422
Во-первых, предлагаю различать лямбды и функции-объекты.

Лямбда-функция - это вложенная функция, которая видит контекст родительской функции и может "захватывать" (по умному - "делать замыкание") переменных родительской функции.
Тут вылезают сразу уши областей видимости, правила замыкания переменных и прочее. См. правила видимости в жаваскрипте.

Тут выходит несложная доработка компилятора и очен

[2017-04-10 12:22] dmpas commented on #422
[code]

[2017-04-10 12:25] dmpas commented on #422
Тогда и вызов нужно делать типа
[code]

[2017-04-10 12:27] EvilBeaver commented on #422
@dmpas почему?

[2017-04-10 12:29] EvilBeaver commented on #422
Ааа. понял. Ну тот можно пойти по тому пути, что ввести правила вызова:

* По скобкам сначала вызывается обычная функция (как раньше)
* Если таковой нет и скобки применены к делегату - вызываем его
* Если скобки применены к неделегату (Числу, например) - выбрасываем исключение

[2017-04-10 12:38] Stepa86 commented on #422
Может наоборот лучше делегата сперва вызывать? Перегрузка метода и все такое

[2017-04-10 13:07] EvilBeaver commented on #422
@Stepa86 пример привести можешь, когда именно такое поведение нужно?

[2017-04-10 13:14] Stepa86 commented on #422
@EvilBeaver Сходу не могу. Но мне кажется более логичным вызывать сперва делегата или вообще падать в исключение в этой ситуации

[2017-04-10 13:19] EvilBeaver commented on #422
У меня один аргумент: описанное мной поведение реализовать проще.
Ну и второй аргумент - не доказано (примером) что нужно иное поведение.

[2017-04-10 13:21] Stepa86 commented on #422
@EvilBeaver для эксперементальной штуки первого аргумента более, чем достаточно

[2017-04-18 19:30] fishca commented on #421
Queue, Stack, HashSet, Hashtable, Dictionary в общем что что лежит в System.Collections.Generic, если это вообще возможно конечно.

[2017-04-19 14:10] ret-Phoenix commented on #421
Есть реальные задачи, требующие этих объектов?
Сделать обертку для них не долго. Первые 2 вообще дело нескольких минут, Dictinary - не думаю что нужно, Структура вполне заменяет.

[2017-04-20 15:18] EvilBeaver commented on #421
Да, с очередью, хэшсетом и таблицей непонятно. Все они запросто реализуются на существующих коллекциях 1С.

[2017-04-20 15:20] #415 closed, assigned to nobody

[2017-04-25 10:30] ret-Phoenix opened #424 "СтрПолучитьСтроку - проблема с разделителем строк"
[module.txt](https://github.com/EvilBeaver/OneScript/files/954700/module.txt)

[НавигацияПоМодулю.txt](https://github.com/EvilBeaver/OneScript/files/954701/default.txt)
![selectvaluesharp](https://cloud.githubusercontent.com/assets/8619544/25381066/10e518ce-29bb-11e7-9af5-9225e98d7de2.jpg)

Не понимаю как происходит считывание текста

[2017-04-25 10:41] ret-Phoenix commented on #424
Из приколов, удалил 1 пустую строку, сохранил - заработало.
Складывается впечатление что разделитель строк как-то не так был записан

[2017-04-25 10:45] ret-Phoenix commented on #421
https://github.com/ret-Phoenix/OneScript-Collections

[2017-04-25 11:45] EvilBeaver commented on #424
Картинка не читается. Закрывать задачу?

[2017-04-25 11:45] EvilBeaver commented on #411
done

[2017-04-25 11:45] #411 closed, assigned to nobody

[2017-04-25 11:46] EvilBeaver opened #425 "Остановка по исключению"
Обеспечить остановку по исключению (в отладчике)

[2017-04-25 11:48] EvilBeaver commented on #386
@Faithfinder дай пример кода на 1С в котором можно проверить работу метода

[2017-04-25 11:55] ret-Phoenix commented on #424
Пусть пока повисит, потом в движке отладчиком покопаюсь, может найду в чем дело.
такое возникает на ряде модулей (типовая упп либо erp)

[2017-04-25 11:58] EvilBeaver opened #426 "Вынести методы работы с переменными окружения в глобальный контекст"
Кажется, что удобнее работать с переменными окружения напрямую, не создавая объект СистемнаяИнформация.

Глобальные методы УстановитьПеременнуюСреды/ПолучитьПеременнуюСреды и т.п. вынести из объекта СистемнаяИнформация в глобальный контекст.

Старый вариант оставить для совместимости.

[2017-04-25 11:59] EvilBeaver commented on #424
Тогда переформулируй заголовок плиз.

[2017-04-25 12:01] EvilBeaver commented on #421
Закрываю, т.к. сделано вовне и к движку не относится. Ок?

[2017-04-25 12:01] #421 closed, assigned to nobody

[2017-04-25 12:07] ret-Phoenix commented on #414
https://github.com/EvilBeaver/OneScript/blob/develop/src/oscript/BehaviorSelector.cs#L59-L62
Можешь приложить файлы, на которых можно смоделировать?

[2017-04-25 16:52] EvilBeaver commented on #426
@dmpas @pumbaEO @nixel2007 и anybody else - что скажете?

[2017-04-25 17:20] dmpas commented on #426
нечасто пользуюсь, сложно сказать.

[2017-04-25 19:28] artbear commented on #426
Да, с глобальными методам поудобнее работать.
сразу в один вызов получаешь нужное значение, просто и все сразу понятно.

[2017-04-25 20:16] nixel2007 commented on #426
сам хотел предложить :)

[2017-04-26 08:27] Faithfinder commented on #386
Выводит список групп домена, в которых состоит текущий пользователь ОС.

[code]

[2017-04-26 15:04] dmpas commented on #170
`opm install ftp`

[2017-04-26 15:04] #170 closed, assigned to dmpas

[2017-04-26 16:09] alexkmbk commented on #344
@EvilBeaver  чтож, печально. Выходит все таки, по факту нельзя (ну или чревато проблемами) во внешних компонентах добавлять глобальные функции. Эх... а так хотелось чтобы была простая функция: Предупреждение();

[2017-05-02 11:00] ret-Phoenix commented on #397
Там ведь надо только public дописать и тесты прогнать?

[2017-05-02 11:11] EvilBeaver commented on #397
Да

[2017-05-02 11:12] ret-Phoenix commented on #397
Сделаю в следующем PR.

[2017-05-03 11:46] ret-Phoenix commented on #397
Если пробегусь по всем классам в ScriptEngine.HostedScript и поставлю public можно?
Хочу для всех доступных из скрипта классов поставить public, к т.ч. для работы с консолью.

[2017-05-03 20:16] ret-Phoenix commented on #426
Взял задачу себе.

[2017-05-04 10:19] ret-Phoenix commented on #426
При создании СИ будет писаться в консоль: SystemInfo deprecated, use GlobalContext
Подойдет?

[2017-05-04 10:40] kuntashov commented on #426
Задача вроде только про методы УстановитьПеременнуюСреды() и ПолучитьПеременнуюСреды(), а в СИ есть и другие методы и свойства, с чего бы она вся была не рекомендованной к использованию?

Или решили все свойства СИ вынести в глобальный контекст?
Меня не спрашивали, но я все равно против переноса остальных свойств методов в глобальный контекст :)

[2017-05-04 10:55] EvilBeaver commented on #426
Только по переменны среды

[2017-05-04 11:00] ret-Phoenix commented on #426
Там всего 3 метода: ПеременныеСреды, Получить/Установить ПеременнуюСреды
и 3 свойства: ИмяКомпьютера, ВерсияОС, Версия (1С скрипт)
Если выносим 3 метода, в СИ останутся 3 свойства. Их тоже можно перенести в ГК.

[2017-05-04 11:08] ret-Phoenix commented on #426
еще бы добавил свойство: ИмяПользователя(). Брать из System.Environment.UserName. Сейчас в OneScript не реализовано.
\+ можно еще: System.Environment.UserDomainName

[2017-05-04 11:16] EvilBeaver commented on #426
Нет. Давайте в СИ оставим то, что есть в 1С. Плюс, по пользователю тоже можно туда добавить. (Обсуждаемо) А вот переменные среды это не совсем ИнформацияОСистеме и эту функциональность оттуда надо вынести.

[2017-05-04 11:20] ret-Phoenix commented on #426
В таком случае "SystemInfo deprecated, use GlobalContext" надо будет выводить только в 3 методах, а не при создании Класса.

По пользователю:

[2017-05-04 11:21] EvilBeaver commented on #426
Да

4 Май 2017 г. 14:20 пользователь "ret-Phoenix" <notifications@github.com>
написал:

[2017-05-04 11:26] kuntashov commented on #426
Тогда надо про сами  методы говорить в предупреждении, что-то вроде такого:

[code]

[2017-05-04 11:29] ret-Phoenix commented on #426
Да. так и сделано уже: "DeprecationWarning: 'SystemInfo.EnvironmentVariables()' is deprecated, use 'EnvironmentVariables' from global context"

[2017-05-04 12:13] ret-Phoenix commented on #426
у кого под рукой есть машина без домена?

[2017-05-04 12:42] artbear commented on #426
у меня

чт, 4 мая 2017 г. в 15:13, ret-Phoenix <notifications@github.com>:

[2017-05-04 12:55] ret-Phoenix commented on #426
Спасибо, уже проверил на 2 шт )

[2017-05-04 14:44] ret-Phoenix commented on #397
PR принят, можно закрывать.

[2017-05-04 16:13] dmpas commented on #397
@ret-Phoenix когда в мастер пойдёт - само закроется

[2017-05-04 21:15] nixel2007 commented on #397
@dmpas не вижу fix у коммитов, с чего оно должно закрыться? :)

[2017-05-05 08:44] dmpas commented on #397
@nixel2007 и правда, просто ссылки на задачу не хватит

[2017-05-05 08:44] #397 closed, assigned to dmpas

[2017-05-09 07:26] #388 closed, assigned to nobody

[2017-05-10 12:44] Tavalik opened #433 "Не отрабатывает ЗаписьZipФайла для файлов больше 4 Гб."
Доброго времени суток.

Есть скрипт, который занимается копированием файловых баз. Скрипт создает архив файла 1Cv8.1CD. Пример кода:

ЗаписьZip = Новый ЗаписьZipФайла;
ЗаписьZip.Открыть(ИмяАрхива);
ЗаписьZip.Добавить("D:\WorkBase\1Cv8.1CD");
ЗаписьZip.Записать();

Не отрабатывает на файлах, больше 4 Гб.

Текст ошибки: Внешнее исключение (Ionic.Zip.ZipException): Compressed or Uncompressed size, or

[2017-05-10 13:09] SkyPunster commented on #433
А какая разрядность системы и какая файловая система? Если FAT32, например, то там ограничение файловой системы как раз 4 ГБ вроде. Это отпадает, если с платформы на тот же диск пишется.
Возможно еще что скрипт по x32 работает, а платформа под x64 (если у вас она x64).

[2017-05-10 14:54] Tavalik commented on #433
NTFS, Windows x64. Проверял на 8.1 и на Server 2008 R2.

[2017-05-10 20:13] dmpas commented on #433
@Tavalik попробуйте https://ci.appveyor.com/api/buildjobs/qkxq9ooaxxbjy8mo/artifacts/oscript.zip

[2017-05-11 04:46] Tavalik commented on #433
Спасибо! Вот это оперативность! Все работает.

А в релизе когда примерно это изменение ждать?

[2017-05-11 05:42] dmpas commented on #433
@Tavalik когда вольют, пойдёт в ночник. Когда релиз - неизвестно.

[2017-05-11 05:49] #433 closed, assigned to dmpas

[2017-05-11 06:47] Tavalik opened #435 "При добавлении Каталога с подкаталогами в архив, рушится оригинальная структура папок."
Опять про архивирование:

Неправильно (по крайней мере, не как в 1С) отрабатывает параметр "РежимСохраненияПутейZIP.СохранятьОтносительныеПути" в паре с "РежимОбработкиПодкаталоговZIP.ОбрабатыватьРекурсивно", если путь заканчивается символом " \ ". Код:

	ЗаписьZip = Новый ЗаписьZipФайла;
	ЗаписьZip.Открыть(ИмяАрхива);
	ЗаписьZip.Добавить("C:\КаталогУровень1\",РежимСохраненияПутейZIP.СохранятьОтно

[2017-05-11 09:22] EvilBeaver commented on #435
Я функции зипа по поведению тырил у 1С. И там этот слэш учитывался. Но было давно, возможно это фиксили и нам надо отрефлексировать это.

[2017-05-11 16:05] nixel2007 commented on #435
Бэкпортнуть*

[2017-05-12 08:33] EvilBeaver commented on #435
кто еще знает уголовный жаргон?

[2017-05-14 19:41] EvilBeaver opened #437 "Некорректный разбор строкового литерала в месте EOF"
В примере кода выдается исключение "Незавершенный строковый литерал", если не поставить ничего после закрывающей кавычки.

[code]

Если добавим точку с запятой, то все сработает.

[2017-05-15 14:56] EvilBeaver commented on #437
Исправлено в feature/debugger

[2017-05-15 14:56] #437 closed, assigned to EvilBeaver

[2017-05-15 14:57] #426 closed, assigned to nobody

[2017-05-16 08:08] ret-Phoenix opened #439 "Добавить класс "ИнформацияОДиске""
АПИ: https://github.com/ret-Phoenix/onescript-extensions/blob/dev/docs/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F%D0%9E%D0%94%D0%B8%D1%81%D0%BA%D0%B5.md

[2017-05-16 08:09] ret-Phoenix opened #440 "Добавить в ГК методы: Сигнал + ОчиститьСообщения"
ОчиститьСообщения - по сути есть в Консоль.Очистить(), но в 1С это в ГК

[2017-05-16 08:15] dmpas commented on #439
Конструктор не понятен.
Под линухом что будет выдавать весь этот функционал?

[2017-05-16 09:11] ret-Phoenix commented on #439
Конструктором передается имя диска, под linix за маунтинговые диски
https://github.com/mono/mono/blob/master/mcs/class/corlib/System.IO/DriveInfo.cs

Конструктор:

`ИнформацияОДиске = Новый ИнформацияОДиске(Новый Окружение().ИменаЛогическихДисков[0]);`

Как Travis настрою - прогоню тест под Linux

[2017-05-16 09:12] ret-Phoenix opened #441 "Расширить информацию об "Окружении""
АПИ: https://github.com/ret-Phoenix/onescript-extensions/blob/dev/docs/%D0%9E%D0%BA%D1%80%D1%83%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5.md

Как вариант можно перенести класс как есть, т.к. прямого аналога в OneScript нет, включить в СИ не вижу смысла.

[2017-05-16 09:19] dmpas commented on #439
убунту под винду не пробовал ещё? Спасает во многих случаях.

[2017-05-16 09:23] ret-Phoenix commented on #439
Пока нет, на работе у меня Win7, Дома 10. Но лучше настрою виртуального сборщика

[2017-05-17 06:47] #408 closed, assigned to dmpas

[2017-05-17 08:06] EvilBeaver commented on #440
А что за Сигнал?

[2017-05-17 08:44] ret-Phoenix commented on #440
Просто Бип)
Иногда бывает удобно, чтобы по завершении обработки пикнул комп.

[2017-05-23 10:35] dmpas commented on #439
Приложу, как это выглядит под убунтой
[example.txt](https://github.com/EvilBeaver/OneScript/files/1021820/example.txt)

https://gist.github.com/dmpas/5231a570945ef9f5aa988716a292ad1a

[2017-05-24 07:27] EvilBeaver commented on #440
ОчиститьСообщения, кажется, что не нужен. А Консоль.Сигнал пусть будет, why not?

[2017-05-24 07:27] #424 closed, assigned to nobody

[2017-05-24 07:28] EvilBeaver commented on #441
Давайте включим все это в СИ, чтобы не дублировать. Уж больно похожи классы друг на друга?

[2017-05-24 07:29] #412 closed, assigned to nobody

[2017-05-24 07:43] ret-Phoenix commented on #441
Очень даже похожи, тогда допилю, вчера уже начал перенос.
По специальным папкам, предлагаю включить только те, что в Mono реализованы, чтобы не было различного поведения скрипта под разными ОС.

[2017-05-24 18:07] JohnyDeath commented on #440
Почему не нужен "ОчиститьСообщения"?

[2017-05-24 20:43] ret-Phoenix commented on #440
он есть в классе Консоль

[2017-05-25 07:48] nixel2007 commented on #440
а как же "упрощение портирования 1с кода"?

[2017-05-26 10:37] vsuh opened #444 "Значение не является значением объектного типа для колонки таблицы значений"
**oscript** ver. 1.0.17.73

[code]
возвращает ошибку:
`{Модуль модуль.os / Ошибка в строке: NN / Значение не является значением объектного типа}`
англоязычное наименование метода возвращает ту же ошибку.

[code]
`КоллекцияКолонокТаблицыЗначений`

[2017-05-26 10:42] nixel2007 commented on #444
Второй параметр должен быть ОписаниеТипов, а не строка.

[2017-05-26 10:46] vsuh commented on #444
строка тоже допускается
на версии 1.0.16.41 скрипт работает без ошибок

[2017-05-26 10:52] vsuh commented on #444
Нашел еще машину с oscript
[code]
OSCRIPT: вер. 1.0.17.50
1

[2017-05-26 10:59] dmpas commented on #444
@vsuh раньше этот параметр просто игнорировался, потому там допускалось вообще, что угодно.
теперь там согласно синтаксис-помощника только ОписаниеТипов.

[2017-05-28 04:42] EvilBeaver commented on #440
@nixel2007 вброс не засчитан. Портирование кода с ОчиститьСообщения вряд ли будет 1-в-1 для консольного приложения. Но если считаете, что метод нужен - не возражаю.

[2017-05-28 04:45] #444 closed, assigned to nobody

[2017-05-28 04:47] EvilBeaver opened #445 "Метод ПотокВыводаТекста.Прочитать() возвращает пустую строку, вместо Неопределено"
По замыслу, неблокирующее чтение потоков должно выдавать Неопределено, если данных нет. А выдает пустую строку.

[2017-05-28 08:35] dmpas commented on #440
по-моему, метод нужен.

[2017-05-28 12:26] nixel2007 commented on #440
не считайте за вброс, но разве Сигнал относится к консоли? это же чистый системный beep, который вообще не завязан на способ взаимодействия с пользователем.

[2017-05-28 13:04] dmpas commented on #440
Системный бип идёт на сервере, а консоль.сигнал должна бипнуть на клиенте. Ssh и всё такое.

[2017-05-28 13:26] EvilBeaver commented on #440
Ты не поверишь, но сигнал - это символ в ascii

[2017-05-28 13:32] nixel2007 commented on #440
@dmpas хм, интересная мысль.

[2017-05-28 13:32] nixel2007 commented on #440
@EvilBeaver а вот это удивительно :) не знал :)

[2017-05-29 12:38] afanasko opened #446 "Поведение свойства "таймаут" объекта HTTPСоединение отличается от 1С"
1. В 1С таймаут устанавливается в секундах, а у OneScript в миллисекундах
2. В 1С, если таймаут не устанавливать, то она ждет вечно. В OneScript таймаут по умолчанию равен 100 000 миллисекунд (100 секунд).

[2017-05-29 12:45] afanasko opened #447 "Параметр "ИмяВыходногоФайла" в методах объекта HTTPСоединение"
Если в качестве параметра "ИмяВыходногоФайла" методов: **ВызватьHTTPМетод**,  **ОтправитьДляОбработки**, **Получить** передать пустую строку, то OneScript вываливается на исключение "Пустое имя пути не допускается". В 1С пустая строка в этом параметре допускается и не приводит к возникновению исключения.

[2017-05-29 13:37] EvilBeaver commented on #447
Спасибо.

[2017-06-07 11:38] dmpas opened #450 "АргументыКоманднойСтроки - фиксированный массив"
Зачем для `АргументыКоманднойСтроки` выделен свой велосипедо-класс, если по сути это `ФиксированныйМассив`. Из плюшек перехода на ФиксированныйМассив такие вещи из коробки, как `Найти` и `Получить`.

[2017-06-07 13:42] EvilBeaver commented on #450
Руками и ногами за. Сам давно такое хочу. Решим вопрос обратной совместимости сейчас как-нить? Или тупо грохнем тип?

[2017-06-07 15:21] dmpas commented on #450
Тупо грохнем тип. Мне кажется, никто не проверяет нигде на тип КоллекцияАргументовКоманднойСтроки.

[2017-06-08 06:42] ret-Phoenix commented on #450
Может сначала Deprecated сделаем?

[2017-06-08 07:00] artbear commented on #450
Нет, при столь малой скорости выпуска релизов лучше сразу грохать, тем более, что разница в клиентском не будет видна или почти незаметна

[2017-06-08 07:09] EvilBeaver commented on #450
Грохаем

8 Июн 2017 г. 10:00 пользователь "Artur Ayukhanov" <notifications@github.com>
написал:

[2017-06-08 11:07] #446 closed, assigned to nobody

[2017-06-08 11:10] #385 closed, assigned to nobody

[2017-06-08 11:11] EvilBeaver opened #451 "Переопределять каталог библиотек в переменной окружения"
По мотивам задачи #385

Нужна переменная окружения, позволяющая переопределить конфигурационные параметры движка из файла oscript.cfg.

[2017-06-08 11:40] EvilBeaver commented on #403
Понимание и так есть, насколько я понимаю - подключается всегда из настроек в oscript.cfg.

Сначала системный каталог, потом из lib.additional в порядке следования.

[2017-06-08 11:43] dmpas commented on #403
мне кажется, тут имеется в виду возможность видеть, какая библиотека из какой была использована, чтобы, к примеру, конфликты отследить. Сам вчера сел и почти запилил такое. Правда потом подумал и удалил.

[2017-06-08 11:49] #386 closed, assigned to nobody

[2017-06-08 11:49] #375 closed, assigned to nobody

[2017-06-08 11:49] #414 closed, assigned to nobody

[2017-06-08 11:49] #419 closed, assigned to nobody

[2017-06-08 11:49] #445 closed, assigned to nobody

[2017-06-08 12:12] #366 closed, assigned to nobody

[2017-06-08 12:23] EvilBeaver commented on #403
Мне больше интересно, как это будет выглядеть для конечного пользователя. Как эти трейсы смотреть потом?

[2017-06-15 07:33] artbear commented on #403
Самый простой путь - это доработать системный загрузчик библиотек `OneScript\lib\package-loader.os`

Например, я для расследования сделал такой код/костыль (добавил вывод сообщений)
[code]

Когда мне нужно разобраться в последовательности, я изменяю в конце файла
`ПоказатьСообщенияЗагрузки = Истина;`

Раза 3 за полгода помогало.

Возможно добавить какой-то флаг в командную строку оскрипт и передав

[2017-06-15 07:47] artbear commented on #403
Либо по ключу из ком.строки добавить вывод лога в методы движка `ДобавитьКласс` и `ДобавитьМодуль`
в этому случае загрузчик менять не придется

[2017-06-15 08:51] dmpas commented on #396
что-то я ничего не понял из обсуждения... @artbear у тебя там циклическая зависимость или мне показалось??

[2017-06-15 08:55] Stepa86 opened #453 "Дублировать сообщения от движка на русском"
Предлагаю дополнить сообщение

руководством к действию на русском. Например,

[2017-06-15 10:20] artbear commented on #396
не циклическая зависимость.

я дорабатываю версию типового пакета в своем рабочем каталоге.
Этот же пакет уже стоит у меня через opm install

при вызове прогона фич используется вызов версии из общего каталога библиотек (от opm install), а не из моего пакета.

[2017-06-16 14:50] EvilBeaver commented on #403
Ну ты троллище! :) В этом случае придется менять движок. Что, в сравнении с банальной правкой скрипта кажется какой-то сверхзадачей.

[2017-06-16 14:52] EvilBeaver commented on #453
Я не против. Но делать не буду. Опенсорс и все такое :)

[2017-06-16 16:09] #357 closed, assigned to dmpas

[2017-06-16 16:30] best-tech commented on #425
А как пользоваться отладчиком?

[2017-06-16 16:37] nixel2007 commented on #425
@best-tech отладчик пока не опубликован в виде готового расширения. только собирать самому.

[2017-06-16 17:02] EvilBeaver commented on #425
Уу брат, это сакральное знание, тут без поедания лягушек на кладбище никак...

[2017-06-16 17:14] best-tech commented on #425
Я не хочу ни лягушек ни на кладбище, хочу F9;)

[2017-06-19 06:19] best-tech opened #457 "Ключи -check -compile выдают ошибку: Object reference not set to an instance of an object}"
{Модуль /usr/share/oscript/lib/logos/src/log-manager.os / Ошибка в строке: 65 / Внешнее исключение (System.NullReferenceException): Object reference not set to an instance of an object}
КаталогКонфига = СтартовыйСценарий().Каталог;

[2017-06-19 06:21] best-tech commented on #457
1.0.16.41
1.0.17.78

[2017-06-20 10:37] EvilBeaver commented on #457
Дайте пожалуйста полную строку запуска oscript с ключом -check на которой воспроизводится.

[2017-06-20 10:51] #457 closed, assigned to nobody

[2017-06-20 11:44] #451 closed, assigned to nobody

[2017-06-20 11:45] #403 closed, assigned to nobody

[2017-06-20 11:47] best-tech commented on #457
/usr/bin/oscript -compile ./making.os
а так же
/usr/bin/oscript-cgi ./making.os

[2017-06-20 12:12] #450 closed, assigned to dmpas

[2017-06-20 12:32] artbear commented on #403
ПриЗагрузкеБиблиотеки
например, добавив 4 параметр
ПриЗагрузкеБиблиотеки(Путь, СтандартнаяОбработка, Отказ, ВыводитьЛогЗагрузки)

@EvilBeaver может быть, рано закрыл?
Что насчет реализовать фичу из цитаты ?

[2017-06-20 12:34] artbear commented on #451
@EvilBeaver А где дока на `OSCRIPT_CONFIG` ?

[2017-06-20 13:15] best-tech commented on #457
а вот запуск из режима cgi, видимо аналогичная проблема
ругается на обращение ВебЗапрос.GET;

`ScriptEngine.Machine.ExternalSystemException: {Модуль /var/www/html/cgi-bin/cgi.os / Ошибка в строке: 9 / Внешнее исключение (System.NullReferenceException): Object reference not set to an instance of an object} d = ВебЗапрос.GET; ---> System.NullReferenceException: Object reference not set to an instanc

[2017-06-20 13:48] EvilBeaver commented on #451
Шутишь, я только закодить успел а ты доку хочешь

[2017-06-20 13:50] EvilBeaver commented on #403
Не рано. Выводить лог можно и так как ты сделал. На уровне движка такому не место. Кроме того, флаговые параметры в методах вызывают у меня немотивированную агрессию

[2017-06-20 13:51] EvilBeaver commented on #403
Кто и как установит этот параметр в True?

[2017-06-20 18:13] artbear commented on #451
Я хотел бы, чтобы не забылось про доку.
Я обычно либо не закрываю задачу, добавив в че-лист невыполненную задачу по
доке,
Либо создаю новую задачу на доку.
Пока ты в контексте, сделай что-то подобное.

вт, 20 Июн 2017, 16:48 Andrei Ovsiankin <notifications@github.com>:

[2017-06-20 18:14] artbear commented on #403
Тот, кто запустит 1скрипт со спец.параметром

вт, 20 Июн 2017, 16:51 Andrei Ovsiankin <notifications@github.com>:

[2017-06-21 08:08] EvilBeaver commented on #447
@afanasko сможешь починить на ветке release/1.0.17?

[2017-06-21 08:56] afanasko commented on #447
@EvilBeaver, на выходных постараюсь сделать.

[2017-06-21 10:40] EvilBeaver commented on #403
Все просто. Дорабатывается штатный лоадер, который входит в поставку. Он проверяет установку специальной переменной в окружении. Если она есть - делает эти сообщить. @artbear, сделаешь?

[2017-06-21 10:57] artbear commented on #403
Да, такой вариант устраивает.

Да, сделаю.
По срокам пока не могу сказать.

Ишуз переоткроешь?

[2017-06-22 14:29] EvilBeaver opened #462 "Возможность таймаута на ожидании процесса"
Внутри класса System.Diagnostics.Process ожидание работает по-разному для бесконечного ожидания и ожидания с таймаутом.

В случае с включенным перехватом потоков вывода бесконечное ожидание приводит к нестабильному чтению и зависаниям. Нужно дать возможность ожидания завершения с таймаутом, как сделано в .NET.

    bool WaitForExit(int milliseconds)

Работать стабильно все равно не начнет, но API

[2017-06-23 10:39] artbear opened #466 "По умолчанию ставить OneScript не в "Program Files", а в корень системного диска"
Чем мы хуже всяких Python, Go, Ruby и т.п., которые ставятся в корень диска С:\ ?

да и обновление легче будет, т.к. режим администратора не будет нужен - правда, это не всем удобно.

[2017-06-23 10:40] dmpas commented on #466
гадить в корень - это плохо.

[2017-06-23 10:41] EvilBeaver commented on #466
Будет нужен. Не нужен только если в appdata для конкретного пользователя

[2017-06-23 10:42] dmpas commented on #466
Нужны будут админские права, но не режим администратора.

[2017-06-23 10:46] artbear commented on #466
вот именно, что обычные права, а не супер-админские

[2017-06-23 10:58] ret-Phoenix commented on #466
all users - appdata

[2017-06-23 11:12] EvilBeaver commented on #466
Вообще что то в этом есть.

[2017-06-23 11:28] fishca commented on #466
Лучше ставить в корень D:\, но никак не в корень системного диска. Хотя я может слишком старомоден.

[2017-06-23 11:33] ret-Phoenix commented on #466
может быть только 1 диск, и думаю так у многих. Так что не вариант.
сделать выбор, как у других ПО
- программы
- апп дата пользователя
- апп дата всех пользователей (так кажется гугл хром ставится)

то как ставится Python, если честно раздражает.

[2017-06-23 14:24] nixel2007 commented on #466
Я против установки в корень C - это дико бесит и захламляет чистое и уютное местечко.
Аппдата - да, можно. Можно даже не в allUsers, а в текущего - тогда точно никаких прав не нужно.

[2017-06-23 14:24] nixel2007 commented on #466
а еще лучше - на выбор, как делают инстялляторы - для всех/для текущего пользователя

[2017-06-23 14:26] artbear commented on #466
Да, выбор варианта (для всех/текущий) нужен и полезен.
Только куда ставить при выборе "для всех" ?

нужно решить.

[2017-06-26 20:54] #462 closed, assigned to nobody

[2017-06-29 07:15] petypen opened #471 "У элемента СовпадениеРегулярногоВыражения / RegExMatchx коллекции КоллекцияСовпаденийРегулярногоВыражения / RegExMatchCollection не хватает свойства Позиция"
Добрый день.
у элемента `СовпадениеРегулярногоВыражения` коллекции `КоллекцияСовпаденийРегулярногоВыражения`  есть свойство `Длина` но нет свойства `ПозицияПервогоСимвола`

Пример сценария использования:
автоматически обрабатывается текст модуля обработки и удаляются все комментарии.  При этом, описание процедур и функций хочу оставить. Мне необходимо получить диапазон позиций текста модуля между

[2017-06-29 14:46] EvilBeaver opened #472 "Убрать зависимость от NewtonsoftJson из ядра движка"
Зависимость от библиотеки JSON в движке не нужна. Лучше оставить ее только в HostedScriptLibrary.dll

[2017-06-29 16:19] alexey-marochkin opened #473 "ЗаписатьСоответствиеПространстваИмен записывает префикс при объявлении префикса"
ЗаписатьСоответствиеПространстваИмен("xmlns","http://v8.1c.ru/8.3/config/merge/settings");

Записывается следующее: xmlns:xmlns="http://v8.1c.ru/8.3/config/merge/settings"

Написал скрипт для преобразования патча GIT в mergesettigs для 1С и 1С такую конструкцию не проглатывает при загрузке настроек объединения. Выдает ошибку
![redefinition_forbiden](https://user-images.githubusercontent.com/402495

[2017-06-29 16:21] EvilBeaver commented on #473
А 1с как себя ведет при такой попытке записать соответствие?

[2017-06-29 16:41] khorevaa commented on #473
@mrscylla еще бы скрипт в студию или на гитхаб  полезно будет

[2017-06-29 20:05] alexey-marochkin commented on #473
Почитал про нэймспэйсы понял что не прав.
Нэймспэйс по умолчанию объявляется при записи начала элемента, а остальные при записи соответствия.

В итоге такой код работает

`Хмл.ЗаписатьНачалоЭлемента("Settings", "http://v8.1c.ru/8.3/config/merge/settings");
Хмл.ЗаписатьСоответствиеПространстваИмен("xs", "http://www.w3.org/2001/XMLSchema");
Хмл.ЗаписатьСоответствиеПространстваИмен("xsi", "http://www

[2017-06-29 20:05] #473 closed, assigned to nobody

[2017-06-29 20:33] alexey-marochkin commented on #473
@Khorevaa [скрипт](https://github.com/mrscylla/DevOps/blob/master/%D0%A1%D0%B1%D0%BE%D1%80%D0%BA%D0%B0/make_merge_settings.os)

[2017-06-30 00:58] dvakor commented on #472
Посмотрел, что зависимость находится только в классе CodeStatProccessor.
Как вариант можно убрать запись в файл из него (класса), а реализовать уже в HostedScriptLibrary.

[2017-06-30 06:42] EvilBeaver commented on #472
Да, в самой машине можно выводить статистику в какой-то спец. класс. А потом в Library или вообще прямо в oscript.exe сериализовывать это в нужный формат.

[2017-06-30 10:09] EvilBeaver commented on #473
@mrscylla не прав, но не в порядке записи. Просто нельзя записать префикс xmlns в явном виде.
Можно попробовать вариант:

    Хмл.ЗаписатьСоответствиеПространстваИмен("", "my-default-ns")

[2017-06-30 10:10] EvilBeaver commented on #473
Ну или в наглую "ЗаписатьАтрибут("xmlns", "my-default-ns")

[2017-06-30 14:08] dmpas commented on #472
в данном случае json вообще можно руками писать. Хитростей там нет.

[2017-07-01 06:50] #472 closed, assigned to nobody

[2017-07-01 06:51] #256 closed, assigned to nobody

[2017-07-01 09:57] dvakor commented on #471
у СовпадениеРегулярногоВыражения есть свойство Индекс(Index) это разве не то, что вы хотите?)

[2017-07-01 10:09] dvakor commented on #453
Предложение хорошее, учитывая, что миссия проекта (как я понял статью Бивера) сделать скриптовый движок для 1Сников, которые не знают ничего кроме 1С, а судя по опыту некоторые 1Сники и с иглишом не особо, т.к. вся инфа на нативном нашем языке.
Но нужно решить, на каком языке выводить предупреждения\ерроры конкретному потребителю (язык ОС?) т.к. делать всё на русском тоже не комильфо, 1С не спеша

[2017-07-01 10:15] dvakor commented on #466
Тоже не люблю, когда интерпретаторы ставятся в корень, потом заходишь в С, а там
Python27
Python34
Ruby22-x64
и тд.
А почему не дать свободу в выборе пути, а потом не прописать его в переменные окружения?

[2017-07-02 06:26] EvilBeaver commented on #453
Словари избыточно... в 1С и в односкрипте двуязычный синтаксис. Можно писать ``Если``, можно писать ``If``. Думаю, достаточно двух языков. А как выбирать тот или иной - можно пообсуждать. Это не так важно. Русский по-умолчанию закроет потребности 99% пользователей, полагаю.

[2017-07-02 06:28] EvilBeaver commented on #466
Свободу выбора не отменяет никто. Речь о правах на каталоги. Если ставить в Program Files, то потом, для работы с пакетным менеджером требуется либо консоль суперадмина, либо настройка себе самому прав. Т.е. issue предлагает решить именно эту проблему, а не каталог установки движка.

[2017-07-02 09:17] konarev opened #475 "Пакет для ArchLinux в AUR приведен в соответствие с текущим релизом (1.0.16)"
https://aur.archlinux.org/packages/onescript/

[2017-07-02 09:52] EvilBeaver commented on #475
Спасибо!

[2017-07-03 12:49] #475 closed, assigned to nobody

[2017-07-03 12:49] EvilBeaver commented on #447
@afanasko сделано же? Закрываю?

[2017-07-03 13:52] EvilBeaver commented on #404
Проверил. На самом деле, если подключается один и тот же тип то используется первый. А исключение не выбрасывается. Надо переделывать.

[2017-07-03 13:58] nixel2007 commented on #404
@EvilBeaver ты не сломаешь таким образом `#Использовать asserts`, например, среди россыпи тестов?
Или точечное подключение не в main.os, а в конкретных подклассах/подмодулях?

Не, я помню про глобальный контекст и все такое, но если внезапно мой скрипт начнет падать при подключении логоса из-за того, что логос подключаеся в каком-нибудь cmdline - я "обижусь"

[2017-07-03 13:59] nixel2007 commented on #404
Апдейт - из разных мест. Слепая моя голова, вопрос снимаю.

[2017-07-03 15:05] EvilBeaver commented on #404
Вообще там идет хеширование кода. Если подклбчаем из разных мест, но идентичные файлы то ругаться не будет. Вот только эта проверка сейчас не вызывается.

[2017-07-04 05:36] afanasko commented on #447
Ага, сделано.

[2017-07-04 05:36] #447 closed, assigned to nobody

[2017-07-05 16:40] bambr1975 commented on #166
http://email-practice.ru/2012/04/15/11-mailchimp-signup-form/ зарегистрироваться на сайте mailchimp.com нужно только

[2017-07-05 19:54] petypen commented on #471
@ArchLord42RU Дмитрий, вы абсолютно правы. Спасибо за помощь.

Провел эксперимент. Следующий скрипт:
[code]
В следующем тексте ищет совпадения слов, которые начинаются на "Функ"
_При этом, описание процедур и функций хочу оставить.
 Мне необходимо получить диапазон позиций текста модуля между // Функция
 и Функция, который я и буду считать описанием._

Вот что дает лог вывода:
Исходная строка:
При

[2017-07-06 02:56] dvakor commented on #471
Тикет можно преобразовать в что-то типа "Дополнить синтаксис помощник на сайте", ибо там нет данного свойства в описании объекта.

[2017-07-06 09:18] artbear commented on #471
Не соглашусь, в СП на сайте есть описание
![image](https://user-images.githubusercontent.com/2920817/27904372-2e56450a-6245-11e7-8618-682dcf55bacf.png)

[2017-07-06 12:36] dvakor opened #476 "Не работает добавление элементов в циклах "для каждого" в коллекциях ДЗ\ТЗ"
Собственно вываливается стандартный шарповский ексепшен InvalidOperationExecution при попытки модифицировать коллекцию(ДЗ\ТЗ) в момент ее перечисления.

Простой пример кода.

ДЗ = Новый ДеревоЗначений;
ДЗ.Строки.Добавить();
ДЗ.Строки.Добавить();
й = 0;
Для Каждого Колонка ИЗ ДЗ.Строки Цикл
	ДЗ.Строки.Добавить();
	й = й + 1;
	Если й = 5 Тогда
		Прервать;
	КонецЕсли;
КонецЦикла;
Сообщить(ДЗ.Строки.К

[2017-07-06 12:37] dvakor commented on #471
хм, видимо плохо смотрел :(

[2017-07-06 12:38] EvilBeaver commented on #476
Кажется что потребность в таком поведении сомнительна...

[2017-07-06 13:08] ret-Phoenix commented on #476
Для начала, не совместимо с 1С.

[2017-07-07 05:55] petypen commented on #471
Закрываю, как решенный

[2017-07-07 05:55] #471 closed, assigned to nobody

[2017-07-08 16:32] dmpas opened #477 "Битовые функции"
https://wonderland.v8.1c.ru/blog/pobitovye-operatsii-s-tselymi-chislami/

[2017-07-09 13:19] EvilBeaver commented on #476
Решение в создании кастомного итератора всех наших коллекций. Он должен уметь такое. Тем не менее, я все равно не понимаю зачем изменять коллекцию в цикле итератора. Это undefined-behavior, который нигде не описан и не гарантируется, что завтра 1С не поменяет поведение.

[2017-07-09 13:20] EvilBeaver commented on #477
Не прошло и дофигищи лет. Да, будем делать, хорошая штука.

[2017-07-14 09:37] CT144 opened #479 "Свойство объекта не обнаружено (LF)."
Версия OneScript v.1.0.17.90.
Если написать `Символы.LF`, получаем ошибку: "Свойство объекта не обнаружено (LF)".
Использование английского "Tab", также вызывает ошибку.
В предыдущей версии, ошибки не возникало.
Видимо, сочетание русскоязычного "Символы" и англоязычного свойства не работает.

[2017-07-14 09:47] CT144 opened #480 "Неверная диагностика места ошибки в "exe" модуле."
OneScript v.1.0.17.90.
Скрипт "упакован" в EXE-модуль. Из основного скрипта из внешней библиотеки создается новый класс. При вызове в методе этого класса возникает ошибка. В сообщении об ошибке:
"Модуль Service1cDB.exe / Ошибка в строке: 372 /"
указывается модуль основного скрипта, а не того в котором возникла ошибка. Номер строки при этом верный и указывает на строку из внешней библиотеки.

[2017-07-14 10:51] EvilBeaver commented on #480
Так и хочется сказать: "это фича"

Exe приложение все модули слепляет в одну кучу. Диагностика ошибок в нем не задумывалась. Пофиксить надо, наверное, но некритично

[2017-07-14 16:04] vasvl123 opened #481 "Страница "http://oscript.io/syntax/page/Операции с строками" не открывается"

[2017-07-14 19:52] dvakor commented on #481
По идее этот УРЛ и не должен работать)
Где вы нашли этот линк? УРЛ СП представленный на сайте ведет в http://oscript.io/syntax (без page) и работает он прекрасно

[2017-07-14 19:54] dvakor commented on #479
Подтверждаю, не пашет на данном релизе, в предыдущем все ок.

[2017-07-14 19:57] dvakor commented on #476
Плохой пример я привел, наверное
Мой реальный юз.кейс был в том, чтобы обойти верхние ветви ДЗ и добавить в них пару строк, собственно легко решается циклом с итератором, тикет я создал потому что "не совместимо" с 1С, если найдется кейс где эта фича будет "must have" думаю можно будет заняться этим вопросом.

[2017-07-14 20:00] vasvl123 commented on #481
http://oscript.io/syntax/page/%d0%9e%d0%bf%d0%b5%d1%80%d0%b0%d1%86%d0%b8%d0%b8%20%d1%81%20%d1%81%d1%82%d1%80%d0%be%d0%ba%d0%b0%d0%bc%d0%b8

[2017-07-14 20:12] vasvl123 commented on #481
http://oscript.io/syntax/page/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8%20%D1%81%D0%BE%20%D1%81%D1%82%D1%80%D0%BE%D0%BA%D0%B0%D0%BC%D0%B8 а вот так работает, нужно исправить на "Операции со строками"

[2017-07-16 14:59] EvilBeaver commented on #479
Спасибо!

[2017-07-16 15:20] EvilBeaver commented on #481
Исправлено

[2017-07-16 15:20] #481 closed, assigned to nobody

[2017-07-16 16:16] EvilBeaver opened #485 "ZIP. Добавление содержимого каталога с относительными путями"
Функциональность добавления в ZIP файлов внутри каталога по маске с отн. путями

[code]

Если указан каталог с маской, то относительный путь для файлов, лежащих в корне этого каталога вычисляется неверно.

Если каталог с именем dir содержит файл getme.txt, а также любое количество подкаталогов, то приведенный код создаст архив с корректным деревом подкаталогов, но корневое содержимое dir попадет в

[2017-07-16 16:26] EvilBeaver commented on #485
P.S. также надо сравнить с 1С, как поступает она.

[2017-07-18 10:33] best-tech commented on #457
теперь -make ((
1Script Execution Engine. Version 1.0.17.90

 Ссылка на объект не указывает на экземпляр объекта

Make started...

ScriptEngine.Machine.ExternalSystemException: {Модуль C:\Program Files (x86)\OneScript\lib\logos\src\log-manager.os / Ошибка в строке: 69 / Внешнее исключение (System.NullReferenceException): Ссылка на объект не указывает на экземпляр объекта.}

[2017-07-18 10:48] best-tech opened #486 "Ключ -make выдают ошибку: (System.NullReferenceException): Ссылка на объект не указывает на экземпляр объекта.}"
1Script Execution Engine. Version 1.0.17.90

Make started...
ScriptEngine.Machine.ExternalSystemException: {Модуль C:\Program Files (x86)\OneScript\lib\logos\src\log-manager.os / Ошибка в строке: 69 / Внешнее исключение (System.NullReferenceException): Ссылка на объект не указывает на экземпляр объекта.}

[#457](https://github.com/EvilBeaver/OneScript/issues/457)

[2017-07-18 14:24] Tavalik opened #487 "После упаковки в EXE-модуль не работают внешние компоненты."
Скрипт из двух строчек:

[code]

Скрипт работает без ошибок. Путь к внешней компоненте абсолютный.

Конвентируем в exe-файл в этот же каталог. Екзешник при запуске вываливается с ошибкой:

"Конструктор не найден (УправляемыйИнтерфейс)"

т. е. компонента подключается, но класс не создается.

[2017-07-24 19:49] EvilBeaver commented on #486
Уточню: это происходит, если в скрипте, который упаковываем, косвенно есть обращения к СтартовыйСценарий() в теле модуля. При инициализации объекта СтартовыйСценарий нулевой, похоже. В данном примере - это внутри logos обращение к СтартовыйСценарий().Каталог

[2017-07-25 02:34] Denotop opened #488 "Выполнение файла скрипта в другом скрипте"
Мне кажется не хватает процедуры которая бы подключала текст модуля к текущему скрипту.
Не ввиде класса или модуля, а в контексте текущего модуля.
Например:
в файле test1.os
Функция МояФункция() Экспорт
	Сообщить("Работает");
КонецФункции

в файле test2.os
#Использовать "test1.os"
МояФункция();

так test2.os работать не будет, но хотелось чтобы функция МояФункция() была доступна.

[2017-07-25 02:39] Denotop opened #489 "Создание фоновой задачи или асинхронное выполнение функции"
Не хватает фоновых задач.
Конечно можно несколько раз вызвать через командную строку, но в нее не очень удобно передавать параметры.

[2017-07-25 03:44] dvakor commented on #488
Просто интересно, а зачем? Кто вам мешает все в одном файле реализовать?
Если у вас много кода в рамках одного скрипта, то тут априори надо делить на модули\классы, вы же не пишете конфигурацию, запихивая весь код в один общий модуль \ несколько глобальных модулей, это полный бред.

[2017-07-25 05:14] Denotop commented on #488
Если onescript позиционирует себя как скриптовый язык то эта функция должна быть, как например в php функция include,require.
Нужно это для двух вещей:
1) Разделение бизнес логики по файлам, а не писать все в одном файле
2) Организации наследования методов и свойств, в текущей модели я не вижу как организовать наследования

[2017-07-25 05:41] dmpas commented on #488
Для этого есть библиотеки. Делаются они лишь капельку сложнее, чем "test1.os".

тут у нас идеологический пробел. Не все считают, что это нужно.

[2017-07-25 06:47] artbear commented on #489
Все решается через объекты/классы/библиотеки.

посмотри примеры реализаций в репо библиотек из https://github.com/oscript-library

[2017-07-25 09:02] EvilBeaver commented on #489
А зачем фоновые? Что хотите ими сделать?

[2017-07-25 09:49] Denotop commented on #489
ну например запрос на TCPСервер обрабатывать в фоновом задании

[2017-07-25 11:48] EvilBeaver commented on #489
@Denotop а в основном потоке при этом что делать?

[2017-07-25 11:50] EvilBeaver commented on #488
А Андрей Ош уже запилил наследование и полиморфизм :trollface:

[2017-07-25 11:52] #441 closed, assigned to nobody

[2017-07-25 11:52] #440 closed, assigned to nobody

[2017-07-25 12:04] #488 closed, assigned to nobody

[2017-07-25 12:08] Denotop commented on #489
это на усмотрения программиста, можно ожидать результат выполнения фонового задания
можно завершить выполнения скрипта, не дожидаясь выполнения фонового задания

[2017-07-25 20:42] EvilBeaver commented on #489
Я и спрашивал: "Что конкретно надо сделать с помощью фоновых"? Если результат ожидать, то зачем тогда фоновое? А если скрипт завершать, то кто будет довыполнять фоновое?

[2017-07-25 20:56] nixel2007 commented on #489
Параллельная обработка?

[2017-07-26 04:06] EvilBeaver commented on #489
Ну вот сделает Никита лямбды, их можно будет использовать в качестве THREADFUNC

[2017-07-26 05:42] nixel2007 commented on #489
Не совсем уловил связи. Ты хочешь сказать, что передача аргументов в лямбда-функцию технически похожа на передачу аргументов в новый поток? Лямбды же живут в потоке родителя, общая память, область видимости (ну, почти)

[2017-07-27 11:34] artbear opened #490 "Собрать релиз OneScript, в котором в библиотеках нет использования устаревшей функции"
Нужно исключить сильно отвлекающее сообщение о deprecated методе.

я выпустил релизы opm, logos, v8runner для поддержки 17 движка и исключения этого предупреждения.

@EvilBeaver сможешь собрать и выложить на сайт версию с "правильными" библиотеками?

[2017-07-28 09:59] EvilBeaver commented on #490
opm update --all?

[2017-07-28 16:02] #490 closed, assigned to nobody

[2017-08-01 07:07] dmpas opened #491 "Упросить получение версии ОС"
Убрав переменные среды, СистемнаяИнформация теперь используется только для одного:
[code]

[2017-08-01 07:17] EvilBeaver commented on #491
Я подумываю о препроцессоре для этих целей. Или лишнее?

[2017-08-01 07:23] dmpas commented on #491
У меня по поводу препроцессора смешанные чувства.
С одной стороны - это полезно и "для совместимости" всё равно придётся делать.
С другой стороны - делать его долго (полпарсера перелопатить); и опыт Си/Си++ показывает, что препроцессор всем подряд в руки давать не стоит.

[2017-08-01 07:25] EvilBeaver commented on #491
Он есть уже в 2.0. Поскольку она чет не едет, думаю удачные куски оттуда перетаскивать сюда

[2017-08-01 07:26] EvilBeaver commented on #491
А так да, чувства аналогичные у меня

[2017-08-01 18:25] ret-Phoenix commented on #491
Я тоже против препроцессоров.

[2017-08-01 18:27] #439 closed, assigned to nobody

[2017-08-01 18:50] EvilBeaver commented on #491
@ret-Phoenix, аргументация?

[2017-08-04 08:14] ret-Phoenix commented on #491
Усложнение кода, уменьшение прозрачности.

[2017-08-07 09:25] EvilBeaver opened #492 "Проброс произвольных .NET API с помощью ManagedCom"
Текущая реализация COMОбъекта в целом, может быть применена и к произвольным .NET классам.

Нужно провести натурный эксперимент и попытаться использовать .NET классы через прослойку COMОбъекта.

Проблемы вылезут с дженериками и, возможно, перечислениями. В остальном, должно быть совместимо.

[2017-08-07 12:04] dmpas commented on #492
пока я экспериментирую, предлагаю обсудить синтаксис.
[code]

[2017-08-07 12:06] artbear commented on #492
Вроде бы 1-й вариант не валиден с точки зрения синтаксиса

[code]
2-й и 3-й вполне себе валидны
[code]

Мне больше нравится 3й вариант - четко обозначаем класс и назначение

[2017-08-07 12:11] dmpas commented on #492
а как же мечта о пространствах имён? почему-бы не воплотить её "заодно" :)

[2017-08-07 12:21] EvilBeaver commented on #492
Уже сейчас она может работать через Новый COMОбъект

7 Авг 2017 г. 15:11 пользователь "Sergey Batanov" <notifications@github.com>
написал:

[2017-08-07 12:23] dmpas commented on #492
@EvilBeaver и правда, работает.
Понеслась развлекуха!
[code]

[2017-08-07 13:01] dmpas commented on #492
да, с амбигусом будут большие запары. Тут придётся выдумывать какую-нибудь хитрую эвристику, чтобы выбор метода был очевиден для разработчика.

[2017-08-08 06:17] EvilBeaver commented on #492
Речь о перегрузках методов? Рефлекшен вроде бы умно умеет его разруливать по переданным параметрам

[2017-08-08 06:23] dmpas commented on #492
вот пробую. там же разные приведения типов, параметры по-умолчанию и прочая-прочая.

[2017-08-08 06:43] nixel2007 commented on #492
Вроде бы за это отвечает интерпретатор/компилятор используемого языка. Разве нельзя "просто" выполнить метод класса, прокинув ему все параметры, переданные из оскрипта?

[2017-08-08 06:47] dmpas commented on #492
а который??? у тебя десяток с одинаковым именем, но разными параметрами. Притом, что `int A(int x)` и `double A(double x)` могут делать совершенно разные вещи, но в Односкрипте и то, и то - Число

[2017-08-08 06:58] nixel2007 commented on #492
@dmpas в смысле "который"? Мы же не выбираем сигнатуру явно, мы пробрасываем параметры, а нужную сигнатуру выбирают за нас.

Из проблемных преобразований на вскидку приходят только числа, да. Что-то ещё есть? Остальные примитивные типы вроде бы не имеют таких градаций - строка она и в Африке строка.

Движок оскрипта сам выбирает, во что скастить Число из 1с-кода? Или там обертка-тип поверх?

Хотя

[2017-08-08 07:12] dmpas commented on #492
а ещё есть объекты, массивы.

[2017-08-08 07:19] Faithfinder commented on #492
Есть мнение, что перегрузы без строгого типирования не вариант.

[2017-08-08 07:22] dmpas commented on #492
если перегруз по количеству параметров - то очень вариант.
в перегрузе по типам главное в нашем случае сделать выбор метода прозрачным и документировать.

[2017-08-08 08:37] dmpas commented on #492
По количеству параметров получилось. Такой код отрабатывает:
[code]

[2017-08-08 09:17] dmpas commented on #492
Теперь следующий вопрос на обсуждение: что должна возвращать функция `ТипЗнч()` ? Сейчас это `COMОбъект`.

[2017-08-08 09:22] dmpas commented on #492
А ведь работает же
[code]

[2017-08-08 09:46] dvakor commented on #492
Намекаешь на получение .Net типа?
Его же можно уже сейчас через GetType получить спокойно.

[2017-08-08 12:03] artbear commented on #492
да, хотелось бы получить Net-тип

[2017-08-08 20:15] vasvl123 opened #495 "различается синтаксис ElseIf здесь и ElsIf на платформе"

[2017-08-08 20:21] vasvl123 opened #496 "не понимает ValueIsFilled"

[2017-08-08 20:59] vasvl123 opened #497 "Не понимает Chars.LF"

[2017-08-09 04:35] vasvl123 opened #498 ""И", "ИЛИ", "НЕ" как свойство структуры"
стр = Новый Структура;
	стр.Вставить("И", "And");
	Сообщить(стр.И);

{Модуль C:\os\srv\3.os / Ошибка в строке: 3 / Ожидается идентификатор}

[2017-08-09 05:44] dmpas commented on #496
https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/SystemGlobalContext.cs#L414

У нас `IsValueFilled`, надо поправить.

[2017-08-09 05:45] dmpas commented on #497
Повтор https://github.com/EvilBeaver/OneScript/issues/479

[2017-08-09 07:28] dmpas opened #500 "Нестабильный тест http"
Сторонний ресурс httpbin.org время от времени трещит от перегрузок и выдаёт ошибки 400, 500, 408 и им подобные. Вследствие чего вся сборка помечается нестабильной.

Нужно уменьшить зависимость от проблем стороннего ресурса:
 1. отключить тест http
 2. или отрабатывать в тестах отдельные коды ошибок

[2017-08-09 07:36] artbear commented on #500
предлагаю отключить так, что тесты все-таки были, но отмечались пропущенными.

например, убрать Экспорт у реализаций методов-тестов или тупо закомментить все, оставив только ПолучитьСписокТестов

возможно, в будущем что-то другое придумаем

[2017-08-09 07:37] dmpas commented on #500
@artbear есть возможность тест запустить всё же, но пометить его пропущенным, если он провалился?

[2017-08-09 08:26] vasvl123 opened #501 "Конструктор Новый Структура(фиксструктура) не копирует свойства"
fstr = Новый ФиксированнаяСтруктура("aaa", "bbb");
str = Новый Структура(fstr);
Сообщить(str.aaa);

{Модуль C:\os\srv\3.os / Ошибка в строке: 3 / Свойство объекта не обнаружено (aaa)}

[2017-08-09 08:36] #479 closed, assigned to nobody

[2017-08-09 08:59] artbear commented on #500
@dmpas нет, в старой версии testrunner.os, который находится в исходниках движка, нет такой возможности

для исправления нужно встраиваться вот сюда https://github.com/EvilBeaver/OneScript/blob/develop/tests/testrunner.os#L608
и анализировать исключение.

в версиии 1testrunner (для скриптов) это исправлено. можно оттуда взять

[2017-08-09 11:31] dmpas opened #503 "ПолучитьВремяСоздания зависит от файловой системы"
Не все файловые системы поддерживают получение времени создания файлов (xfs, ext3), потому проверяющий тест должен быть исключён, т.к. он будет нестабилен.

[2017-08-09 11:48] artbear commented on #503
Для винды предлагаю тест оставить
для Линукса решайте сами - новые возможности СистемнойИнформации от @ret-Phoenix не помогут в определении типа файловой системы?

[2017-08-09 11:58] dmpas commented on #503
вопрос файловой системы не есть вопрос операционной системы. У тебя и под виндой может на чём попало тестовая система крутиться, и в линухе под ntfs.

[2017-08-09 12:51] artbear commented on #503
Много ты видел систем на винде, где `на чем попало крутится` ? :(

[2017-08-09 12:52] dmpas commented on #503
да примерно ни одной. :trollface:

[2017-08-09 13:16] Faithfinder commented on #503
Для линуксоидных файловых систем насколько я понял, покурив вопрос, по запросу времени создания будет возвращаться время изменения. Правда, вести список ФС в тесте было бы как-то неправильно.

Самый простой способ решить вопрос - написать вместо "ПроверитьМеньше" -
 "ПроверитьМеньшеИлиРавно". Тест получится не самый точный, но вроде как будет работать стабильно.

[2017-08-09 18:34] #497 closed, assigned to nobody

[2017-08-09 18:36] EvilBeaver commented on #503
У нас и сейчас в половине тестов "Если Линукс Тогда НахерТест()"

Так что не смертельно, если и здесь будет так же. И потом, кто тут махровый ретроград и юзает ext3?

[2017-08-09 18:37] EvilBeaver commented on #500
@artbear несколько туманное объяснение, накидай на пальцах, пожалуйста. Или пулреквестом

[2017-08-09 18:40] EvilBeaver commented on #498
В 1С такое работает разве?

[2017-08-09 18:44] EvilBeaver commented on #492
ненене. Концептуально это чужеродный объект. Как в 1С COMОбъект для всего чем не управляет платформа. Я бы оставил так же. Т.е. не стал бы декларировать гладкий проброс типов дотнет в односкрипт "как родных". Все-таки чужие.

[2017-08-10 05:11] dmpas commented on #503
@EvilBeaver в докере разве не xfs??

[2017-08-10 05:11] dmpas commented on #498
Ага.

[2017-08-10 05:36] nixel2007 commented on #503
В докер сейчас вроде Overlay 2. Или это про что-то другое?

[2017-08-10 05:39] dmpas commented on #503
В "Debian Stretch" - overlay2, в остальных - aufs по-умолчанию

[2017-08-10 06:16] dmpas commented on #422
Оставлю тут ссылку на параллельное обсуждение: https://github.com/tsukanov-as/OneShell/issues/13

[2017-08-10 07:36] artbear commented on #500
Пока нет времени на PR :(

[2017-08-11 01:11] EvilBeaver commented on #500
@artbear тогда словами поясни

[2017-08-11 01:14] EvilBeaver commented on #498
У меня какое-то дежавю, что это уже фиксилось

[2017-08-12 19:43] #501 closed, assigned to dmpas

[2017-08-13 08:42] EvilBeaver commented on #503
Ну а собственно, какой путь решения в данной issue предлагается?

[2017-08-13 08:46] EvilBeaver opened #505 "Обеспечить несколько термов для методов и свойств"
1С время от времени переименовывает методы. Особенно английские. При этом она оставляет как старый так и новый вариант. У нас так сделать нельзя (вернее, сложно). Надо бы лать возможность легко и прозрачно задавать термы методов в нескольких вариантах. С deprecated-ами и т.п.

См. #496

[2017-08-13 10:37] dmpas commented on #503
@EvilBeaver сделаем проверку на ОС.

[2017-08-13 10:39] dmpas commented on #505
`IsValueFilled` же не работает

[2017-08-13 18:18] EvilBeaver commented on #505
@dmpas это не про данный конкретный случай. Вообще, 1С в справке к новой версии часто пишет, что заменили тот или иной английский терм, но оставили старый для совместимости.

[2017-08-13 18:21] dmpas commented on #505
Что-нибудь в этом роде:
[code]

[2017-08-13 19:07] EvilBeaver commented on #505
Я думал чуть иначе:

[code]

И все алиасы, которые добавлялись как deprecated автоматом ругаются (или вообще не ругаются)

[2017-08-13 19:36] EvilBeaver commented on #496
Ошибочно закрыл текстом коммита

[2017-08-13 19:36] #498 closed, assigned to EvilBeaver

[2017-08-14 08:10] dmpas commented on #492
@artbear @EvilBeaver итого, как с типами будем договариваться? я промеж вас потерялся: с одной стороны я согласен, что если у нас не OneScript.Net, то .NET-типы нам чужие; с другой стороны - всё же клёво и удобно работать с ними как с родными.

[2017-08-14 08:16] EvilBeaver commented on #492
Я за чужие. Непрозрачно для ТипЗнч, аки сделано для COM. Аргумент: полноценно родными все равно не станут, ибо дженерики, строготипизированные перегрузы не дадут им стать истинно родными. Неизбежно будет костылестроение, лучше его избежать совсем. Черный ящик и все тут. Как в COM.

[2017-08-26 12:11] artbear opened #508 "Рефлектор не учитывает параметры по умолчанию"
Есть метод объекта `Метод(Парам1="", Парам2 = "")`

Если вызываю так
[code]
то выдается ошибка

если же явно в массиве указать значение по умолчанию, ошибки не выдается
[code]
то ошибки нет

/cc @EvilBeaver @dmpas что скажете?

[2017-08-26 12:12] artbear commented on #508
Выдается ошибка `Недостаточно фактических параметров`

[2017-08-26 12:13] artbear commented on #508
Для полной точности падает на методе, у которого 2 параметра по умолчанию, а явно передается только первый
`Метод(Парам1="", Парам2 = "")`

[2017-08-26 18:41] #486 closed, assigned to nobody

[2017-08-26 20:18] dmpas opened #509 "Копипаста в имени функции"
https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/MiscGlobalFunctions.cs#L28

Имя функции должно быть `Base64Value`

[2017-08-28 10:10] EvilBeaver opened #510 "Реализовать КодировкаТекста в виде класса"
Можно сделать, чтобы ТипЗнч(КодировкаТекста.UTF8) был равен Тип("КодировкаТекста")

В качестве значения - обернуть системный тип Encoding и получить из коробки методы GetBytesCount и подобные.

[code]

[2017-08-28 10:14] dmpas commented on #510
В духе платформы должно быть нечто вроде:
[code]

[2017-08-28 10:21] tsukanov-as commented on #510
Кстати, а в платформе строки в памяти не в UTF-8?
Если так, то хватило бы СтрРазмер() или типа того.
А вообще было бы круто получать из строки байтовый массив только для чтения. Тут и копирование не нужно, и по байтам гулять можно (строки ведь неизменяемые) В 1С есть бинарные буферы, но они вроде как копируют тоже (хотя надо бы проверить)

[2017-08-28 10:24] dmpas commented on #510
в UTF-16, насколько я знаю.

[2017-08-28 10:26] tsukanov-as commented on #510
Меня смущает то, что я для хэширования передаю строку как есть [тыц](https://github.com/Lead-Bullets/Radar/blob/master/src/CommonModules/Git_ServerCall/Ext/Module.bsl#L26). Неужели оно конверит в UTF-8 при этом O_o

[2017-08-28 10:27] dmpas commented on #510
Синтаксис:

Добавить(<Текст>)
Параметры:

<Текст> (обязательный)

Тип: Строка.
Добавляемые текстовые данные (в UTF8 кодировке).

[2017-08-28 10:28] dmpas commented on #510
конвертит, значит.

[2017-08-28 10:30] tsukanov-as commented on #510
Странно. Почему тогда они именно в UTF-8 конвертят? И выбора кодировки нет.
Я думал что это именно чтобы не конвертить.

[2017-08-28 10:33] dmpas commented on #510
видимо, потому что считать хэш от UTF-16 нафиг никому никогда не нужно. Для экзотик есть двоичные данные.

[2017-08-28 10:38] tsukanov-as commented on #510
Возможно, да

[2017-08-28 11:34] pumbaEO opened #511 "НайтиФайлы() неверно возвращает объект Файл"
linux - fedora 26, oscript - 1.0.17.95
При указании во второй части поиска пути с подкаталогами, возвращает не нулевой массив с файлами, но элементы массива указывают на несуществующий путь, точнее отрезается часть пути во втором параметре.
Пример кода, создаю временный каталог, создаю подкаталоги и записываю пустой файл, потом делаю поиск относительно временной папки и получаю не пустой массив,т.

[2017-08-28 11:37] artbear commented on #511
Проверил твой код в винде.

В винде поведение правильное.

[2017-08-28 11:39] EvilBeaver commented on #510
Внутри CLR все строки в UTF-16, а тип Char равен 2 байтам

[2017-08-28 11:46] nixel2007 commented on #510
@dmpas

1с не позволяет использовать непримитивные типы в качестве значений по умолчанию

[2017-08-28 12:09] dmpas commented on #510
Да я знаю. Там будет `Неопределено`, а в коде оно будет переопределяться. Я упростил.

[2017-08-28 13:59] EvilBeaver commented on #510
@dmpas я не понял, что именно ты хотел сказать в камменте про "В духе платформы"?

Это "за" предложение, "против" или что?

[2017-08-28 14:52] dmpas commented on #510
это ни "за", ни "против". это просто размышления на тему "если бы это было сделано в 1С".
[code]

Сама по себе затея мне нравится, особенно, если продолжить её на другие примитивные типы:
[code]

[2017-08-28 15:05] EvilBeaver commented on #510
@dmpas теперь ясно. Это был 1С-стайл. Ты прав, скорее всего так бы и было. Но он мне претит чота.

[2017-08-28 19:31] dmpas commented on #508
бага. @artbear  Тест запилишь?

[2017-08-28 20:27] #363 closed, assigned to nobody

[2017-08-29 06:08] #508 closed, assigned to dmpas

[2017-08-29 06:08] #509 closed, assigned to dmpas

[2017-08-29 06:09] #503 closed, assigned to dmpas

[2017-08-29 07:01] Faithfinder commented on #363
Это от отчаяния :)?

[2017-08-29 07:31] EvilBeaver commented on #363
Нет, просто @dmpas не знает про наш вчерашний разговор. @Faithfinder как раз хочет сделать юниттесты в движок.

[2017-08-29 07:32] EvilBeaver commented on #511
@dmpas у меня нет отладочной среды под линукс. Сможешь взять?

[2017-08-29 07:34] EvilBeaver commented on #398
Закрываю, как решенный вопрос. Нужны допилки opm.

[2017-08-29 07:34] #398 closed, assigned to nobody

[2017-08-29 08:11] dmpas commented on #511
Да, беру.

[2017-08-29 08:14] Faithfinder commented on #363
Только я хочу на MSTest. Почитал и про NUnit и про MSTest и пока что мне возможность запускать debug прямо из VS кажется полезнее того что предлагает NUnit.

Поверхностное гугление говорит что тесты нельзя запускать без VS, но более глубокое что это не так ;)

https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=TestAgent&rel=15

[2017-08-29 08:26] dmpas commented on #363
Под моно заработает?

[2017-08-29 08:47] Faithfinder commented on #363
Ммм..... Вроде нет. С другой стороны гугление этого вопроса показало, что NUnit теперь отлично встраивается в студию, нужно только добавить к тестовому проекту пакет NUnit3TestAdapter.

Такое ощущение что TDD совсем не такая передовая методология как кажется и в инете все статьи пишут или те кто сам не шарит, или те кто последний раз вопросом интересовался 8 лет назад

[2017-08-29 08:49] EvilBeaver commented on #363
NUnit работает внутри MSVS. Но я не пробовал подключать. А TDD это всего лишь инструмент. Им или умеешь пользоваться, или не умеешь, или он плохо подходит в каком-то конкретном случае. Это не религия.

[2017-08-29 08:49] EvilBeaver commented on #363
Более того, отсутствие TDD != отсутствие тестирования

[2017-08-29 09:05] Faithfinder commented on #363
Короче, NUnit отлично работает, в студию встраивается, дебаг запускается, я уже проверил. Используем.

[2017-08-29 10:53] dmpas commented on #511
@pumbaEO
у меня не воспроизводится на девелопе.
[code]
$ mono --version
Mono JIT compiler version 5.2.0.215 (tarball Mon Aug 14 15:46:23 UTC 2017)
...
[code]

[2017-08-29 13:45] Faithfinder opened #516 "-make создаёт файл даже если провалился"
Сабж. Даже если файл не смог скомпилироваться, или даже если входной .os не существует, ключ -make создаст экзешник.

[2017-08-29 18:01] pumbaEO commented on #511
Да, на 5 все работает:
[code]
а на 4 нет
[code]

[2017-08-29 21:41] EvilBeaver commented on #511
Закрываем?

[2017-08-30 09:42] #511 closed, assigned to dmpas

[2017-08-30 10:01] artbear commented on #511
@pumbaEO Женя, тогда и этот коммит https://github.com/artbear/1bdd/commit/658f20e091b059210bc58e204a4b413ba07ce7d7
откатывает, раз здесь ничего не изменили?
верно?

[2017-08-30 10:05] pumbaEO commented on #511
нет, т.к. в centos и fedora еще 4.8 версия. Сейчас работа НайтиФайлы - это особенность на 4.8. Но тот коммит позволяет ее обойти и еще годик до следующего релиза пользоваться тестовым фреймворком.

[2017-08-30 10:08] artbear commented on #511
как-то не очень логично.
а если еще где-то подобное поведение упадет, опять будем менять скрипты что-ли?
это костыльное решение.

[2017-08-30 10:12] pumbaEO commented on #511
Костыльно - согласен, пока это работает. Если дальше будет вылазить, тогда согласен - рекомендация обновить моно, но такое только в 1bdd вылезло. Можно задачку сделать, с датой через год, еще раз взглянуть свежим взглядом.

[2017-08-31 08:47] #495 closed, assigned to dmpas

[2017-09-03 05:57] #516 closed, assigned to nobody

[2017-09-04 19:57] artbear opened #523 "Добавить расшифровку неверного пути или имени файла в тексте исключения ОбъединитьПути"
Сейчас получаем сообщение, из которого совершенно непонятно, в чем проблема.
[code]
Также ИМХО возможная проблема наблюдается у класса `Файл`

А было бы удобно получить нормальную расшифровку неверного пути или имени файла в тексте исключения `ОбъединитьПути`/`Файл` для быстрейшего понимания проблемы.

[2017-09-04 21:40] nixel2007 commented on #523
По-млему ошибка вполне очевидна - строка содержит недопустимые для пути символы. Куда уж еще понятнее?

[2017-09-05 10:55] artbear commented on #523
Никита, а какие именно символы? в каком из параметров?
проблема возникает не так уж и редко :(

[2017-09-05 12:52] nixel2007 commented on #523
А проблема не в параметрах ОбъединитьПути, проблема в результате работы функции. На каждой фс список запрещённых символов свой. Емнип платформа кидает не шибко более понятное исключение, так как оно идёт из низкоуровнего вызова работы с фс. Что и в односкрипте происходит собственно

[2017-09-06 09:19] artbear commented on #492
@dmpas @EvilBeaver Мы уже обсуждали, начиная с https://github.com/EvilBeaver/OneScript/issues/492#issuecomment-320645541
возможность использования NetObject

Может быть, так и сделать?
+ Спец.объект NetObject вместо ComObject
+ ТипЗнч возвращает подробный тип `NetОбъект.System.Net.TcpListener`

Непрозрачность уж больна неудобна, валидность объекта сложно проверить, тот ли объект получен из net-мет

[2017-09-06 10:00] EvilBeaver commented on #492
Пример приведи, когда тебе позарез нужен был тип у КомОбъекта?
Ящетаю, что это вообще не надо. Плюс, у любого .NET объекта есть GetType() раз на то пошло.

[2017-09-06 11:06] artbear commented on #492
Точный пример не приведу, за давностью лет.
Насколько помню, было сложно/неудобно, когда метод какой-нибудь коллекции КомОбъекта возвращал значение, также КомОбъект.

Что за GetType() ? в реалиях наших скриптов как это будет/должно работать?
приведи пример, плиз.

[2017-09-06 13:44] dmpas commented on #492
@artbear как-то так:
[code]

[2017-09-06 14:51] artbear commented on #492
Уже лучше.
Вопросы:
+ ТипЗнч(Нечто) будет возвращать ComObject, верно ?
+ как узнать, что это самое Нечто поддерживает GetType() ?
  + или любой ComObject() поддерживает GetType(), хотя я что-то такого не помню
  + чтобы не воротить код проверки типа внутри блока попытки-исключения :)

[2017-09-06 15:19] dmpas commented on #492
Надо попробовать натравить на него рефлектор. Вдруг поможет.

[2017-09-06 19:32] EvilBeaver commented on #492
Для односкрипта что ком-объект, что .net объект - одно и то же
Достается системным рефлектором все. Даже на уровне движка нам проблематично будет отделить КОМ от НЕТ. И предлагаю этого вобще не делать. По крайней мере до появления внятных кейсов, поясняющих, что это необходимо.

[2017-09-06 19:39] artbear commented on #492
@dmpas Проверишь свою реализацию рефлектором?
Возможно ли так проверить наличие метода GetType у этого метода ?

[2017-09-06 19:40] EvilBeaver commented on #492
@artbear объясни, зачем это Сергею делать? Чтобы что?

[2017-09-06 19:40] artbear commented on #492
Если рефлектор сможет сказать по наличию метода GetType, тогда у меня нет возражений по использованию НетОбъектов как КомОбъектов

[2017-09-06 19:41] artbear commented on #492
Чтобы был нормальный метод получения инфы о типе Нет-объекта

[2017-09-06 19:44] EvilBeaver commented on #492
это не ответ. Зачем он нужен? Для ком - его нет.

[2017-09-06 19:48] artbear commented on #492
Как мне внутри своего скрипта/метода/библиотеки узнать, какой именно НетОбъект мне передали?
например, в зависимости от типа объекта у меня должна быть разные вариант обработки?

[2017-09-06 19:48] artbear commented on #492
Для Ком нету типов, потому что 1С молодцы.
Для Ком вообще можно получить инфу о типе, если у Ком-объекта есть его поддержка.

[2017-09-06 19:53] EvilBeaver commented on #523
Шедеврально в этом плане поступает и сама OS в винде и линуксе. Любимое же всеми сообщение

    Не удается найти указанный файл

Какой файл, чего? Однако, все живы

[2017-09-06 19:54] EvilBeaver commented on #492
Средствами 1С или вообще?

[2017-09-06 20:03] artbear commented on #523
И что?
Будем ориентироваться на плохие результаты?
ах, все так делают, давайте и мы также чтоли?
меня как пользователя такая аргументация не устраивает.

[2017-09-06 20:05] artbear commented on #523
Меня устроит простая расшифровка 2х переданных параметров - для ОбъединитьПути, и одного для Файл.
Не нужно искать, какие именно символы невалидны, если это сложно.

[2017-09-06 20:06] artbear commented on #523
А ошибка "Не удается найти указанный файл" многим проблем добавила.
бывает совсем не просто понять, какого же именно файла не хватает :(
бывало, и файл-моном приходилось смотреть.

[2017-09-06 20:07] artbear commented on #492
Не в 1С, конечно.
1С молодцы - они этого не сделали, насколько я знаю.

[2017-09-07 07:53] Faithfinder opened #524 "Авто-апдейтер"
Следить за выходом новых версий и потом скачивать сетап занудно. Как сделать пока не умею, но попробую разобраться. Как я это вижу:

1) При любом запуске oscript проверять наличие новой версии, если за последние сутки такая проверка не проводилась. Если при проверке обнаружили, что апдейт есть - запоминаем и выводим в консоль соответствующее сообщение при каждом запуске.

2) Команда oscript -updat

[2017-09-07 08:03] EvilBeaver commented on #524
Это уже зарубали раза три. И я уже забыл аргументацию. Помню, что с аргументами соглашался

[2017-09-07 08:05] pumbaEO commented on #524
Если, только будет по умолчанию выключенно и включатся будет по флагу --trackme

[2017-09-07 08:06] Faithfinder commented on #524
А почему, жалко раз в день сбегать в интернет и проверить версию?

[2017-09-07 08:07] EvilBeaver commented on #524
@Faithfinder проще написать скрипт

    wget oscript.io
     setup.exe /q

И поставить его себе

[2017-09-07 08:08] nixel2007 commented on #524
Это будет решено в рамках opm/ovm

[2017-09-07 08:09] pumbaEO commented on #524
@nixel2007 - апдейте в linux-e?

[2017-09-07 08:10] dmpas commented on #524
`choco upgrade onescript.cli` по расписанию

[2017-09-07 08:15] artbear commented on #524
+ В очередной раз напомню про мой старый репо
https://github.com/artbear/OneScript-install - Вин + Лин
+ а также есть варианты установки через choco

[2017-09-07 08:27] EvilBeaver commented on #524
@nixel2007 ovm???

WTF?

[2017-09-07 08:39] pumbaEO commented on #524
Если была возможность переопределить путь к бибилиотекам через переменную окружения, я бы тогда понял ovm, а так ...

[2017-09-07 08:46] EvilBeaver commented on #524
Женя, уже есть возможность через env менять конфиг. В том числе параметр поиска библиотек

[2017-09-07 08:48] pumbaEO commented on #524
Где? Я могу указать set OSCRIPT_LIBS=/home/shenja/test/ ?

[2017-09-07 08:53] Faithfinder commented on #524
"Напиши себе проверку апдейтов сам" - это не юзерфрендли. Софт должен сам проверять наличие у себя апдейтов

[2017-09-07 08:55] EvilBeaver commented on #524
@pumbaEO ты можешь написать set oscript_config=lib.system=mypath

[2017-09-07 08:55] EvilBeaver commented on #524
Но не помню с какой версии

[2017-09-08 12:59] dmpas commented on #67
Говорят, в .net core длинные пути из коробки работают. Сам я не проверял.

[2017-09-11 07:12] naodesu opened #525 "Неверная кодировка файлов в DEB-пакетах"
После установки одного из пакетов
onescript-engine_1.0.17_all.deb
onescript-engine_1.0.18_all.deb
получаем неверную кодировку у тех файлов, в имени которых есть кириллица:
[code]
А так же не работает opm :
[code]

OS: Debian Jessie

[2017-09-11 07:16] EvilBeaver commented on #525
Да, мы уже боремся с этой бедой. Спасибо!

@nixel2007, а что там за npm?

[2017-09-11 09:11] nixel2007 commented on #525
@EvilBeaver не понял, причем тут npm?

[2017-09-11 09:32] naodesu commented on #525
@EvilBeaver Я опечатался, не npm а opm.

[2017-09-11 09:34] nixel2007 commented on #525
@naodesu @EvilBeaver npm в составе opm нет. А проблема та же, из-за неверной кодировки файлов opm не может нормально заимпортировать нужные ему библиотеки. Пытаемся побороть, да.
Как временное решение могу предложить воспользоваться вручную собранной 17ой версией от @dmpas https://files.gitter.im/EvilBeaver/OneScript/VreX/onescript-engine_1.0.17_all.deb

[2017-09-12 07:33] EvilBeaver opened #526 "НИОКР: Перевести --make на Reflection.Emit"
Есть волшебная подсистема генерации сборок на лету: ReflectionEmit.

Можно попробовать генерировать "настоящие" классы из модулей oscript, и сохранять такую сборку на диск в виде dll или exe.

На выходе будет более "честная" двоичная сборка (разумеется зависящая от движка и библиотек), но там уже будет полноценная интеграция с миром .NET на уровне типов и классов.

Пока не до конца знаю зачем, воз

[2017-09-12 07:34] dmpas commented on #526
пробовал год назад :) может получиться, но эпик тот ещё.

[2017-09-12 07:37] EvilBeaver commented on #526
Я вообще пробовал байткод заменить на код CLR (гуглить Dynamic Language Runtime и IronPython). Но там ваще копать и копать... Плюнул. Озвученная задача проще.

P.S. признаюсь зачем: чтобы проще интегрироваться в ASP.NET Core в рамках веб-движка. Эта сука кругом на Reflection опирается, и, хотя, это все там переопределяемо, но переопределять почти все ее кишки не очень хочется.

[2017-09-12 07:38] dmpas commented on #526
Я целиком поддерживаю идею плотнее уходить в CLR.

[2017-09-12 07:39] EvilBeaver commented on #526
Оххх, чешутся рученьки! Но времени совсем нет (

[2017-09-12 15:19] #524 closed, assigned to nobody

[2017-09-12 15:22] EvilBeaver commented on #489
/all ну таки и что с этой задачей? @Denotop можешь набросать короткий пример кода реальной задачи, как будто фоновые существуют?

[2017-09-13 20:18] dmpas commented on #492
ну короче! я тогда запиливаю CLR-объекты, как COM-объекты - чтобы неотличимы были. а то что-то затянулося...

[2017-09-14 07:49] artbear commented on #492
ты запиливай, я после получения сборки в девелопе посмотрю работу с типами.

[2017-09-15 17:38] realMaxA opened #528 "Не освобождается файл после закрытия "ЧтениеТекста""
[code]

Воспроизведение очень сложное, понять причину не могу.
Суть: Сначала при помощи "ЧтениеТекста" читаем содержимое файла (после чего говорим `ЧтениеТекста.Закрыть()`. Спустя какое-то время пытаемся писать в этот же файл при помощи "ЗаписьТекста", в результате чего получаем ошибку записи because it is being used by another process.

Воспроизведение:
1. `git clone https://github.com/realMaxA/F

[2017-09-15 18:57] dmpas commented on #528
Выяснил. Затык не в чтении/записи текста - там `Закрыть()` отрабатывает верно. Беда в Хешировании - `ДобавитьФайл()` захыватывает файл и не отпускает, пока Хеширование существует. А убивается хеширование, соответственно, сборкой мусора.

Путь обхода - вписать `ХешФайла.Очистить();` после того, как получена хеш-сумма.
Будем ли чинить поведение хеширования, я пока не знаю.

[2017-09-16 16:13] realMaxA commented on #528
Вписывание `ХешФайла.Очистить()` не помогает. Работает только сборка мусора, причём не в этой процедуре, а там, где написано сейчас.

[2017-09-16 16:31] EvilBeaver commented on #528
Конечно надо починить хеширование. Ему вроде бы незачем удерживать файл после подсчета суммы

[2017-09-16 17:19] dmpas commented on #528
тут надо проверить, как 1С себя ведёт.

[2017-09-23 16:52] realMaxA opened #531 "КопироватьФайл() не умеет копировать файлы по http"
Согласно документации 1С, при использовании процедуры `КопироватьФайл()` "Допускается использование схем http, https и ftp для адресации файлов." На данный момент соответствующая процедура onescript способна копировать файлы только в пределах файловой системы.

[2017-09-26 08:25] dmpas commented on #523
https://msdn.microsoft.com/ru-ru/library/system.io.path.getinvalidpathchars(v=vs.110).aspx

в `Path.Combine()` тупо идёт проверка на `GetInvalidPathChars()` без участия файловой системы. Соответственно, можно либо пробросить эту функцию в односкрипт, либо на основании неё сообщать, какой же символ не понравился.

[2017-09-26 08:27] dmpas commented on #491
Может сделать глобальную переменную `СистемнаяИнформация` ?? всё равно от экземпляра к экземпляру данные не меняются...

[2017-09-26 08:28] dmpas commented on #525
@naodesu попробуй последний ночник. Мусор в нём всё ещё есть, но хотя бы работает.

[2017-09-26 10:50] EvilBeaver commented on #491
Оно украдено с 1с жеж

[2017-09-26 10:54] dmpas commented on #491
@EvilBeaver да ладно?! :trollface:

в любом случае это не повод не делать его удобнее, сохраняя при этом совместимость.

[2017-09-26 11:24] EvilBeaver commented on #491
Я и не спорю. Глобально удобно. Но может это пакет sys с модулем, а не правка движка?

[2017-09-26 11:41] dmpas commented on #491
убираем `Новый СистемнаяИнформация`, добавляем `#Использовать sys` ? сомнительный выигрышь.

[2017-09-26 11:44] nixel2007 commented on #491
@dmpas использовать sys - один раз, а новый системная информация - каждый, если оно не глобальное (Перем и прочее)

[2017-09-26 11:49] dmpas commented on #491
@nixel2007 ты данные об ОС скорее всего один раз за скрипт и получаешь.

[2017-09-27 14:10] EvilBeaver opened #535 "На ночной сборке сломался ключ -encoding="
Кажется, что в последнем ночнике (1.0.18.46) игнорируется ключ -encoding

Проверить и починить.

[2017-09-27 14:14] #416 closed, assigned to nobody

[2017-09-27 14:16] EvilBeaver opened #536 "Сборка пакета для VSC"
* Настроить в CI отдельную сборку компонентов пакета для VSC
* Настроить сборку пакета VSC и его публикацию на oscript.io

[2017-09-27 14:44] #535 closed, assigned to nobody

[2017-09-27 15:49] nixel2007 commented on #536
Добавлю:
* настроить автопубликацию готового vsix в маркетплейс VSCode из ветки мастер

[2017-09-27 15:50] nixel2007 commented on #536
Еще вариант публикации в релизы гитхаба, если они тебе нужны. https://github.com/silverbulleters/sonarqube-inject-vsc/blob/develop/.travis.yml#L21

[2017-09-28 01:15] NeonSalamander opened #537 "Крах консоли при сворачивании блока кода"
При сворачивании блока кода в консоли появляется ошибка
Сигнатура проблемы:
  Имя события проблемы:	CLR20r3
  Сигнатура проблемы 01:	TestApp.exe
  Сигнатура проблемы 02:	1.0.17.95
  Сигнатура проблемы 03:	597b5966
  Сигнатура проблемы 04:	ICSharpCode.AvalonEdit
  Сигнатура проблемы 05:	4.4.2.9744
  Сигнатура проблемы 06:	536281b2
  Сигнатура проблемы 07:	7e7
  Сигнатура проблемы 08:	173
  Сигнатур

[2017-09-28 05:30] EvilBeaver commented on #537
Дайье кусок кода, пожалуйста, на котором воспроизводится

[2017-09-28 05:59] nixel2007 commented on #537
@EvilBeaver тестовая консоль умеет сворачивать области? :)

[2017-09-28 06:00] EvilBeaver commented on #537
Ты не поверишь...

[2017-09-28 06:09] NeonSalamander commented on #537
тестовый код без каких либо обязательств, падает при попытке свернуть блок комментариев

[code]

[2017-09-29 05:39] naodesu commented on #525
@dmpas opm Вроде работает, но некоторые файлы в пакете всё равно с неверной кодировкой.

[2017-09-29 05:45] EvilBeaver commented on #525
@dmpas а что там еще за мусор? Какой природы?

[2017-09-29 05:53] dmpas commented on #525
@EvilBeaver там лежат исходники пакета. но теперь там по два файла - и в правильной кодировке, и в битой.

[2017-10-01 15:36] #477 closed, assigned to dmpas

[2017-10-02 12:10] metal-doctor opened #539 "После сборки exe файла, при его запуске возникает ошибка NullReferenceException"
После сборки exe файла (-make), при его запуске возникает ошибка:
{Модуль test_ext.exe / Ошибка в строке: 4 / Внешнее исключение (System.NullReferenceException): Ссылка на объект не указывает на экземпляр объекта.}

На версии 1.0.17.90 такая ошибка возникает при сборке exe файла.
На версии 1.0.18.51 сборка выполняется, а при запуске - возникает ошибка.

Пример: https://github.com/metal-doctor/001_

[2017-10-02 13:42] nixel2007 commented on #539
Текст скрипта?

[2017-10-02 13:54] dmpas commented on #539
@nixel2007 по ссылке "Пример"

[2017-10-02 13:55] nixel2007 commented on #539
Вангую, что еще может мешать одинаковое название методов... нэймспейсов-то нет.

//vanga_mode: off

[2017-10-02 13:59] EvilBeaver commented on #539
Ох уж этот exe mode. На свежм ночнике аналогично?

[2017-10-02 14:37] metal-doctor commented on #539
На последней версии 1Script Execution Engine. Version 1.0.18.54 - аналогично.

[2017-10-02 14:44] metal-doctor commented on #539
@nixel2007 Упростил пример, вообще убрал методы в основном скрипте. Ошибка осталась.

[2017-10-02 14:45] EvilBeaver commented on #539
Ок, принято. Спасибо

2 окт. 2017 г. 17:44 пользователь "metal-doctor" <notifications@github.com>
написал:

[2017-10-03 10:55] Diversus23 opened #540 "Ошибка связанная с вызовом V83.COMConnector.ConnectAgent"
При выполнении кода:
`	V8 							= Новый COMObject("V83.COMConnector");
	Попытка
		Агент 	 = V8.ConnectAgent(ИмяСервера);
		...
`
валится на **V8.ConnectAgent** и в логе получаю ошибку:

При этом, в версии 1.0.16 все отрабатывает нормально, а в версиях повыше получаю исключение.

[2017-10-03 11:30] dmpas commented on #540
это в 17 или в 18 ??

[2017-10-03 11:42] Diversus23 commented on #540
И в той и в той. В 16-ой все нормально.

[2017-10-03 11:53] EvilBeaver commented on #540
Ну в 18-й то я туда лазил и мог поломать, а в 17 странно. Тем более, что у нас на CI стоит ~~18~~ 17 и там без замечаний

[2017-10-03 12:05] Diversus23 commented on #540
Поставил последнюю не взлетело (18-ю), потом 17-ую, аналогично. Поставил 16-ую код заработал.
Не знаю :)

[2017-10-03 12:07] EvilBeaver commented on #540
@Diversus23 на 18 воспроизводится, уже смотрю. На 1.0.17.90 работает автодеплой, 15 минут назад проблем не было. Там как раз похожее есть для выгона пользователей.

[2017-10-03 12:12] Diversus23 commented on #540
@EvilBeaver с сайта качал 1.0.17.95 (так написано в свойствах файла в OneScript-1.0.17-setup.exe)

[2017-10-03 12:14] #540 closed, assigned to nobody

[2017-10-03 12:15] EvilBeaver commented on #540
Это привнесено в 18. Уже починил. Просто установка 17 поверх 18 не делает даунгрейд. Оно все равно 18-е осталось, видимо.

[2017-10-03 12:15] EvilBeaver commented on #540
@Diversus23 спасибо, что нашел ошибку!

[2017-10-03 12:19] Diversus23 commented on #540
@EvilBeaver да было бы за что :) Тут уместнее: спасибо, что исправил!

[2017-10-03 12:19] EvilBeaver commented on #540
Собралось и опубликовалось http://oscript.io/downloads

[2017-10-03 14:06] EvilBeaver opened #541 "Свойства Дерева, Таблицы, Структуры не отображаются в отладчике"
При попытке раскрыть свойства локальной переменной типа ДеревоЗначений, СтрокаДереваЗначений, Структура, и др. не все свойства отображаются в отладчике.

[2017-10-03 14:08] #541 closed, assigned to EvilBeaver

[2017-10-03 14:09] nixel2007 commented on #541
да лааааадно. хотеть!

[2017-10-03 14:10] EvilBeaver commented on #541
http://build.oscript.io/job/1Script/

[2017-10-03 14:14] nixel2007 commented on #541
Там экстеншен с протоколом еще не надо пересобирать?

А то у меня как-то грустненько.
![image](https://user-images.githubusercontent.com/1132840/31129795-4db93c4a-a85e-11e7-9149-3f12275f386c.png)

[2017-10-03 14:42] EvilBeaver commented on #541
Дык надо, естессна. Правки и в сервере и в движке были

[2017-10-03 14:42] EvilBeaver commented on #541
И на CI мне нужен докер-контейнер с нодой для сборки vsix

[2017-10-03 15:19] nixel2007 commented on #541
docker run --rm node:latest

:)

А если серьезно, то посмотри в sonar-backend. Там лежит собирающийся Dockerfile, в который можно через volume подключать каталог. в нем npm install и прочее.

[2017-10-03 15:35] EvilBeaver commented on #541
Я все чаще думаю, что нам надо с тобой собрать мини-хакатон, сесть и наконец доделать все хвосты по опенсорсу.

Бухло и суши maybe?

[2017-10-03 16:14] nixel2007 commented on #541
Поддерживаю. Думаю, можно даже у нас дома :D

[2017-10-04 17:40] nixel2007 commented on #536
Сборка готова. Что с публикацией? ты хочешь из девелопа рсинком так же публиковать отдельный файлик (пятый)?

[2017-10-05 12:21] #536 closed, assigned to nobody

[2017-10-05 12:25] EvilBeaver opened #543 "СтрокаТаблицыЗначений в локальных переменных отладки"
В окне Локальные переменные отладчика для СтрокиТаблицыЗначений (и, вероятно, СтрокиДерева) не отобразились ее колонки при раскрытии "плюсиком".

После пары попыток свернуть-развернуть, в этой ветке показалось свойство "Индексы:", а потом отладчик упал.

[2017-10-05 12:28] EvilBeaver commented on #492
@dmpas закрываем же?

[2017-10-05 12:32] EvilBeaver commented on #543
Дополнительно: некорректно получает вложенные свойства у локальной переменной.

[2017-10-05 15:25] dmpas commented on #492
да, давай закроем.

[2017-10-05 15:25] #492 closed, assigned to dmpas

[2017-10-05 17:17] pumbaEO opened #544 "Крах отладки на linux"
При запуске отладки, происходит крах DebugServer.exe, логи
[code]

[2017-10-05 18:18] EvilBeaver commented on #544
Чем логи снимал?

5 окт. 2017 г. 20:17 пользователь "Evhen Sosna" <notifications@github.com>
написал:

[2017-10-05 18:24] pumbaEO commented on #544
Та чуть пропатчил, что-бі в /tmp/debug.log писалось SessionLog, а то он у тебя как-то непонятно включается.

[2017-10-06 05:16] pumbaEO commented on #544
Убрал https://github.com/EvilBeaver/OneScript/blob/develop/src/DebugServer/SessionLog.cs#L22 и https://github.com/EvilBeaver/OneScript/blob/develop/src/DebugServer/SessionLog.cs#L33
Получил лог файл.

[2017-10-07 13:02] dmpas commented on #544
@EvilBeaver https://github.com/EvilBeaver/OneScript/blob/d1bf7fba64c4049691a508bef9777ac65c3782a8/src/DebugServer/DebugeeProcess.cs#L76

тупо после запуска процесса поставил `Sleep(1000);` и падать перестало. Так что нужен какой-то разумный способ убедиться, что процесс запустился, и потом идти дальше.

[2017-10-07 13:03] dmpas commented on #544
обожаю труъ-линуксоидов :trollface:

[2017-10-09 07:05] nixel2007 commented on #525
Закрываем? @pumbaEO @dmpas

[2017-10-09 07:12] #525 closed, assigned to nobody

[2017-10-09 11:07] artbear commented on #492
В ночнике уже есть, верно?

[2017-10-09 11:19] dmpas commented on #492
@artbear да.

[2017-10-10 09:45] artbear commented on #541
Я за

[2017-10-10 17:35] #181 closed, assigned to nobody

[2017-10-11 09:01] #539 closed, assigned to nobody

[2017-10-11 09:18] artbear commented on #539
@EvilBeaver Теперь можно собирать экзешник с библиотеками внутри??

[2017-10-11 09:23] EvilBeaver commented on #539
@artbear давно можно

[2017-10-11 14:18] nixel2007 opened #548 "ПодключитьВнешнююКомпоненту("OneScript")"
Есть часть автоматизационных задач, которые проще делать на OneScript в силу наличия в нем различных библиотек. При этом некоторые управляющей конструкцией должна выступать 1С.

ЗапуститьПриложение, конечно, работает, но предлагаю обсудить возможность подключения оскрипта как внешней компоненты по NativeApi, с единственным (для начала) методом Выполнить().

В 18 движка релизе появился нативный Вып

[2017-10-11 14:25] artbear commented on #548
Тема интересная.
Но, если я не ошибаюсь, нативный Выполнить грузит только код без методов, верно, как и 1С?

[2017-10-11 14:25] artbear commented on #548
и как определить путь к библиотекам для подключения в случае нативной ВК ?

[2017-10-11 14:28] dmpas commented on #548
.net уже пробрасывали в 1с. Теми же средствами можно попробовать подключить движок односкрипта.

[2017-10-11 14:36] nixel2007 commented on #548
Помимо Выполнить вроде бы ещё хотели добавить (добавили?) ВыполнитьСценарий.

[2017-10-11 19:24] EvilBeaver commented on #548
Некроссплатформенно - смотри вариант от @dmpas. Там только винда, но вроде как функционал полный, т.е. выполнить код 1скрипта будет можно.

Кроссплатформенно - пока идей нет. C++ CLI в моно не работает. Кажется, что ЗапуститьПриложение - дешево и сердито - наиболее жизнеспособный вариант.

[2017-10-11 19:26] EvilBeaver commented on #548
Совсем ж0сткий вариант: NativeAPI, которое под капотом делает запуск приложения :)

[2017-10-11 19:31] nixel2007 commented on #548
Вроде никто не мешает сделать native-api so'шник?

[2017-10-11 19:32] dmpas commented on #548
https://infostart.ru/public/541518/

[2017-10-11 20:31] EvilBeaver commented on #528
Вообще говоря, странно. https://github.com/EvilBeaver/OneScript/blob/develop/src/ScriptEngine.HostedScript/Library/Hash/CombinedStream.cs#L88-L89

Тут явно закрываются все потоки, которые добавлены для подсчета хэша.

@realMaxA Очистить() должно помогать.

[2017-10-11 20:36] EvilBeaver commented on #528
Вообще говоря, такие объекты надо явно закрывать через ОсвободитьОбъект. Это будет правильнее.

[2017-10-11 20:37] EvilBeaver commented on #528
Закрою, т.к. по коду внутри класса все выглядит корректным. Если проблема останется - открою заново.

[2017-10-11 20:39] #528 closed, assigned to nobody

[2017-10-11 20:58] #404 closed, assigned to nobody

[2017-10-11 20:59] EvilBeaver commented on #548
Зачем?

[2017-10-12 05:36] nixel2007 commented on #548
Чтобы из него подключать .Нет?
Я мож чего не знаю. В моем понимании Native api компонента - это просто обёртка, реализующая определённый интерфейс. Соответственно по сути задача сводится к подключению к движку из этой компоненты.

Я правильно понимаю, что проблема в вызове .нет из си?

[2017-10-12 06:13] EvilBeaver commented on #548
Да, на моно

[2017-10-12 07:38] nixel2007 commented on #548
Оно как-то жутко костыльно и трудозатратно или в целом пока не особо реализуемо? Мне просто чтобы понять, стоит с этим вообще возиться или не очень.

[2017-10-12 07:47] EvilBeaver commented on #548
Нереализуемо/сложно, поэтому можно эакостылить через запуск процесса, но зачем?

[2017-10-12 07:54] nixel2007 commented on #548
@EvilBeaver чтобы код скриптов не хранить где-то сбоку, в прямо в конфе, при этом не флашить их на диск, а сразу в памяти запускать.

Это так, размышления на тему решения прикладной задачи, которую я тебе вчера описывал.

[2017-10-12 08:24] dmpas commented on #548
Запускаем односкрипт-хост-процесс, который слушает определённый порт, получает текст сценария и исполняет. В 1С будет как обычный вызов HTTP-службы.

[2017-10-12 08:42] EvilBeaver commented on #548
Этот варинт я тоже понимал под" Запуск процесса" а вот внутри процесса 1с - проблемно

[2017-10-12 13:07] dmpas opened #549 "Ошибка разбора "Возврат КонецПроцедуры""
Не кушается правильный с точки зрения 1С код:
[code]

[code]

[2017-10-12 13:25] EvilBeaver commented on #549
Точку с запятой надо поствть. У нас по-моему вообще операторы без точки с запятой как в 1с не работают

[2017-10-12 13:38] dmpas commented on #549
Я понимаю, что её надо поставить. Но это ж 1С:Несовместимо.

[2017-10-12 14:01] EvilBeaver commented on #549
Засунь в 19 майлстоун пожалуйста

[2017-10-12 15:00] nixel2007 commented on #549
Перед концом операторных скобок 1с позволяет не ставить точку с запятой

[2017-10-13 10:20] artbear opened #552 "Задокументировать + зафиксировать в тесте создание Net-типов, которые передачей простого имени класса не создаются"
Из гиттера https://gitter.im/EvilBeaver/OneScript?at=59e07dcce44c43700a29c3b8

@dmpas хочу поиграться в оскрипте с классом System.Uri, но не могу его подключить через COM-механизм работы с CLR
[code]

то есть, конструктор исключения не бросает?

Бросает, но потом, когда он уже понял, что это не CLR тип и уходит в ветку создания честного COM
Т.е. он я не могу правильно задать тип, чтобы он был опоз

[2017-10-13 10:55] dmpas commented on #552
я против. Раз уже решили, что .NET-типы для нас внешние, то будем предполагать, что человек, их использующий, разбирается в вопросе. Иначе это ровно то же самое, что документировать ADODB или WSH.

Поиск типа в загруженных сборках мы запилим.

[2017-10-13 11:09] artbear commented on #552
Не согласен.
Нужно дать разработчику скриптов **удобные** возможности использования АПИ.
Иначе все будут тыкаться и задавать бесконечные вопросы.

А нам всего лишь нужно задокументировать (в доке или в тестах) правильный вызов

при всех вопросах будем направлять на эту доку.
это несложно, но будет очень полезно.

[2017-10-13 11:28] dmpas commented on #552
Мы пробрасываем совершенно стороннее АПИ, на которое есть своя документация. Чтобы разработчику скриптов было удобно - для этого нужны библиотеки-обёртки над этим АПИ, которые будут в духе и букве ОдноСкрипта и которые уже можно документировать.

[2017-10-13 11:37] artbear commented on #552
Сделать библиотеки-обертки - это очень долгий и непростой шаг, который непонятно кто и непонятно когда будет делать.

Я же предлагаю сделать **маленькое и несложное** дополнение, после которого новыми NET-объектами станет **удобнее** пользоваться.

Покажите мне, как решить/упростить проблему Андрея из ишуза.

Я лично зафиксирую это поведение или в доке, или в тесте.

Минимум действий и профит

[2017-10-13 11:40] dmpas commented on #552
это будет допилка в движок.

[2017-10-14 12:36] nixel2007 opened #553 "Отладчик - Неверное определение значений парамеров у переменных типа ИнформацияОСценарии"
![image](https://user-images.githubusercontent.com/1132840/31575707-4b14a714-b0f5-11e7-8e27-7e10cf4634ab.png)

Мок-объект над httpСоединением. Значение ИспользоватьАутентификациюОС отображается в поле Пользователь, а в самом ИспользоватьАутентификациюОС  лежит значение поля ЭтотОбъект (информация о сценарии)

[2017-10-14 12:41] nixel2007 commented on #553
Отладчиком можно остановиться где-то [вот здесь](https://github.com/nixel2007/moskito/blob/develop/test.os#L10)

[2017-10-15 15:03] nixel2007 opened #554 "Рефлектор - расширение информации о методах"
Сейчас единственная информация о параметрах метода - это их количество.

Хотелось бы видеть информацию о наличии/значении параметра по умолчанию и наличии модификатора Знач.

[2017-10-15 15:04] nixel2007 commented on #554
Имена параметров, наверное, тоже могут быть полезными, но это "во вторую очередь"

[2017-10-16 10:28] leemuar opened #555 "Регистрация функции, вызываемой автоматически при инициализации неизвестного типа/обращению к неизвестному модулю"
Хотелось бы иметь автозагрузчик сценариев.

Для этого достаточно возможности указать какую функцию нужно вызвать, если тип не определен.

При создании объекта с неизвестным типом движком будет вызван указанный метод. Если после завершения работы метода тип стал определен - создать объект этого типа и продолжить работу, в противном случае вызвать текущее исключение ("конструктор не найден")

[code]

[2017-10-16 12:56] nixel2007 commented on #555
Идея интересная, но хотелось бы узнать, что натолкнуло на нее?
Лишние строчки кода для ПодключитьСценарий/ЗагрузитьСценарий? Неинтуитивный порядок загрузки? Проблема с подключением собственных библиотек?

[2017-10-16 13:24] EvilBeaver commented on #555
Задача ясна, а вот цель непонятна. Какую задачу вы хотите решить?

[2017-10-16 13:26] artbear commented on #555
Да, цель непонятна.
Хотелось бы еще увидеть структуру проекта и клиентский код, который будет использовать указанную реализацию.

[2017-10-16 13:31] VladFrost opened #556 "Отладчик - точка останова в цикле отрабатывает только один раз"
Отладчик как-то странно работает c циклом.
Ставлю брекпойнт, жму F5 - выполнение доходит до начала цикла.
Жму ещё раз F5, ожидаю, что пройдёт одна итерация и выполнение вновь остановится в начале следующей итерации, а точка останова больше не срабатывает.
Если шагать по F10, то вроде нормально отрабатывает.

![2017-10-16 15_17_17](https://user-images.githubusercontent.com/11960251/31614566-7614d60

[2017-10-16 14:02] CT144 opened #557 "При попытке упаковка в EXE-модуль ОШИБКА (oscript v. 1.0.17.90)"
Make started...
ScriptEngine.Machine.ExternalSystemException: {Модуль C:\Program Files (x86)\OneScript\lib\logos\src\log-manager.os / Ошибка в строке: 68 / Внешнее исключение (System.NullReferenceException): Ссылка на объект не указывает на экземпляр объекта.}
		КаталогКонфига = СтартовыйСценарий().Каталог;

Что делать?

[2017-10-16 15:07] EvilBeaver commented on #557
Миха, ты?

[2017-10-16 16:25] CT144 commented on #557
Нет, не Миха я.

С уважением,
 С.Тимонин

2017-10-16 18:08 GMT+03:00 Andrei Ovsiankin <notifications@github.com>:

[2017-10-16 17:09] metal-doctor commented on #557
Похоже на вот это https://github.com/EvilBeaver/OneScript/issues/539.
В ночной сборке должнно быть исправлено, проверьте.

[2017-10-16 21:18] EvilBeaver commented on #557
Это исправлено в версии 18, попробуйте

[2017-10-17 03:11] iolko opened #558 "ComОбъект Excel"
При работе с объектом Range у листа Excel, допустим:
`НачалоКопирования = Лист.range("A"+Сч); `
нельзя проверить переменную НачалоКопирования на заполненность, а именно `ЗначениеЗаполнено(НачалоКопирования) `- ошибка " Метод или операция не реализована", так же не реализован метод Copy объекта Range:
`Лист.Range(НачалоКопирования.Address+":"+КонецКопирования.Address).Copy();`
В 1С данные фрагменты

[2017-10-17 07:08] CT144 commented on #557
Да, в 18 работает. А подскажите, как отладчик 18 версии использовать?

2017-10-17 0:18 GMT+03:00 Andrei Ovsiankin <notifications@github.com>:

[2017-10-17 08:09] CT144 commented on #557
Увы, но и в 18 версии все не слава богу.
Использую в скрипте компоненту https://github.com/oscript-library/sql.
При выполнении из под oscript.exe все работает.
После упаковки в EXE, получаю ошибку:
{Модуль Service1cDB.exe / Ошибка в строке: 24 / Конструктор не найден
(Соединение)}

Попытки откатиться назад по версиям, вплоть до 15, безуспешны.

2017-10-17 0:18 GMT+03:00 Andrei Ovsiankin <notificat

[2017-10-17 08:55] EvilBeaver commented on #557
Упаковка в EXE упаковывает только скрипты. Никакие двоичные данные (файлы, картинки, компоненты, и т.п.) в EXE не включаются.

В случае компоненты DLL, в принципе, можно попробовать положить ее рядом с EXE, она, скорее всего, подхватится.

Режим упаковки в EXE не является основным, и поддерживается по остаточному принципу. Мы будем только рады, если кто-то возьмет эту подсистему на себя и займется

[2017-10-18 07:28] CT144 commented on #557
Понял, спасибо.

[2017-10-18 07:45] CT144 opened #559 "COMОбъект ADODB.Connection в 18 версии глючит"
Один и тот же "скрипт":
`	Лог.Отладка("Пытаемся соединиться!");
	Соединение = Новый COMОбъект("ADODB.Connection");
	_СтрокаСоединения = ПолучитьСтрокуСоединения(БД);
	Лог.Отладка(_СтрокаСоединения);
	Результат = Соединение.Open(_СтрокаСоединения);
	Лог.Отладка("Соединились");
`
на разных версиях разные результаты:
ОТЛАДКА - Начали (OneScript v.1.0.18.13) ...
ОТЛАДКА - Пытаемся соединиться!
ОТЛАДКА

[2017-10-18 07:46] nixel2007 commented on #559
/cc @dmpas

[2017-10-18 07:50] CT144 commented on #559
Не понял.

2017-10-18 10:46 GMT+03:00 Nikita Gryzlov <notifications@github.com>:

[2017-10-18 08:00] nixel2007 commented on #559
@CT144 это призыв последнего правившего сом-объекты :)

[2017-10-18 08:01] CT144 commented on #559
Моя твоя не понимай.

[2017-10-18 08:02] dmpas commented on #559
@CT144 это такой способ позвать меня в обсуждение.

[2017-10-18 08:44] serpentariy opened #560 "Win XP 64 HTTPS"
Здравствуйте, WinXP64 и простая WinXP. Пытаюсь послать запрос GET на сайт, получаю ошибку...
` Внешнее исключение (System.Net.WebException): The request was aborted: Could not create SSL/TLS secure channel.`

На Win10 скрипт отрабатывает.
ранее пробовал писать запрос через WinHttp.WinHttpRequest.5.1, создавая VBS скрипт. Если скрипт запускать через cmd таже ошибка, если через Explorer все OK. По э

[2017-10-18 09:27] dmpas commented on #560
попробуйте взять ночную сборку, в HTTPСоединении не указывайте ЗащищенноеСоединеие, а в адресе хоста напишите `https://`

[2017-10-18 09:28] dmpas commented on #560
то есть, просто:
[code]

[2017-10-18 09:33] serpentariy commented on #560
Попробую

[2017-10-18 09:40] serpentariy commented on #560
![opm](https://user-images.githubusercontent.com/32895914/31711611-65efb9fc-b401-11e7-9937-48c9a90efa3c.jpg)
Установил ночную сборку, при запуске получаю ошибку

[2017-10-18 09:45] dmpas commented on #560
Забавно.  .Net Framework 4.5 установлен ?

[2017-10-18 09:53] serpentariy commented on #560
нет

[2017-10-18 09:55] serpentariy commented on #560
Блокирующие требования:

.NET Framework 4.5 не поддерживается этой операционной системой.

[2017-10-18 10:01] dmpas commented on #560
попробуйте, вдруг через моно получится: http://www.mono-project.com/download/

[2017-10-18 10:02] dmpas commented on #560
тоже нет ...

[2017-10-18 10:09] serpentariy commented on #560
Печаль

[2017-10-18 10:30] artbear commented on #560
Прикольно - на XP мы не работаем :(

[2017-10-18 10:32] nixel2007 commented on #560
Поддержку XP дропнули в то ли 16ом то ли 17 ом релизе. Осознанно.

[2017-10-18 10:32] EvilBeaver commented on #559
Ну, во-первых, надо найти, где выскочило из заслона System.Reflection.TargetInvocationException и выдавать не его, а InnerException от него.

[2017-10-18 10:35] serpentariy commented on #560
Ну если только "осознано".... на ХР у  нас еще многие работают и "перетекать" не собираются на 10-ку. (:

[2017-10-18 10:41] EvilBeaver commented on #560
Есть вариант пересобрать из исходников под 4-й .net Вроде бы мы не вносили никаких существенных зависимостей от нового фремворка.

[2017-10-18 10:49] dmpas commented on #560
@EvilBeaver вот не поверишь, не соберётся.
взял 17-й выпуск, закинул туда один свой коммит по сертификатам - не собралось:

https://ci.appveyor.com/project/dmpas/onescript/build/1.0.17-alpha227

[2017-10-18 10:56] serpentariy commented on #560
У нас много Хотелок(задумок заказчика) с использованием "GET"-запросов в 1С7.7.
с ХР он(заказчик) переходить не хочет. При помощи WinHttp.WinHttpRequest.5.1, создавая VBS скрипт не взлетело.... Хотелось проверить Ваше, но видно тоже не судьба

[2017-10-18 10:59] nixel2007 commented on #560
Попробуйте поставить 15ый или 16ый движок

[2017-10-18 11:08] serpentariy commented on #560
ни на 15 ни на 16 не взлетело...
`Внешнее исключение (System.Net.WebException): The request was aborted: Could not create SSL/TLS secure channel.`

[2017-10-18 11:39] EvilBeaver commented on #560
Ну значит тут проблема в самом объекте, и в WinXP

[2017-10-18 13:00] artbear opened #561 "Исправить неверное описание в документации"
http://oscript.io/docs/page/install
Нужно отразить факт перехода на .Net 4.5
вместо
[code]

[2017-10-18 13:01] artbear commented on #561
И в самом вверху статьи также поправить
`ля работы требуется наличие .NET Framework версии 4.0 или выше. В среде Linux - Mono версии 4.4 или выше.`

[2017-10-18 14:24] EvilBeaver commented on #560
Если и на VBS не работает, то предлагаю закрыть задачу

[2017-10-18 14:24] EvilBeaver commented on #558
Возможно, связано в том числе с #559

[2017-10-18 14:25] #557 closed, assigned to nobody

[2017-10-18 14:27] EvilBeaver commented on #537
Падает где-то внутри AvalonEdit. Возможно, имеет смысл обновить его версию.

[2017-10-18 14:28] #543 closed, assigned to EvilBeaver

[2017-10-18 14:33] #556 closed, assigned to nobody

[2017-10-18 14:34] EvilBeaver commented on #552
@artbear правильно я понимаю, что ты на днях добавил тест, после которого можно считать эту issue выполненной?

[2017-10-18 17:44] serpentariy commented on #560
Да нет.... если запускать скрипт через cmd wscrypt.exe имя скрипта... не работает,а если через explorer имя скрипта, работает НО выскакивают запросы безопасности запуска.

[2017-10-18 19:03] artbear commented on #552
Нет, неправильно, в этом ишузе решается твоя проблема, которая еще не решена, насколько я понимаю.
Или @dmpas что-то сделал?

[2017-10-19 10:52] #552 closed, assigned to dmpas

[2017-10-19 16:31] artbear opened #563 "Исправить устаревшую документацию по тестированию"
Нужно исправить доку в указанных соседних местах

Исходный ишуз для 1testrunner https://github.com/artbear/1testrunner/issues/19

@EvilBeaver Сможешь поправить? или мне дай права на исправление

[2017-10-20 08:45] nixel2007 opened #564 "Неочевидное падение функции Вычислить"
Жмякание F5 [вот здесь](https://github.com/nixel2007/moskito/blob/develop/test.os) приводит к выбросу исключения:
[code]

Попытался воспроизвести на вот таком случае (и из строки и из обычного сценария) - не падает.

[code]

[2017-10-20 09:46] artbear commented on #564
Я также пробовал на разных примерах с переработкой кода москито.
Вычислить работает всегда, кроме кода с указанной вложенностью из москито :(

[2017-10-20 12:52] EvilBeaver commented on #559
@CT144 можешь дать точный кусок кода, чтобы не гадать, а сразу запустить?

[2017-10-20 13:47] EvilBeaver commented on #558
@iolko а подскажите, 1С для Com-коллекций как обрабатывает ЗначениеЗаполнено? Проверяет на количество элементов в коллекции или просто, если не Неопределено, то считает заполнено?

[2017-10-20 14:32] CT144 commented on #559
Лог.Отладка("Пытаемся соединиться!");
    Соединение = Новый COMОбъект("ADODB.Connection");
    _СтрокаСоединения = "Provider=SQLOLEDB; Data Source="""+ИмяСервера+""";
Initial Catalog="""+ИмяБД+"""; User Id="""+Пользователь+"""; Password="""
+Пароль+""";";
    Лог.Отладка(_СтрокаСоединения);
    Попытка
        Соединение.Open(_СтрокаСоединения);
        Результат = Истина;
    Исключение

[2017-10-20 15:13] EvilBeaver commented on #558
Первый вариант со ЗначениеЗаполнено я починил. Насчет Copy ошибку не подтверждаю, у меня он работает.

[2017-10-22 21:36] #561 closed, assigned to nobody

[2017-10-22 21:37] EvilBeaver commented on #560
Получается, что на VBS тоже не работает в неинтерактивном режиме. И проблема тут не в 1script.

[2017-10-22 21:38] EvilBeaver commented on #496
Я недопонял, мы это починили или нет?

[2017-10-23 01:14] iolko commented on #558
Проверил, все работает, спасибо!

[2017-10-23 01:14] #558 closed, assigned to nobody

[2017-10-23 06:04] dmpas commented on #496
нет, не починили. Остановились на том, что надо депрекейтед алиас вводить.

[2017-10-23 06:04] serpentariy commented on #560
Я не говорил ,что проблема в 1script, я писал что в 1С у HTTPСоединение есть параметр 'ЗащищенноеСоединениеOpenSSL'. в ОдинСкрипт Вы его не используете. вот и возник вопрос.

[2017-10-24 13:31] EvilBeaver opened #567 "Снижение порога вхождения"
Обеспечить более простое вхождение в разработку на 1Script для "типового" 1С-ника.
Максимально автоматизировать развертывание среды разработки, нарастить библиотеку примеров, и др.

Из письма:

[code]

[2017-10-24 13:33] EvilBeaver opened #568 "Перевести содержимое сайта oscript.io в опенсорс"
Хранить markdown содержимого.

[2017-10-24 13:35] dmpas commented on #567
Предлагаю держать свой установочник VSCode с плагином из-коробки, который сам при первом запуске установит ОдноСкрипт и всю стандартную библиотеку.
Так делают, например, C++ и C# расширения VSCode.

[2017-10-24 14:02] nixel2007 commented on #567
А кто писал про wiki c запуском скриптов? переезд на TasksApi произошел только вчера, а уже кто-то уловил устаревшие доки? :D

[2017-10-24 14:07] EvilBeaver commented on #567
Писал человек в почту. Я, кстати, про tasksApi вообще не знаю что это))

[2017-10-24 14:19] EvilBeaver commented on #567
@dmpas а ты знаешь, как делать такой установочник?

[2017-10-24 14:21] #553 closed, assigned to nobody

[2017-10-24 14:28] dmpas commented on #567
Пока только в общих чертах представляю

[2017-10-25 10:13] EvilBeaver opened #569 "Отображать переменные модуля"
Добавить в отладчике scope для переменных модуля (рядом с "Локальными переменными")

[2017-10-25 10:28] EvilBeaver opened #570 "Промах в отображении контрольного значения в отладчике"
В некоторых невыясненных ситуациях вычисление выражения ПеременнаяМодуля.Свойство показывает не то значение, а какое-то соседнее.

Нужно просмотреть функциональность Evaluate на предмет точности работы

[2017-10-25 14:49] EvilBeaver opened #571 "Падение теста managed-com в ветке develop"
В ветке develop стабильно падает 1 тест. В 18 релизе не падает.

@dmpas обещал посмотреть

[2017-10-25 14:52] dmpas commented on #571
Не поверишь, открыл вот райдер полчаса назад.

[2017-10-25 14:54] dmpas commented on #571
и самая беда, что у меня тест не падает...

[2017-10-25 14:56] dmpas commented on #571
[code]

@EvilBeaver  это же значит, прошли?

[2017-10-25 15:13] EvilBeaver commented on #571
Напасть, как она есть

[2017-10-25 15:31] dmpas commented on #571
Понял, почему у меня не падает: я под AnyCPU собираю. Под x86 тоже падает - будут разбираться.

[2017-10-25 15:46] dmpas commented on #571
Жестяная жесть. Первый раз при поиске типа он находит `ADODB.ConnectionClass` как COM-объект по ProgID `ADODB.Connection`.
А второй раз он находит его (опа!) в подключенной сборке! Видимо, при первом подключении COM-объекта, он в текущий домен подгружает найденную сборку. В х64 такой сборки не было и всегда срабатывал чистый COM-объект - потому у меня тесты не падали.

Копаю дальше.

[2017-10-26 08:11] EvilBeaver commented on #571
@dmpas что-то пошло не так http://build.oscript.io/job/1Script/job/develop/87/testReport/

[2017-10-26 08:36] dmpas commented on #571
![3b3](https://user-images.githubusercontent.com/5665433/32042910-e15169ce-ba41-11e7-8c49-b09d509ec23b.jpg)

[2017-10-26 09:11] EvilBeaver commented on #571
@dmpas думаю, если мы просто отрубим этот тест на Linux - будет не очень больно

[2017-10-26 09:30] dmpas commented on #571
@EvilBeaver я не теряю надежды.

[2017-10-26 15:32] #571 closed, assigned to dmpas

[2017-10-26 15:33] #548 closed, assigned to nobody

[2017-10-27 02:53] ArsenShnurkov opened #574 "Некоторые сообщения при сборке на Gentoo Linux"
$ mono oscript.exe
    1Script Execution Engine. Version 1.0.19.0

    Usage:

    I. Script execution: oscript.exe <script_path> [script arguments..]

    II. Special mode: oscript.exe <mode> <script_path> [script arguments..]
    Mode can be one of these:
      -measure    measures execution time
      -compile    shows compiled module without execution
      -check [-env=<entrypoint-file>]provi

[2017-10-27 03:03] #574 closed, assigned to nobody

[2017-10-27 09:15] EvilBeaver commented on #574
Я уже не помню точно, @dmpas возможно, подскажет. По-моему, для сборки под линукс нужно собирать файл 1Script_Mono.sln

[2017-10-27 09:16] ArsenShnurkov commented on #574
Всё уже собрали, опакетили, в официальный оверлей <a href="https://github.com/gentoo/dotnet/pull/343">поместили</a>, теперь только тестировать надо

[2017-10-27 09:27] EvilBeaver commented on #574
А где бы все это посмотреть? А то у нас есть пакет в arch, делал, если не ошибаюсь @konarev, но он обновляется руками и, как правило, неактуален.

[2017-10-27 09:45] ArsenShnurkov commented on #574
у меня тоже руками. Я же дал <a href="https://github.com/gentoo/dotnet/pull/343">ссылку</a>. Если язык будет полезным, то потом утрясётся и заавтоматизируется.

[2017-10-27 09:57] EvilBeaver commented on #574
@ArsenShnurkov ссылку не заметил, спасибо.

Из чистого любопытства: mpkh пишет "omg odin ass". Это он откуда понабрался? :)

[2017-10-27 09:57] ArsenShnurkov commented on #574
Он русскоговорящий. Просто пошутил, смешно же :)

[2017-10-27 09:58] EvilBeaver commented on #574
Смешно, да. Я просто подумал, что где-то в исходниках у вас так написано ) Но уже вижу, что нет.

[2017-10-27 10:40] ArsenShnurkov commented on #568
У меня есть отличный мегаплан, даже два. Сайт ведь весь насквозь статичный?
1) Нужно использовать gh-pages фичу гитхаба, а страницы формировать при помощи хука интегрированного с Travis-CI и шаблонного движка Razor.
2) Razor надо переписать на языке 1Скрипт

[2017-10-27 10:43] ArsenShnurkov commented on #567
Документация сейчас написана через Одина. Нужно переписать для людей.

Мои претензии таковы:

1) в разных местах упомянуты разные требования к минимально необходимой версии mono. Мне-то пофиг, но вот сам факт...

2) по исходнику класса компилятора можно догадаться, что в синтаксисе есть
конструкция try-catch-finally. Но как её записывать не ясно, потому что в документации это не описано (и формаль

[2017-10-27 10:57] EvilBeaver commented on #568
@ArsenShnurkov ты не поверишь, но у нас даже есть под это проект. https://github.com/EvilBeaver/OneScript.Web

Сайт не совсем статичный, из динамики там отображение доступных файлов в downloads

[2017-10-27 11:04] ArsenShnurkov commented on #568
1) список файлов наверное обновляется коммитами (ну или можно так сделать), а значит хук перегенерирует всё что нужно. Так что можно считать сайт совсем статичным
2) Razor можно использовать без MVC (как и oscript.exe из консоли), поэтому тот ваш проект - он скорее для другого, решает более сложную задачу, чем минимально необходимая. Его надо будет хостить и не получится всё провернуть только в ра

[2017-10-27 11:11] EvilBeaver commented on #568
Короче, тут целое поле для попроектировать. Изначально, данная issue предполагала тупое размещение существующего маркдауна на гитхабе.

[2017-10-27 14:14] leemuar commented on #555
Похоже на #257

[2017-10-27 14:16] leemuar opened #575 "Добавить отсутствующее свойство ThisObject"
Русский синоним существует - ЭтотОбъект, а английского нет.

[2017-10-27 14:33] EvilBeaver commented on #575
@dmpas вроде бы этого больше нет

[2017-10-27 15:21] dmpas commented on #575
Возможно. Я год назад там лазил последний раз.

[2017-10-29 18:25] EvilBeaver commented on #568
https://github.com/EvilBeaver/oscriptiocontent

[2017-10-29 18:25] #568 closed, assigned to nobody

[2017-11-06 13:00] leemuar commented on #555
Я хочу решить сразу несколько проблем:

1. Не хочу писать везде ```ЗагрузитьСценарий()``` или ```Использовать``` при работе с собственными и чужими библиотеками, не входящими в стандартную
* Во-первых мне лень.
* во-вторых не хочу распространять по скриптам знание о том, что библиотеки лежат по определенным путям в файловой системе. Хочу, чтобы знание о том где брать модуль было сосредоточено толь

[2017-11-06 13:12] nixel2007 commented on #555
1. Подключение всего можно сделать в одной точке входа уже сейчас. Для этого надо просто создать головной скрипт и подключить там через Использовать весь подчиненный каталог.
2. Работа с локальными зависимостями в опм тоже уже есть - это параметр -l при установке. Он ставит все зависимости в каталог oscript_modules, по аналогии с npm.

[2017-11-06 13:14] nixel2007 commented on #555
Переопоеделение путей поиска при подключении библиотек по именам тоже уже есть - для этого служит файл oscript.cfg рядом с точкой входа в приложение и/или скриптами, где идёт подключение.

[2017-11-06 13:43] EvilBeaver commented on #555
Предлагаю все-таки недостатки устранить в рамках одного инструмента - opm. Тем более что в нем есть часть желаемого

[2017-11-06 14:17] leemuar commented on #555
ок, а возможность добавления автозагрузчика-то добавлять будете? Я бы тогда в opm его использование добавил

[2017-11-06 14:19] EvilBeaver commented on #555
Авозагрузчика чего? Я пропустил возможно...

[2017-11-06 14:47] leemuar commented on #555
@EvilBeaver ну собственно то о чем в первом сообщении этого ишуза говориться: автозагрузчик типов и модулей

[2017-11-06 15:16] leemuar commented on #555
Я предлагаю следующее:

в движке есть стек, хранящий функции вызова. Когда с помощью оператора "Новый" инициализируется неизвестный движку тип - вызываются процедуры из этого стека по очереди. Если после их вызова новый тип все еще не определен - вызывать исключение. То же самое при обращении к неизвестному символу (для модулей).

В языке нужны функции, позволяющие добавить и удалить методы из это

[2017-11-06 17:44] EvilBeaver commented on #555
Идея понятна. Но на уровне движка потребует серьезной допилки. И потом, нужен ведь не хендлер, а скорее сама возможность дополнения глобального контекста, разве нет?

[2017-11-06 18:20] leemuar commented on #555
@EvilBeaver возможность дополнения глобального контекста (по крайней мере для типов) уже есть в движке: ПодключитьСценарий(). #Использовать уже умеет создавать глобальные переменные (модули)), этого не достаточно?

Нужна только возможность "подписаться" на событие движка "тип не определен" и "символ (модуль) не определен", я думал в обработчике события использовать ПодключитьСценарий() и то что вы

[2017-11-06 18:33] leemuar commented on #555
Я так понял, что сейчас в языке нет возможности определять глобальные переменные, хотя инструкция #Использовать это умеет. т.е. в движке уже заложена возможность дополнять глоб контекст, просто нет в самом языке способов это сделать

Могу предложить чтобы не добавлять доп. конструкции в язык для дополнения глоб. контекста сделать так: добавить подписку на событие "символ не найден", обработчик кот

[2017-11-06 19:53] nixel2007 commented on #555
В языке есть методы ДобавитьКласс и ДобавитьМодуль. Они вызываются в package-loader

[2017-11-06 19:59] leemuar commented on #555
@nixel2007 Спасибо! Тогда вообще никаких проблем, нужны только подписки на события "тип не определен" и "символ не определен" - в обработчиках уже средствами языка подключим, используя эти функции.

[2017-11-07 09:49] EvilBeaver commented on #555
насчет глобальных: такая возможность закладывалась, но сейчас **Использовать** этого не умеет из-за особенностей реализации "памяти" виртуальной машины. Расширять гл. контекст можно только свойствами, но не методами.

Неглобально - как описал @nixel2007 через кастомный загрузчик.
А документация на методы - есть. Вот она: http://oscript.io/docs/page/package-loader

[2017-11-08 11:15] artbear opened #577 "Неожиданное завершение скрипта с ошибкой из движка"
При запуске `1bdd exec .\features\ВыгрузитьИнфоБазуВФайлdt.feature` возникает ошибка
[code]
**Ошибка возникает как на 18 релизе, так и на свежайшей версии 19
На 17 релизе работает.**
в линуксе аналогично
из-за этой проблемы у нас на локальных машинах нельзя протестировать `vanessa-runner`

**Сценарий повторения:**
+ ставим движок, 18 или 19
  + с установкой штатных библиотек
+ opm install 1bdd
+ o

[2017-11-08 11:48] dmpas commented on #577
для анализа хотелось бы чего попроще. Там в стэке закопаться можно, пока от старта 1bdd до точки падения дойдёт...

[2017-11-08 12:00] pumbaEO commented on #577
Шаг Допустим я подготовил репозиторий и рабочий каталог проекта - все ломает, точнее метод Шаг.ВыполнитьШаг(), который вызывается в методе реализации шага.  В фиче я оставил только 2 шага, "Допустим я подготовил репозиторий и рабочий каталог проекта" содержит в себе только "БДД.ВыполнитьШаг("И ии")".
[code]

в реализации шагов в БазовыйКонтекст.os в методе ЯПодготовилРепозиторийИРабочийКаталогПрое

[2017-11-08 12:22] artbear commented on #577
@pumbaEO Женя, отформатируй, плиз, свое сообщение.
сейчас непонятно, как ты исправил и что еще сделал.

[2017-11-08 12:23] artbear commented on #577
@dmpas Если бы можно было найти проще, давно бы сделали :)
Пока особо больше помочь не можем.
Раньше работало, а теперь нет :(

[2017-11-09 06:21] EvilBeaver commented on #577
Ок, принимаем к расследованию пока это

[2017-11-09 07:46] nixel2007 commented on #577
Возможно проблемы со стеком как-то связаны с соседним ишузом про москито

[2017-11-09 08:43] EvilBeaver commented on #577
@nixel2007 это с которым ишузом?

[2017-11-09 08:47] artbear commented on #577
Я так понимаю, что с Выполнить https://github.com/EvilBeaver/OneScript/issues/564

[2017-11-09 08:49] EvilBeaver commented on #577
Нет это разные.

[2017-11-09 08:56] artbear commented on #577
Вчера с Женей слегка упростили проблему и выяснили, что падает именно вызов `БДД.ВыполнитьШаг`
Я подготовил демо-пример [files-for-577.zip](https://github.com/EvilBeaver/OneScript/files/1456958/files-for-577.zip)

**Сценарий повторения:**
+ ставим движок, 18 или 19
  + с установкой штатных библиотек
+ opm install 1bdd
+ переходим в каталог архива
+ запускаем команду `1bdd exec .\1.feature`

[2017-11-09 08:58] artbear commented on #577
Надеюсь, так будет попроще разбираться.
и `opm install vanessa-runner` выполнять уже не нужно

[2017-11-12 12:08] artbear opened #579 "Странная ошибка выполнения, исчезающая после мельчайшей перестановки кода"
Есть ишуз https://github.com/artbear/1bdd/issues/124
[code]

Например, проблема на коммите https://github.com/artbear/1bdd/commit/0eda95148bc1438d1fc8b110b4089f4e072900eb

Проблема в строке
[code]
Если ее разделить на 2 строки
[code]
то проблема исчезает.

Похоже, что-то с  движком :(
У меня 1скрипт 1.0.19.92

[2017-11-12 14:02] EvilBeaver commented on #579
А ошибка-то какая? И просой пример запуска, если можно?

[2017-11-12 14:56] artbear commented on #579
В упомянутом ишузе все написано про ошибку, я не стал дублировать.

Пример запуска `1bdd gen ЛюбаяФича` или `1testrunner -runall tests` в каталоге 1bdd

[2017-11-12 14:58] artbear commented on #579
В ветке девелоп 1bdd я уже исправил, поэтому, если что, использовать коммит выше из описания ишуза.
На 18 и 19 релизах баг повторяется.

[2017-11-12 14:59] artbear commented on #579
Выложил ошибку в описание текущего ишуза, вам будет проще

[2017-11-12 17:32] thedemoncat opened #580 "Поддержка режима отладки "Run In Terminal""
oscript 1.0.18  пример скрипта snake.os
отладчик падает на строке 51 Консоль.ВидимостьКурсора(Ложь);

[2017-11-12 19:09] dmpas opened #581 "Аннотации"
пилим аннотации, чтобы грабить корованы и вот это всё.

Тут первый пример:
https://github.com/dmpas/OneScript/blob/feature/annotations/tests/annotations.os

Цель - получать некоторую произвольную мета-информацию через рефлектор.

Обсуждаем :)

[2017-11-12 20:47] EvilBeaver opened #582 "В ночной сборке на сайте отсутствует DEB"
На сайте в downloads отсутствует DEB. На билд-сервере в артефактах он есть.

[2017-11-13 08:33] nixel2007 commented on #564
Хвала шаманам окна и пузатого пингвина, починилось само.

[2017-11-13 08:33] #564 closed, assigned to nobody

[2017-11-13 12:34] dmpas commented on #581
На текущий день прорабатываем следующий синтаксис:
[code]

Высказываемся, не стесняемся.

[2017-11-13 12:46] artbear commented on #581
Мне нравится такой вариант

[2017-11-13 13:01] dmpas commented on #581
Про объявления ты высказался, а теперь подумай, как и где ты бы хотел это использовать.

[2017-11-13 13:31] EvilBeaver commented on #581
Неясен момент насчет "с именем" и "без имени"

[2017-11-13 13:39] dmpas commented on #581
Сейчас в целом нет ясности в области применения аннотаций. Потому закладываю на будущее:
Без имени:
[code]

С именем:
[code]

[2017-11-13 13:43] dmpas commented on #581
Либо мы сразу типизируем аннотации: вводим синтаксис объявления, свойства, методы, всё такое.
Либо разрешаем писать чего попало в надежде, что "там разберутся".

[2017-11-13 13:58] EvilBeaver commented on #581
Я бы пошел по пути "сами разберутся", поскольку у меня нет хороших идей насчет объявления аннотаций. Аннотация это имя и массив параметров-констант. Далее этот концепт спокойно расширяется на что-то большее

[2017-11-13 19:32] EvilBeaver commented on #564
Так не бывает.. никто ничего не трогал. Точно починилось и точно ли был мальчик?

[2017-11-13 19:39] nixel2007 commented on #564
@EvilBeaver у @artbear воспроизводилось на другом компе. Теперь на моем работает, Артур вроде ещё не проверял

[2017-11-14 07:25] artbear commented on #564
@EvilBeaver @nixel2007 У меня также вылечилось :)
ночник вчера поставил 1.0.19.94

[2017-11-14 07:26] artbear commented on #577
Эта ошибка в 1.0.19.94 повторяется.

[2017-11-14 12:31] artbear opened #583 "Перехват всех сообщений, которые выдаются через штатный "Сообщить""
Было бы полезным добавить возможность перехвата всех сообщений, которые выдаются через штатный "Сообщить".
Например, это полезно для доп.управления.

Полезные сценарии
- выдаем красивый прогресс-бар.
  + Новые сообщения в консоли не дают сделать красивый прогресс-бар, т.к. новые сообщения будут на новой строке
- скрытие ненужных подробностей от пользователя
- полное логирование абсолютно всех сооб

[2017-11-14 12:36] dmpas commented on #583
как?

само слово "Сообщить" как бы намекает, что мы хотим поделиться этой важной информацией. Для всего технического должны использоваться логи.

зачем? и зачем тогда логос?..

[2017-11-14 12:37] nixel2007 commented on #583
@dmpas

например библиотекой progbar

[2017-11-14 12:40] dmpas commented on #583
@nixel2007 дай примерный код. Вот есть у тебя событие `ПриПоявленииСообщения(Знач Сообщение, Знач Маркер)`, вот как ты по нему полоску состояния сделаешь???

[2017-11-14 12:41] artbear commented on #583
@dmpas Вот я же явно написал :(

кто-то из используемых библиотек или приложений не юзает логос, например, или юзает частично (и Сообщить, и логос)

Сейчас чтобы получить полный лог для этих случае, нужно выполнять перенаправление вывода в файл `> file.txt`
А в этом случае интерактивного вывода нету :(

[2017-11-14 12:42] Stepa86 commented on #583
Для вывода в лоб - Сообщить, для вывода с переопределением и красивостями - логос. Я конечно использую Сообщить параллельно логосу чисто для раскрашивания текста, но это изза лени только. В общем не вижу смысла

[2017-11-14 12:42] artbear commented on #583
Ребята, а подумать?

[2017-11-14 12:44] dmpas commented on #583
я бы с бОльшим удовольствием запилил логи прямо в движок, а логос - уже надстройкой над этим.

[2017-11-14 12:45] artbear commented on #583
Запилить в движок интересно, но сложно.
А логос уже есть.
И сделать универсальный обработчик полезно, пригодится для разных задач

[2017-11-14 12:46] artbear commented on #583
В первую очередь, конечно, нужно полное логирование абсолютно всех сообщений скрипта и всех используемых пакетов, а не только при использовании явных вызовов logos

[2017-11-14 12:49] dmpas commented on #583
Давай посмотрим в корень проблемы. Как мне кажется, он тут:

почему народ использует Сообщить вместо логос??? Потому что логос надо (а) подключить, (б) создать, (в) в глобальную переменную сунуть в каждом модуле. А так фигак-фигаг Сообщить, ну типа на время, а потом уже "работает-не-трожь".

Если на уровне движка можно будет вместо `Сообщить("отладочное сообщение");` сразу писать `лог("Отладочное

[2017-11-14 12:54] Stepa86 commented on #583
Сообщить в библиотеках не сказать что часто пользуют, чтоб это стало проблемой https://github.com/search?q=org%3Aoscript-library+%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B8%D1%82%D1%8C%28&type=Code

[2017-11-14 13:28] artbear commented on #583
Еще раз - если на уровне движка можно будет логи, это будет несомненно круто.
Но это
1 сложновато в согласовании/реализации
2 долговато в согласовании/реализации :)
3 и все равно без гарантии, что не будет юзаться Сообщить :(
  + т.е. ситуация после реализации ничем не будет отличаться от текущей!

3 можно обойтись простой и универсальной вставкой, когда вызывающий код-клиент сам будет решать, что

[2017-11-14 14:04] artbear commented on #583
39 раз в РАЗНЫХ библиотеках - это разве не проблема??
я как раз об этом и говорю!

Нафига мне, вызывающему коду зависеть от выдачи сообщений?

я владелец консоли, нафига они (пакеты) кидают какие-то сообщения в МОЮ консоль :)

[2017-11-14 14:05] artbear commented on #583
/cc @EvilBeaver @nixel2007 @kuntashov @pumbaEO

[2017-11-14 14:58] EvilBeaver commented on #583
Ну раз уж меня призвали, я скажу, что Артур хочет странного, а зачем именно - не говорит.

[2017-11-14 14:58] EvilBeaver commented on #583
Какую конкретную задачу ты решаешь и полагаешь решить с помощью этой функциональности?

[2017-11-14 14:59] leemuar commented on #583
Интересное предложение.
Но выглядит как обходное решение для проблемы плохого дизайна существующих скриптов/библиотек. Библиотеки должны использовать специализированные библиотеки/объекты для вывода (logos, например), а не использовать стандартное Сообщить() напрямую.

Предлагаю

* предложенную подписку на событие не делать
* библиотеки отрефакторить (заменить Сообщить() на вызов библиотеки),
* в

[2017-11-14 15:00] pumbaEO commented on #583
Он хочет как в питоне
Процедура МояСообщитьПерехват(арг1, арг2)

КонецПроцедуры

Сообщить = МояСообщитьПерехват;

[2017-11-14 15:05] artbear commented on #583
а я ведь уже писал в самом начале про сценарии использования

[2017-11-14 15:09] leemuar commented on #583
Если в терминах 1С, то выглядит как подписка на событие с возможностью отключения стандартной обработки:

[code]

[2017-11-14 15:12] artbear commented on #583
Да, я забыл написать про СтандартнаяОбработка, конечно.

[2017-11-14 15:14] artbear commented on #583
@EvilBeaver @dmpas Как мне решить прикладную задачу:
+ получить немедленный интерактивный вывод работы приложения-скрипта в консоли
+ и ОДНОВРЕМЕННО в то же время сохранить лог работы приложения в файле
?

Предложите вменяемый вариант

ЗЫ желательно и для Win и для Lin :)

[2017-11-14 15:15] artbear commented on #583
За мое предложение уже 1 голос за :)

[2017-11-14 15:16] artbear commented on #583
Точнее, за мое предложение, конечно.

[2017-11-14 15:25] leemuar commented on #583
Немного обобщая проблему: может добавить в движок возможность подписок на события (аналог ДобавитьОбработчик в 1С) и сделать чтобы некоторые стандартные механизмы движка генерировали события? Это позволит решить https://github.com/EvilBeaver/OneScript/issues/555 и https://github.com/EvilBeaver/OneScript/issues/583 (этот ишуз)

[2017-11-14 15:38] leemuar opened #584 "Стандартный механизм событий"
Добавить в движок механизм событий, подписок на них.
Добавить генерацию событий стандартным объектам. Ближайший аналог из 1С: ДобавитьОбработчик / УдалитьОбработчик

Решает https://github.com/EvilBeaver/OneScript/issues/555 и https://github.com/EvilBeaver/OneScript/issues/583

[code]

[2017-11-14 15:40] leemuar commented on #583
Предложил более общее решение: https://github.com/EvilBeaver/OneScript/issues/584

[2017-11-14 15:43] EvilBeaver commented on #583
приложения-скрипта, запущенного через 1commands? Ну так же, как и сейчас, чтением потока. Предполагаю, что ты натолкнулся на сложности с этим. Расскажи про них тогда.

@leemuar в задаче #555 проблема в том, что ошибка неизвестного символа генерируется во время компиляции модуля. А обработчик должен работать во время выполнения, т.е. когда компиляция уже завершена. Получается проблема курицы и яйца

[2017-11-14 15:43] leemuar commented on #581
Это разве не сильный отход от "совместимости" с 1С? Вроде тут были против подобных изменений

Не очень понятно какая именно информация нужна будет для получения через Рефлектор. Можно какой-нибудь реальный пример использования?

[2017-11-14 15:44] EvilBeaver commented on #584
Да, хорошая идея. Осталось решить вопрос с тем - какие именно это будут события :)

[2017-11-14 15:45] nixel2007 commented on #584
@EvilBeaver можно пойти радикально... Дать возможность переопределить любую функцию глоб контекста

[2017-11-14 15:45] artbear commented on #583
@EvilBeaver Мне нужно запустить свой скрипт интерактивно
+ получить результаты и на экране и в файле для анализа

Предложите вариант

[2017-11-14 15:46] artbear commented on #583
1коммандс пока сюда приплетать не нужно :)

[2017-11-14 15:47] artbear commented on #584
Да, с переопределение глоб.функций будет круто и решит мою проблему.

Я так и в 1С++ в свое время делал - перехватывали любые контекст 1С 77

[2017-11-14 15:50] leemuar commented on #584
Не надо Monkey Patching, пожалуйста :(

[2017-11-14 15:53] nixel2007 commented on #584
если переопределение, то да, это monkey patching. а если именно подписка на событие, то вроде бы не очень страшно. ну ладно, очень страшно, но не совсем.

[2017-11-14 16:01] artbear commented on #584
В 1С++ все было красиво и удобно, народ активно пользовался этой фичей под название "Перехватчик"

[2017-11-14 16:05] YLioY opened #585 "Ошибка при запуске gitsinc "гитрепозиторий.os" . Сразу после установки"
Пробовал установить gitsync как по инструкции , перед этим пользовался "oscript" , скачал через сайт.

C:\WINDOWS\system32>opm install gitsync
ИНФОРМАЦИЯ - Скачиваю файл: gitsync.ospx
ИНФОРМАЦИЯ - Устанавливаю пакет gitsync
ИНФОРМАЦИЯ - Устанавливаю зависимость: logos
ИНФОРМАЦИЯ - logos уже установлен. Пропускаем.
ИНФОРМАЦИЯ - Устанавливаю зависимость: cmdline
ИНФОРМАЦИЯ - cmdline уже установлен.

[2017-11-14 16:14] leemuar commented on #584
Если будет механизм событий и движок будет генерировать событие на вызов всех стандартных функций - можно будет реализовать так:

[code]

[2017-11-14 16:38] nixel2007 commented on #585
Скорее всего в гитсинке неверная зависимость от gitrunner. Попробуйте обновить через opm install gitrunner

[2017-11-14 16:49] dmpas commented on #581
@leemuar директивы компиляции используются в модулях форм. У нас нет модулей форм. Нет модулей форм - нет совместимости - нет проблем.

Пример использования: типизация веб-сервисов.

[2017-11-14 17:18] leemuar commented on #581
@dmpas я не могу сообразить как это можно использовать. Для меня это выглядит как JavaDoc, где вместо использования комментариев добавили новую директиву

Аннотации же - не контракт/интерфейс, а просто комментарии? Какой код может полагаться на комментарии при исполнении? Можно какой-нибудь маленький практичный пример, пожалуйста?

[2017-11-14 17:39] nixel2007 commented on #581
@leemuar это и не контракт и не интерфейс. Это выполнение какой-то логики на более высоком слое. Допустим, можно объявить переменную &Логирование("oscript.v8runner.lib", УровниЛога.Отладка) Лог, а в более высокоуровневом скрипте автоматически инициализировать её нужным логом и уровнем отладки. На прикладном же уровне можно сразу тыкать Лог.Отладка("тыц тыц");

[2017-11-14 19:38] dmpas commented on #581
@leemuar
[code]

на основании этих данных я могу:
  * составить wsdl
  * проверить типы входящих параметров
  * правильно сериализовать ответ

[code]

то есть, это контракт. Но нетипизированный. "Понятия" :trollface:

[2017-11-14 20:00] EvilBeaver commented on #584
Чуваки, ну смотреть на каждый вызов - нет ли там оверрайдов - это какое замедление байт-кода же! Оно вам чо, вот прямо точно надо?

[2017-11-14 20:02] EvilBeaver commented on #583
@artbear если я правильно понял кейс, то это логос и два аппендера. На экран и в файл.

[2017-11-14 20:09] leemuar commented on #584
Не ну мы пока фантазируем, набрасываем идеи.
Наверно событие на каждый вызов функции - это совсем перебор. С другой стороны, даже если хочется такой функционал использовать за счет производительности - почему нет?

[2017-11-14 20:15] EvilBeaver commented on #585
В админской командной строке наберите opm install gitrunner

[2017-11-14 20:16] EvilBeaver commented on #581
ААА! Это жы гениально! Пропускание тестов под линуксом через аннотации. Такое же есть и в других языках, но почему-то мне в голову не пришло, что здесь можно будет также! ХОТЕТЬ!!!

[2017-11-14 20:31] leemuar commented on #581
Эх, литералы массива не внедряются потому что "новая конструкция, типичный 1сник не поймет", а аннотации одобряются...

[2017-11-14 20:53] nixel2007 commented on #583
@EvilBeaver не совсем. В своих скриптах ты можешь контролировать вывод и переписать все через логос. А потом ты начинаешь использовать стороннюю библиотеку, автор которой упорно везде использует Сообщить, пулл-реквест с исправлением не принимает и вообще. Форкать и постоянно синхронизировать - вариант не очень

[2017-11-14 21:14] kuntashov commented on #583
Как справедливо заметил @leemuar :

Нужно рефакторить библиотеки.

@nixel2007

Это гипотетически или есть реальный пример писателя на OS, чья нетленка ну вот прямо нереально  восстребована, но автор редиска, а вы сами сделать аналог не можете?

Имхо, из области фантастики. Все кто пишет на OS что-то стоящее, адекватные люди, и все друг друга знают :)

[2017-11-14 21:16] kuntashov commented on #583
Ну и да, напишите простейший style guide с требованиями к библиотечным скриптам и правила проверки для сонара + бейджик для гитхаба в виде медальки Серебряной пули в качестве дополнительного стимула.

[2017-11-15 02:31] NeonSalamander commented on #487
Наблюдается такая же проблема, це баг або фіча?

[2017-11-15 05:45] dmpas commented on #581
@leemuar проблему с массивами можно решить существующими средствами. Без кошерного сахарку, но можно. А проблему с метаданными - только так. При том, что синтаксис прикручиваем вполне одинэсный.

[2017-11-15 05:47] dmpas commented on #584
@leemuar потому что получим тучу говнокода в библиотеках, а потом начнётся, что "односкрипт - тормознутый", а ускорить его не позволят три тонны существующего кода.

[2017-11-15 08:29] EvilBeaver commented on #579
@artbear то есть, я должен взять 1bdd из коммита 0eda95148bc143, зайти в каталог 1bdd и запустить в нем ```1testrunner -runall tests```, верно?

[2017-11-15 08:36] EvilBeaver commented on #580
Это не ошибка отладчика, это почему-то не работает класс "Консоль" внутри Visual Studio Code.
Оно же перехватывает вывод программы, а стало быть, двигать курсор в перехватываемом выводе не удастся. Вот оно и падает.

Т.е. падает сама программа "Змейка", а не отладчик.

[2017-11-15 08:37] EvilBeaver commented on #580
Скорее всего, это не починить. Призову @nixel2007 @bambr1975 возможно они знают какие-то маневры обходные.

[2017-11-15 08:56] EvilBeaver commented on #583
Иными словами, подписка на события - дело хорошее. Вопрос на какие события. Например, событие завершения работы - кажется неплохим вариантом, подчистить там за собой и все вот это вот. А перехват вызова Сообщить кажется вариантом плохим, поскольку Сообщить - это низкоуровневая функция, прямой вывод в stdout, аналог printf. Эту задачу если и надо решать (в чем сомневаюсь), то иначе, предоставляя ин

[2017-11-15 08:58] EvilBeaver commented on #581
@leemuar аннотации есть в 1С, потому и одобряются. Они там даже так и называются "Аннотации". В расширениях конфигураций используются.

[2017-11-15 09:03] EvilBeaver commented on #487
Упаковка в скрипта EXE это фича, а упаковка в exe совместно с отдельными от скрипта файлами - неизведанный доселе способ использования этой фичи. Идейно - должно работать. Но раз не работает, то вроде как баг. Метка хелп-уонтед установлена.